n8n-workflows/01_lead-generation/SYS 01 — Website Form Lead Intake.json
{
  "updatedAt": "2026-04-04T05:14:41.048Z",
  "createdAt": "2026-03-21T17:17:54.963Z",
  "id": "JzghCkfPxT5CV1iT",
  "name": "SYS 01 — Website Form Lead Intake",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "note-sys16",
      "name": "Note — About this workflow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1.3,
      "position": [
        48,
        48
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hubspot-website-form-lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "sys16-webhook",
      "name": "Website Form Lead Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        272,
        64
      ],
      "webhookId": "9926876e-7c82-4d1b-b9dd-879d84922dc4"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "1eTTVoSFSlSPvZV4",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "id": "sys16-config",
      "name": "Get Config",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        496,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "const root = $('Website Form Lead Webhook').first().json;\nconst body = root.body && typeof root.body === 'object' && !Array.isArray(root.body) ? root.body : root;\nconst config = $('Get Config').first().json;\nconst rawContact = body.contact && typeof body.contact === 'object' && !Array.isArray(body.contact) ? body.contact : body;\nconst intake = body.intake && typeof body.intake === 'object' && !Array.isArray(body.intake) ? body.intake : {};\n\nconst pick = (obj, keys) => {\n  if (!obj || typeof obj !== 'object') return '';\n  for (const key of keys) {\n    const value = obj[key];\n    if (value !== undefined && value !== null) {\n      const s = String(value).trim();\n      if (s) return s;\n    }\n  }\n  return '';\n};\nconst normalize = (value) => {\n  if (value === undefined || value === null) return '';\n  if (Array.isArray(value)) {\n    return value.map((item) => String(item).trim()).filter(Boolean).join(', ');\n  }\n  return String(value).trim();\n};\nconst objValue = (obj, key) => (obj && typeof obj === 'object' && !Array.isArray(obj) ? obj[key] : undefined);\nconst objString = (obj, key) => normalize(objValue(obj, key));\n\nconst contactId = pick(body, ['contactId', 'contact_id', 'hs_object_id', 'vid', 'objectId']) || pick(root, ['contactId', 'contact_id', 'hs_object_id']);\nconst createDeal = body.createDeal === false || body.createDeal === 'false' ? false : true;\nconst tier = pick(body, ['tier']) || 'starter';\nconst painOverride = pick(body, ['painOverride', 'message', 'notes', 'pain']) || '';\nconst hubspotDealId = pick(body, ['hubspotDealId', 'dealIdFromSite']) || '';\nconst amountRaw = body.amount !== undefined && body.amount !== null && body.amount !== '' ? Number(body.amount) : null;\nconst stageBuiltin = new Set(['appointmentscheduled', 'qualifiedtobuy', 'presentationscheduled', 'decisionmakerboughtin', 'contractsent', 'closedwon', 'closedlost']);\nconst normalizeDealStage = (value) => {\n  const s = String(value || '').trim();\n  if (!s) return '';\n  if (/^[0-9]+$/.test(s)) return s;\n  const lc = s.toLowerCase();\n  if (stageBuiltin.has(lc)) return lc;\n  return '';\n};\nconst dealStage = normalizeDealStage(body.dealStage || body.deal_stage) || String(config.hubspot?.dealStageIds?.discoveryCallRequested || '').trim() || 'qualifiedtobuy';\n\nconst email = pick(rawContact, ['email', 'Email', 'emailAddress']);\nconst phone = pick(rawContact, ['phone', 'Phone']);\nconst firstName = pick(rawContact, ['firstName', 'firstname', 'first_name']);\nconst lastName = pick(rawContact, ['lastName', 'lastname', 'last_name']);\nconst company = pick(rawContact, ['company', 'businessName', 'business', 'companyName']);\nconst industry = pick(rawContact, ['industry', 'niche']);\nconst website = pick(rawContact, ['website', 'currentSite', 'site']);\nconst intakePlainText = typeof body.intakePlainText === 'string' ? body.intakePlainText.trim() : '';\nlet intakeJson = '{}';\nif (typeof body.intakeJson === 'string' && body.intakeJson.trim()) {\n  intakeJson = body.intakeJson.trim();\n} else {\n  try {\n    intakeJson = JSON.stringify(intake, null, 2);\n  } catch (error) {\n    intakeJson = '{}';\n  }\n}\n\nconst intakeContact = objValue(intake, 'contact') || {};\nconst goals = objValue(intake, 'goals') || {};\nconst design = objValue(intake, 'design') || {};\nconst content = objValue(intake, 'content') || {};\nconst budget = objValue(intake, 'budget') || {};\nconst research = objValue(intake, 'research') || {};\n\nconst intakeMapped = {\n  website_intake_audience: objString(goals, 'audience'),\n  website_intake_brand_colors: objString(design, 'brandColors'),\n  website_intake_budget_notes: objString(budget, 'notes'),\n  website_intake_budget_range: objString(budget, 'range'),\n  website_intake_business_description: objString(intakeContact, 'bizDesc'),\n  website_intake_cms: objString(content, 'cms'),\n  website_intake_competitors: normalize(objValue(research, 'competitors')),\n  website_intake_copywriter: objString(content, 'copywriter'),\n  website_intake_design_notes: objString(design, 'designNotes'),\n  website_intake_differentiator: objString(research, 'differentiator'),\n  website_intake_dislike_about: objString(research, 'dislikeAbout'),\n  website_intake_dont_want: objString(design, 'dontWant'),\n  website_intake_features: normalize(objValue(content, 'features')),\n  website_intake_final_notes: objString(research, 'finalNotes'),\n  website_intake_font_style: objString(design, 'fontStyle'),\n  website_intake_funding: objString(budget, 'funding'),\n  website_intake_goal_detail: objString(goals, 'goalDetail'),\n  website_intake_goals: normalize(objValue(goals, 'goals')),\n  website_intake_hard_deadline: objString(goals, 'hardDeadline'),\n  website_intake_has_logo: objString(design, 'hasLogo'),\n  website_intake_has_photos: objString(design, 'hasPhotos'),\n  website_intake_industry: objString(intakeContact, 'industry'),\n  website_intake_inspiration_sites: normalize(objValue(research, 'inspiration')),\n  website_intake_like_about: objString(research, 'likeAbout'),\n  website_intake_location: objString(intakeContact, 'location'),\n  website_intake_ongoing_support: objString(budget, 'ongoing'),\n  website_intake_other_pages: objString(content, 'otherPages'),\n  website_intake_pages: normalize(objValue(content, 'pages')),\n  website_intake_payment: objString(budget, 'payment'),\n  website_intake_timeline: objString(goals, 'timeline'),\n  website_intake_vibe: normalize(objValue(design, 'vibe')),\n};\n\nconst customProps = {};\nconst pushProp = (key, value) => {\n  const normalizedValue = normalize(value);\n  if (normalizedValue) customProps[key] = normalizedValue;\n};\npushProp('pain_point', painOverride);\npushProp('website', website);\npushProp('website_intake_details', intakePlainText);\npushProp('website_intake_json', intakeJson);\nfor (const [key, value] of Object.entries(intakeMapped)) {\n  pushProp(key, value);\n}\n\nreturn [{\n  json: {\n    contactId,\n    createDeal,\n    dealStage,\n    tier,\n    painOverride,\n    amount: Number.isFinite(amountRaw) ? amountRaw : null,\n    hubspotDealId,\n    email,\n    phone,\n    firstName,\n    lastName,\n    company,\n    industry,\n    website,\n    intake,\n    intakePlainText,\n    intakeJson,\n    customProps,\n    source: 'Website intake'\n  }\n}];"
      },
      "id": "sys16-parse",
      "name": "Parse Webhook Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        64
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-id",
              "leftValue": "={{ $json.contactId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "sys16-has-id",
      "name": "Has Contact ID?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        944,
        64
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "HbPxMMcf5tGERxEr",
          "mode": "id",
          "cachedResultName": "SW: Create or Update HubSpot Contact"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $('Parse Webhook Input').first().json.email }}",
            "phone": "={{ $('Parse Webhook Input').first().json.phone }}",
            "firstName": "={{ $('Parse Webhook Input').first().json.firstName }}",
            "lastName": "={{ $('Parse Webhook Input').first().json.lastName }}",
            "company": "={{ $('Parse Webhook Input').first().json.company }}",
            "industry": "={{ $('Parse Webhook Input').first().json.industry }}",
            "customProps": "={{ $('Parse Webhook Input').first().json.customProps }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "sys16-upsert-contact",
      "name": "Upsert HubSpot Contact",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1168,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const parse = $('Parse Webhook Input').first().json;\nconst upsert = $('Upsert HubSpot Contact').first().json;\nconst contactId = upsert?.data?.contactId ? String(upsert.data.contactId) : '';\nif (!contactId) {\n  return [{ json: { success: false, error: 'Could not create or update HubSpot contact.', upsert } }];\n}\nreturn [{ json: { ...parse, contactId } }];"
      },
      "id": "sys16-upsert-extract",
      "name": "Use Upserted Contact ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const parse = $('Parse Webhook Input').first().json;\nreturn [{ json: { ...parse, contactId: parse.contactId } }];"
      },
      "id": "sys16-use-existing",
      "name": "Use Existing Contact ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        -32
      ]
    },
    {
      "parameters": {
        "authentication": "appToken",
        "operation": "get",
        "contactId": {
          "__rl": true,
          "value": "={{ $json.contactId }}",
          "mode": "id"
        },
        "additionalFields": {
          "propertiesCollection": {
            "propertiesValues": {
              "properties": [
                "firstname",
                "lastname",
                "company",
                "industry",
                "email",
                "phone",
                "pain_point"
              ],
              "propertyMode": "valueOnly"
            }
          }
        }
      },
      "id": "sys16-get-contact",
      "name": "Get Contact",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        1616,
        64
      ],
      "credentials": {
        "hubspotAppToken": {
          "id": "volH6pGD5psvPC7a",
          "name": "HubSpot App Token account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.hubapi.com/crm/v3/objects/contacts/{{ $('Get Contact').first().json.id || (($('Get Contact').first().json.properties && $('Get Contact').first().json.properties.hs_object_id) ? $('Get Contact').first().json.properties.hs_object_id.value : '') || $('Get Contact').first().json.vid }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: { lead_source: 'inbound', hs_lead_status: 'NEW' } }) }}",
        "options": {}
      },
      "id": "sys16-patch-contact",
      "name": "Tag Contact Inbound",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1840,
        64
      ],
      "credentials": {
        "hubspotAppToken": {
          "id": "volH6pGD5psvPC7a",
          "name": "HubSpot App Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "create-yes",
              "leftValue": "={{ (() => { const p = $('Parse Webhook Input').first().json; if (p.createDeal === false || p.createDeal === 'false') return 'no'; if (String(p.hubspotDealId || '').trim()) return 'no'; return 'yes'; })() }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "sys16-if-deal",
      "name": "Create Deal?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2064,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "const parse = $('Parse Webhook Input').first().json;\nconst config = $('Get Config').first().json;\nconst raw = $('Get Contact').first().json;\nconst properties = raw.properties || raw;\nconst valueOf = (value) => {\n  if (value === undefined || value === null) return '';\n  if (typeof value === 'object' && 'value' in value) return String(value.value ?? '').trim();\n  return String(value).trim();\n};\nconst company = parse.company || valueOf(properties.company);\nconst firstName = parse.firstName || valueOf(properties.firstname);\nconst lastName = parse.lastName || valueOf(properties.lastname);\nconst industry = parse.industry || valueOf(properties.industry);\nconst painPoint = parse.painOverride || valueOf(properties.pain_point) || parse.intakePlainText || 'Website intake submission';\nconst defaultStage = String(config.hubspot?.dealStageIds?.discoveryCallRequested || '').trim() || 'qualifiedtobuy';\nconst stage = String(parse.dealStage || '').trim() || defaultStage;\nconst amount = parse.amount != null ? parse.amount : 0;\nreturn [{\n  json: {\n    contactId: String(raw.id || parse.contactId || ''),\n    dealName: `${company || firstName || 'Website lead'} - Website`,\n    company,\n    firstname: firstName,\n    lastname: lastName,\n    stage,\n    amount,\n    industry,\n    painPoint,\n    tier: parse.tier || 'starter'\n  }\n}];"
      },
      "id": "sys16-prep-deal",
      "name": "Prep Create Deal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2288,
        -16
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "r3XBl1iiKYzSOFWF",
          "mode": "list",
          "cachedResultUrl": "/workflow/r3XBl1iiKYzSOFWF",
          "cachedResultName": "SW: Create HubSpot Deal"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "sys16-create-deal",
      "name": "Create Deal",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2512,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "const parse = $('Parse Webhook Input').first().json;\nconst config = $('Get Config').first().json;\nconst raw = $('Get Contact').first().json;\nconst properties = raw.properties || raw;\nconst valueOf = (value) => {\n  if (value === undefined || value === null) return '';\n  if (typeof value === 'object' && 'value' in value) return String(value.value ?? '').trim();\n  return String(value).trim();\n};\nlet dealId = String(parse.hubspotDealId || '').trim();\nif (!dealId) {\n  try {\n    if (parse.createDeal) {\n      const rawDeal = $('Create Deal').first().json.data?.dealId ?? $('Create Deal').first().json.data?.id;\n      dealId = rawDeal != null && rawDeal !== '' ? String(rawDeal).trim() : '';\n    }\n  } catch (error) {}\n}\ndealId = dealId ? String(dealId).trim() : '';\nconst company = parse.company || valueOf(properties.company);\nconst firstName = parse.firstName || valueOf(properties.firstname);\nconst lastName = parse.lastName || valueOf(properties.lastname);\nconst contactId = String(raw.id || valueOf(properties.hs_object_id) || raw.vid || parse.contactId || '');\nreturn [{\n  json: {\n    sheetId: config.google?.masterSheetId || '',\n    timestamp: new Date().toISOString(),\n    contactId,\n    dealId,\n    companyId: '',\n    email: parse.email || valueOf(properties.email),\n    phone: parse.phone || valueOf(properties.phone),\n    firstName,\n    lastName,\n    company,\n    industry: parse.industry || valueOf(properties.industry),\n    tier: parse.tier || 'starter',\n    source: parse.source || 'Website intake',\n    leadScore: '',\n    dealName: `${company || firstName || 'Website lead'} - Website`\n  }\n}];"
      },
      "id": "sys16-build-context",
      "name": "Build CRM Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2736,
        64
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "11mUg_0EKtW45lg735vOKnvPNm0AVEmZXxiLClKiCRtE",
          "mode": "list",
          "cachedResultName": "IntraWeb OS — Master Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11mUg_0EKtW45lg735vOKnvPNm0AVEmZXxiLClKiCRtE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 493844058,
          "mode": "list",
          "cachedResultName": "Deals",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11mUg_0EKtW45lg735vOKnvPNm0AVEmZXxiLClKiCRtE/edit#gid=493844058"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Deal Name",
              "displayName": "Deal Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tier",
              "displayName": "Tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Score",
              "displayName": "Lead Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HubSpot Deal ID",
              "displayName": "HubSpot Deal ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HubSpot Contact ID",
              "displayName": "HubSpot Contact ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HubSpot Company ID",
              "displayName": "HubSpot Company ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f3a0249b-db16-4139-8c50-88eab2972251",
      "name": "Append or update row in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2960,
        64
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pKS06498CxELp8nS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-deal-id",
              "leftValue": "={{ Number($('Build CRM Context').first().json.dealId) || 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "sys16-has-deal-id",
      "name": "Has Deal ID?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3184,
        64
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "11mUg_0EKtW45lg735vOKnvPNm0AVEmZXxiLClKiCRtE",
          "mode": "list",
          "cachedResultName": "IntraWeb OS — Master Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11mUg_0EKtW45lg735vOKnvPNm0AVEmZXxiLClKiCRtE/edit?usp=drivesdk"
        },
        "sheetName": {
          "mode": "name",
          "value": "Deals"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "sys16-deals-sheet",
      "name": "Append to Deals Tab",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        3408,
        -16
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pKS06498CxELp8nS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Build CRM Context').first().json;\nconst name = `${ctx.firstName || ''} ${ctx.lastName || ''}`.trim() || ctx.company || ctx.contactId;\nconst dealNote = ctx.dealId ? `contact ${ctx.contactId}; deal ${ctx.dealId}` : `contact ${ctx.contactId}; no deal created`;\nreturn [{\n  json: {\n    workflowName: 'SYS 01 — Website Form Lead Intake',\n    contactName: name,\n    phone: ctx.phone || '',\n    eventType: 'website_form_intake',\n    status: 'success',\n    notes: dealNote\n  }\n}];"
      },
      "id": "sys16-intake-log-prep",
      "name": "Prep Intake Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3632,
        64
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "1qQFLOSHZsS9JPKP",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "id": "sys16-intake-log",
      "name": "Log Intake",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3856,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Build CRM Context').first().json;\nconst firstName = ctx.firstName || 'there';\nreturn [{\n  json: {\n    to: ctx.email,\n    subject: `${ctx.company || 'Your website project'} — intake confirmed`,\n    html: `<div style=\"font-family: DM Sans, Arial, sans-serif; max-width: 640px; color: #1f2937;\"><p>Hi ${firstName},</p><p>Thanks for submitting your website intake form. We received your project details and our team is already reviewing them.</p><p>If you booked your kickoff on the intake page, keep an eye out for your calendar confirmation and meeting details.</p><p>If you were not ready to schedule yet, no problem. We will send a follow-up reminder with your kickoff link so you can book when it fits your schedule.</p><p>We will use your intake answers to prepare for the conversation and map the right next steps for your build.</p><p>Talk soon,<br/>John Schibelli<br/>IntraWeb Technologies</p></div>`,\n    workflowName: 'SYS 01 — Website Form Lead Intake'\n  }\n}];"
      },
      "id": "sys16-ack-email-prep",
      "name": "Prep Kickoff Ack Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4080,
        64
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "FF6VOLCcRxI4uNYD",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "to": "={{ $json.to }}",
            "subject": "={{ $json.subject }}",
            "html": "={{ $json.html }}",
            "workflowName": "={{ $json.workflowName }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "sys16-ack-email-send",
      "name": "Send Kickoff Ack Email",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        4304,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Build CRM Context').first().json;\nconst name = `${ctx.firstName || ''} ${ctx.lastName || ''}`.trim() || ctx.company || ctx.contactId;\nreturn [{\n  json: {\n    workflowName: 'SYS 01 — Website Form Lead Intake',\n    contactName: name,\n    phone: ctx.phone || '',\n    eventType: 'website_kickoff_ack_sent',\n    status: 'success',\n    notes: `Confirmation email sent to ${ctx.email || 'unknown email'}`\n  }\n}];"
      },
      "id": "sys16-ack-log-prep",
      "name": "Prep Ack Email Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4528,
        64
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "1qQFLOSHZsS9JPKP",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "id": "sys16-ack-log",
      "name": "Log Ack Email",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        4752,
        64
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, contactId: $('Build CRM Context').first().json.contactId, dealId: $('Build CRM Context').first().json.dealId || null, enrolledInOutreach: false, kickoffReminderDelayHours: ($('Get Config').first().json.timing && $('Get Config').first().json.timing.websiteKickoffReminderHours) ? $('Get Config').first().json.timing.websiteKickoffReminderHours : 48 }) }}",
        "options": {}
      },
      "id": "sys16-respond-webhook",
      "name": "Respond Webhook OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        4976,
        64
      ]
    },
    {
      "parameters": {
        "amount": "={{ $('Get Config').first().json.timing && $('Get Config').first().json.timing.websiteKickoffReminderHours ? $('Get Config').first().json.timing.websiteKickoffReminderHours : 48 }}",
        "unit": "hours"
      },
      "id": "sys16-wait-reminder",
      "name": "Wait For Kickoff Reminder",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5200,
        64
      ],
      "webhookId": "5b4a4de0-2cbb-423d-83a0-d791045cab36"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "not-booked",
              "leftValue": "={{ $json.properties.booking_flag }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "has-email",
              "leftValue": "={{ $json.properties.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "sys16-needs-reminder",
      "name": "Needs Reminder?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5648,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "const config = $('Get Config').first().json;\nconst contact = $('Check Booking Status').first().json.properties || {};\nconst ctx = $('Build CRM Context').first().json;\nconst firstName = String(contact.firstname || ctx.firstName || 'there').trim();\nconst company = String(contact.company || ctx.company || '').trim();\nconst title = `${company || `${ctx.firstName || ''} ${ctx.lastName || ''}`.trim() || 'Website lead'} kickoff`;\nconst base = config.owner?.kickoffCalendarLink || config.calcom?.kickoffBookingUrl || config.owner?.calendarLink || 'https://cal.com/intraweb/website-discovery';\nlet kickoffLink = base;\ntry {\n  const url = new URL(base);\n  if (ctx.email) url.searchParams.set('email', ctx.email);\n  if (ctx.phone) url.searchParams.set('attendeePhoneNumber', ctx.phone);\n  const fullName = `${ctx.firstName || ''} ${ctx.lastName || ''}`.trim();\n  if (fullName) url.searchParams.set('name', fullName);\n  if (title) url.searchParams.set('title', title);\n  kickoffLink = url.toString();\n} catch (error) {}\nreturn [{\n  json: {\n    to: contact.email || ctx.email,\n    subject: `${company || 'Your website project'} — reminder to book your kickoff call`,\n    html: `<div style=\"font-family: DM Sans, Arial, sans-serif; max-width: 640px; color: #1f2937;\"><p>Hi ${firstName},</p><p>We noticed you have not booked your kickoff call yet. Use the link below whenever you are ready so we can review your website project and next steps together.</p><p><a href=\"${kickoffLink}\" style=\"display: inline-block; background: #0f766e; color: #ffffff; padding: 12px 18px; border-radius: 8px; text-decoration: none; font-weight: 600;\">Schedule your kickoff call</a></p><p>If you already booked, you can ignore this email.</p><p>Thanks,<br/>John Schibelli<br/>IntraWeb Technologies</p></div>`,\n    workflowName: 'SYS 01 — Website Form Lead Intake'\n  }\n}];"
      },
      "id": "sys16-reminder-email-prep",
      "name": "Prep Kickoff Reminder Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5872,
        -16
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "FF6VOLCcRxI4uNYD",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "to": "={{ $json.to }}",
            "subject": "={{ $json.subject }}",
            "html": "={{ $json.html }}",
            "workflowName": "={{ $json.workflowName }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "sys16-reminder-email-send",
      "name": "Send Kickoff Reminder Email",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        6096,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Build CRM Context').first().json;\nconst name = `${ctx.firstName || ''} ${ctx.lastName || ''}`.trim() || ctx.company || ctx.contactId;\nreturn [{\n  json: {\n    workflowName: 'SYS 01 — Website Form Lead Intake',\n    contactName: name,\n    phone: ctx.phone || '',\n    eventType: 'website_kickoff_reminder_sent',\n    status: 'success',\n    notes: `Kickoff reminder sent to ${ctx.email || 'unknown email'}`\n  }\n}];"
      },
      "id": "sys16-reminder-log-prep",
      "name": "Prep Reminder Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6320,
        -16
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "1qQFLOSHZsS9JPKP",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "id": "sys16-reminder-log",
      "name": "Log Reminder",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        6544,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Build CRM Context').first().json;\nconst config = $('Get Config').first().json;\nreturn [{\n  json: {\n    success: true,\n    contactId: ctx.contactId,\n    dealId: ctx.dealId || null,\n    enrolledInOutreach: false,\n    kickoffReminderDelayHours: config.timing?.websiteKickoffReminderHours || 48\n  }\n}];"
      },
      "id": "sys16-done",
      "name": "Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6768,
        64
      ]
    },
    {
      "parameters": {
        "authentication": "appToken",
        "operation": "get",
        "contactId": {
          "__rl": true,
          "value": "={{ $('Build CRM Context').first().json.contactId }}",
          "mode": "id"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        5408,
        64
      ],
      "id": "afd74680-4f03-4d2b-a041-40426479c47b",
      "name": "Check Booking Status",
      "credentials": {
        "hubspotAppToken": {
          "id": "volH6pGD5psvPC7a",
          "name": "HubSpot App Token account"
        }
      }
    }
  ],
  "connections": {
    "Website Form Lead Webhook": {
      "main": [
        [
          {
            "node": "Get Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Config": {
      "main": [
        [
          {
            "node": "Parse Webhook Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Webhook Input": {
      "main": [
        [
          {
            "node": "Has Contact ID?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Contact ID?": {
      "main": [
        [
          {
            "node": "Use Existing Contact ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upsert HubSpot Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert HubSpot Contact": {
      "main": [
        [
          {
            "node": "Use Upserted Contact ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Upserted Contact ID": {
      "main": [
        [
          {
            "node": "Get Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Existing Contact ID": {
      "main": [
        [
          {
            "node": "Get Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact": {
      "main": [
        [
          {
            "node": "Tag Contact Inbound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Contact Inbound": {
      "main": [
        [
          {
            "node": "Create Deal?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Deal?": {
      "main": [
        [
          {
            "node": "Prep Create Deal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build CRM Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Create Deal": {
      "main": [
        [
          {
            "node": "Create Deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Deal": {
      "main": [
        [
          {
            "node": "Build CRM Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build CRM Context": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Has Deal ID?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Deal ID?": {
      "main": [
        [
          {
            "node": "Append to Deals Tab",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Intake Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Deals Tab": {
      "main": [
        [
          {
            "node": "Prep Intake Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Intake Log": {
      "main": [
        [
          {
            "node": "Log Intake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Intake": {
      "main": [
        [
          {
            "node": "Prep Kickoff Ack Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Kickoff Ack Email": {
      "main": [
        [
          {
            "node": "Send Kickoff Ack Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Kickoff Ack Email": {
      "main": [
        [
          {
            "node": "Prep Ack Email Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Ack Email Log": {
      "main": [
        [
          {
            "node": "Log Ack Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Ack Email": {
      "main": [
        [
          {
            "node": "Respond Webhook OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond Webhook OK": {
      "main": [
        [
          {
            "node": "Wait For Kickoff Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait For Kickoff Reminder": {
      "main": [
        [
          {
            "node": "Check Booking Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Reminder?": {
      "main": [
        [
          {
            "node": "Prep Kickoff Reminder Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Kickoff Reminder Email": {
      "main": [
        [
          {
            "node": "Send Kickoff Reminder Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Kickoff Reminder Email": {
      "main": [
        [
          {
            "node": "Prep Reminder Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Reminder Log": {
      "main": [
        [
          {
            "node": "Log Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Reminder": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Booking Status": {
      "main": [
        [
          {
            "node": "Needs Reminder?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedMode": "dynamic",
    "errorWorkflow": "w9S9LovIY8CxchZm",
    "timeSavedPerExecution": 0
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "20894ad5-1baf-4e7d-bf2f-144140d6591e",
  "activeVersionId": "20894ad5-1baf-4e7d-bf2f-144140d6591e",
  "versionCounter": 440,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-21T17:17:54.966Z",
      "createdAt": "2026-03-21T17:17:54.966Z",
      "role": "workflow:owner",
      "workflowId": "JzghCkfPxT5CV1iT",
      "projectId": "o5dYIcHW2mxs82d6",
      "project": {
        "updatedAt": "2026-02-23T01:06:36.093Z",
        "createdAt": "2026-02-23T00:59:28.616Z",
        "id": "o5dYIcHW2mxs82d6",
        "name": "John Schibelli <john.schibelli@intrawebtech.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-04T05:18:44.000Z",
    "createdAt": "2026-04-04T05:14:41.049Z",
    "versionId": "20894ad5-1baf-4e7d-bf2f-144140d6591e",
    "workflowId": "JzghCkfPxT5CV1iT",
    "nodes": [
      {
        "parameters": {},
        "id": "note-sys16",
        "name": "Note — About this workflow",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1.3,
        "position": [
          48,
          48
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "hubspot-website-form-lead",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "sys16-webhook",
        "name": "Website Form Lead Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          272,
          64
        ],
        "webhookId": "9926876e-7c82-4d1b-b9dd-879d84922dc4"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "1eTTVoSFSlSPvZV4",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {}
          },
          "options": {}
        },
        "id": "sys16-config",
        "name": "Get Config",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          496,
          64
        ]
      },
      {
        "parameters": {
          "jsCode": "const root = $('Website Form Lead Webhook').first().json;\nconst body = root.body && typeof root.body === 'object' && !Array.isArray(root.body) ? root.body : root;\nconst config = $('Get Config').first().json;\nconst rawContact = body.contact && typeof body.contact === 'object' && !Array.isArray(body.contact) ? body.contact : body;\nconst intake = body.intake && typeof body.intake === 'object' && !Array.isArray(body.intake) ? body.intake : {};\n\nconst pick = (obj, keys) => {\n  if (!obj || typeof obj !== 'object') return '';\n  for (const key of keys) {\n    const value = obj[key];\n    if (value !== undefined && value !== null) {\n      const s = String(value).trim();\n      if (s) return s;\n    }\n  }\n  return '';\n};\nconst normalize = (value) => {\n  if (value === undefined || value === null) return '';\n  if (Array.isArray(value)) {\n    return value.map((item) => String(item).trim()).filter(Boolean).join(', ');\n  }\n  return String(value).trim();\n};\nconst objValue = (obj, key) => (obj && typeof obj === 'object' && !Array.isArray(obj) ? obj[key] : undefined);\nconst objString = (obj, key) => normalize(objValue(obj, key));\n\nconst contactId = pick(body, ['contactId', 'contact_id', 'hs_object_id', 'vid', 'objectId']) || pick(root, ['contactId', 'contact_id', 'hs_object_id']);\nconst createDeal = body.createDeal === false || body.createDeal === 'false' ? false : true;\nconst tier = pick(body, ['tier']) || 'starter';\nconst painOverride = pick(body, ['painOverride', 'message', 'notes', 'pain']) || '';\nconst hubspotDealId = pick(body, ['hubspotDealId', 'dealIdFromSite']) || '';\nconst amountRaw = body.amount !== undefined && body.amount !== null && body.amount !== '' ? Number(body.amount) : null;\nconst stageBuiltin = new Set(['appointmentscheduled', 'qualifiedtobuy', 'presentationscheduled', 'decisionmakerboughtin', 'contractsent', 'closedwon', 'closedlost']);\nconst normalizeDealStage = (value) => {\n  const s = String(value || '').trim();\n  if (!s) return '';\n  if (/^[0-9]+$/.test(s)) return s;\n  const lc = s.toLowerCase();\n  if (stageBuiltin.has(lc)) return lc;\n  return '';\n};\nconst dealStage = normalizeDealStage(body.dealStage || body.deal_stage) || String(config.hubspot?.dealStageIds?.discoveryCallRequested || '').trim() || 'qualifiedtobuy';\n\nconst email = pick(rawContact, ['email', 'Email', 'emailAddress']);\nconst phone = pick(rawContact, ['phone', 'Phone']);\nconst firstName = pick(rawContact, ['firstName', 'firstname', 'first_name']);\nconst lastName = pick(rawContact, ['lastName', 'lastname', 'last_name']);\nconst company = pick(rawContact, ['company', 'businessName', 'business', 'companyName']);\nconst industry = pick(rawContact, ['industry', 'niche']);\nconst website = pick(rawContact, ['website', 'currentSite', 'site']);\nconst intakePlainText = typeof body.intakePlainText === 'string' ? body.intakePlainText.trim() : '';\nlet intakeJson = '{}';\nif (typeof body.intakeJson === 'string' && body.intakeJson.trim()) {\n  intakeJson = body.intakeJson.trim();\n} else {\n  try {\n    intakeJson = JSON.stringify(intake, null, 2);\n  } catch (error) {\n    intakeJson = '{}';\n  }\n}\n\nconst intakeContact = objValue(intake, 'contact') || {};\nconst goals = objValue(intake, 'goals') || {};\nconst design = objValue(intake, 'design') || {};\nconst content = objValue(intake, 'content') || {};\nconst budget = objValue(intake, 'budget') || {};\nconst research = objValue(intake, 'research') || {};\n\nconst intakeMapped = {\n  website_intake_audience: objString(goals, 'audience'),\n  website_intake_brand_colors: objString(design, 'brandColors'),\n  website_intake_budget_notes: objString(budget, 'notes'),\n  website_intake_budget_range: objString(budget, 'range'),\n  website_intake_business_description: objString(intakeContact, 'bizDesc'),\n  website_intake_cms: objString(content, 'cms'),\n  website_intake_competitors: normalize(objValue(research, 'competitors')),\n  website_intake_copywriter: objString(content, 'copywriter'),\n  website_intake_design_notes: objString(design, 'designNotes'),\n  website_intake_differentiator: objString(research, 'differentiator'),\n  website_intake_dislike_about: objString(research, 'dislikeAbout'),\n  website_intake_dont_want: objString(design, 'dontWant'),\n  website_intake_features: normalize(objValue(content, 'features')),\n  website_intake_final_notes: objString(research, 'finalNotes'),\n  website_intake_font_style: objString(design, 'fontStyle'),\n  website_intake_funding: objString(budget, 'funding'),\n  website_intake_goal_detail: objString(goals, 'goalDetail'),\n  website_intake_goals: normalize(objValue(goals, 'goals')),\n  website_intake_hard_deadline: objString(goals, 'hardDeadline'),\n  website_intake_has_logo: objString(design, 'hasLogo'),\n  website_intake_has_photos: objString(design, 'hasPhotos'),\n  website_intake_industry: objString(intakeContact, 'industry'),\n  website_intake_inspiration_sites: normalize(objValue(research, 'inspiration')),\n  website_intake_like_about: objString(research, 'likeAbout'),\n  website_intake_location: objString(intakeContact, 'location'),\n  website_intake_ongoing_support: objString(budget, 'ongoing'),\n  website_intake_other_pages: objString(content, 'otherPages'),\n  website_intake_pages: normalize(objValue(content, 'pages')),\n  website_intake_payment: objString(budget, 'payment'),\n  website_intake_timeline: objString(goals, 'timeline'),\n  website_intake_vibe: normalize(objValue(design, 'vibe')),\n};\n\nconst customProps = {};\nconst pushProp = (key, value) => {\n  const normalizedValue = normalize(value);\n  if (normalizedValue) customProps[key] = normalizedValue;\n};\npushProp('pain_point', painOverride);\npushProp('website', website);\npushProp('website_intake_details', intakePlainText);\npushProp('website_intake_json', intakeJson);\nfor (const [key, value] of Object.entries(intakeMapped)) {\n  pushProp(key, value);\n}\n\nreturn [{\n  json: {\n    contactId,\n    createDeal,\n    dealStage,\n    tier,\n    painOverride,\n    amount: Number.isFinite(amountRaw) ? amountRaw : null,\n    hubspotDealId,\n    email,\n    phone,\n    firstName,\n    lastName,\n    company,\n    industry,\n    website,\n    intake,\n    intakePlainText,\n    intakeJson,\n    customProps,\n    source: 'Website intake'\n  }\n}];"
        },
        "id": "sys16-parse",
        "name": "Parse Webhook Input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          720,
          64
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "has-id",
                "leftValue": "={{ $json.contactId }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "sys16-has-id",
        "name": "Has Contact ID?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          944,
          64
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "HbPxMMcf5tGERxEr",
            "mode": "id",
            "cachedResultName": "SW: Create or Update HubSpot Contact"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "email": "={{ $('Parse Webhook Input').first().json.email }}",
              "phone": "={{ $('Parse Webhook Input').first().json.phone }}",
              "firstName": "={{ $('Parse Webhook Input').first().json.firstName }}",
              "lastName": "={{ $('Parse Webhook Input').first().json.lastName }}",
              "company": "={{ $('Parse Webhook Input').first().json.company }}",
              "industry": "={{ $('Parse Webhook Input').first().json.industry }}",
              "customProps": "={{ $('Parse Webhook Input').first().json.customProps }}"
            },
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "sys16-upsert-contact",
        "name": "Upsert HubSpot Contact",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1168,
          160
        ]
      },
      {
        "parameters": {
          "jsCode": "const parse = $('Parse Webhook Input').first().json;\nconst upsert = $('Upsert HubSpot Contact').first().json;\nconst contactId = upsert?.data?.contactId ? String(upsert.data.contactId) : '';\nif (!contactId) {\n  return [{ json: { success: false, error: 'Could not create or update HubSpot contact.', upsert } }];\n}\nreturn [{ json: { ...parse, contactId } }];"
        },
        "id": "sys16-upsert-extract",
        "name": "Use Upserted Contact ID",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1392,
          160
        ]
      },
      {
        "parameters": {
          "jsCode": "const parse = $('Parse Webhook Input').first().json;\nreturn [{ json: { ...parse, contactId: parse.contactId } }];"
        },
        "id": "sys16-use-existing",
        "name": "Use Existing Contact ID",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1392,
          -32
        ]
      },
      {
        "parameters": {
          "authentication": "appToken",
          "operation": "get",
          "contactId": {
            "__rl": true,
            "value": "={{ $json.contactId }}",
            "mode": "id"
          },
          "additionalFields": {
            "propertiesCollection": {
              "propertiesValues": {
                "properties": [
                  "firstname",
                  "lastname",
                  "company",
                  "industry",
                  "email",
                  "phone",
                  "pain_point"
                ],
                "propertyMode": "valueOnly"
              }
            }
          }
        },
        "id": "sys16-get-contact",
        "name": "Get Contact",
        "type": "n8n-nodes-base.hubspot",
        "typeVersion": 2.2,
        "position": [
          1616,
          64
        ],
        "credentials": {
          "hubspotAppToken": {
            "id": "volH6pGD5psvPC7a",
            "name": "HubSpot App Token account"
          }
        }
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "=https://api.hubapi.com/crm/v3/objects/contacts/{{ $('Get Contact').first().json.id || (($('Get Contact').first().json.properties && $('Get Contact').first().json.properties.hs_object_id) ? $('Get Contact').first().json.properties.hs_object_id.value : '') || $('Get Contact').first().json.vid }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "hubspotAppToken",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ properties: { lead_source: 'inbound', hs_lead_status: 'NEW' } }) }}",
          "options": {}
        },
        "id": "sys16-patch-contact",
        "name": "Tag Contact Inbound",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1840,
          64
        ],
        "credentials": {
          "hubspotAppToken": {
            "id": "volH6pGD5psvPC7a",
            "name": "HubSpot App Token account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "create-yes",
                "leftValue": "={{ (() => { const p = $('Parse Webhook Input').first().json; if (p.createDeal === false || p.createDeal === 'false') return 'no'; if (String(p.hubspotDealId || '').trim()) return 'no'; return 'yes'; })() }}",
                "rightValue": "yes",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "sys16-if-deal",
        "name": "Create Deal?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          2064,
          64
        ]
      },
      {
        "parameters": {
          "jsCode": "const parse = $('Parse Webhook Input').first().json;\nconst config = $('Get Config').first().json;\nconst raw = $('Get Contact').first().json;\nconst properties = raw.properties || raw;\nconst valueOf = (value) => {\n  if (value === undefined || value === null) return '';\n  if (typeof value === 'object' && 'value' in value) return String(value.value ?? '').trim();\n  return String(value).trim();\n};\nconst company = parse.company || valueOf(properties.company);\nconst firstName = parse.firstName || valueOf(properties.firstname);\nconst lastName = parse.lastName || valueOf(properties.lastname);\nconst industry = parse.industry || valueOf(properties.industry);\nconst painPoint = parse.painOverride || valueOf(properties.pain_point) || parse.intakePlainText || 'Website intake submission';\nconst defaultStage = String(config.hubspot?.dealStageIds?.discoveryCallRequested || '').trim() || 'qualifiedtobuy';\nconst stage = String(parse.dealStage || '').trim() || defaultStage;\nconst amount = parse.amount != null ? parse.amount : 0;\nreturn [{\n  json: {\n    contactId: String(raw.id || parse.contactId || ''),\n    dealName: `${company || firstName || 'Website lead'} - Website`,\n    company,\n    firstname: firstName,\n    lastname: lastName,\n    stage,\n    amount,\n    industry,\n    painPoint,\n    tier: parse.tier || 'starter'\n  }\n}];"
        },
        "id": "sys16-prep-deal",
        "name": "Prep Create Deal",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2288,
          -16
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "r3XBl1iiKYzSOFWF",
            "mode": "list",
            "cachedResultUrl": "/workflow/r3XBl1iiKYzSOFWF",
            "cachedResultName": "SW: Create HubSpot Deal"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "sys16-create-deal",
        "name": "Create Deal",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2512,
          -16
        ]
      },
      {
        "parameters": {
          "jsCode": "const parse = $('Parse Webhook Input').first().json;\nconst config = $('Get Config').first().json;\nconst raw = $('Get Contact').first().json;\nconst properties = raw.properties || raw;\nconst valueOf = (value) => {\n  if (value === undefined || value === null) return '';\n  if (typeof value === 'object' && 'value' in value) return String(value.value ?? '').trim();\n  return String(value).trim();\n};\nlet dealId = String(parse.hubspotDealId || '').trim();\nif (!dealId) {\n  try {\n    if (parse.createDeal) {\n      const rawDeal = $('Create Deal').first().json.data?.dealId ?? $('Create Deal').first().json.data?.id;\n      dealId = rawDeal != null && rawDeal !== '' ? String(rawDeal).trim() : '';\n    }\n  } catch (error) {}\n}\ndealId = dealId ? String(dealId).trim() : '';\nconst company = parse.company || valueOf(properties.company);\nconst firstName = parse.firstName || valueOf(properties.firstname);\nconst lastName = parse.lastName || valueOf(properties.lastname);\nconst contactId = String(raw.id || valueOf(properties.hs_object_id) || raw.vid || parse.contactId || '');\nreturn [{\n  json: {\n    sheetId: config.google?.masterSheetId || '',\n    timestamp: new Date().toISOString(),\n    contactId,\n    dealId,\n    companyId: '',\n    email: parse.email || valueOf(properties.email),\n    phone: parse.phone || valueOf(properties.phone),\n    firstName,\n    lastName,\n    company,\n    industry: parse.industry || valueOf(properties.industry),\n    tier: parse.tier || 'starter',\n    source: parse.source || 'Website intake',\n    leadScore: '',\n    dealName: `${company || firstName || 'Website lead'} - Website`\n  }\n}];"
        },
        "id": "sys16-build-context",
        "name": "Build CRM Context",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2736,
          64
        ]
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "11mUg_0EKtW45lg735vOKnvPNm0AVEmZXxiLClKiCRtE",
            "mode": "list",
            "cachedResultName": "IntraWeb OS — Master Data",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11mUg_0EKtW45lg735vOKnvPNm0AVEmZXxiLClKiCRtE/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 493844058,
            "mode": "list",
            "cachedResultName": "Deals",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11mUg_0EKtW45lg735vOKnvPNm0AVEmZXxiLClKiCRtE/edit#gid=493844058"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [
              {
                "id": "Timestamp",
                "displayName": "Timestamp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Deal Name",
                "displayName": "Deal Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Company",
                "displayName": "Company",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Industry",
                "displayName": "Industry",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Tier",
                "displayName": "Tier",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Lead Score",
                "displayName": "Lead Score",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "HubSpot Deal ID",
                "displayName": "HubSpot Deal ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "HubSpot Contact ID",
                "displayName": "HubSpot Contact ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "HubSpot Company ID",
                "displayName": "HubSpot Company ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "f3a0249b-db16-4139-8c50-88eab2972251",
        "name": "Append or update row in sheet",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          2960,
          64
        ],
        "retryOnFail": true,
        "maxTries": 2,
        "waitBetweenTries": 5000,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "pKS06498CxELp8nS",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "has-deal-id",
                "leftValue": "={{ Number($('Build CRM Context').first().json.dealId) || 0 }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "sys16-has-deal-id",
        "name": "Has Deal ID?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          3184,
          64
        ]
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "11mUg_0EKtW45lg735vOKnvPNm0AVEmZXxiLClKiCRtE",
            "mode": "list",
            "cachedResultName": "IntraWeb OS — Master Data",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11mUg_0EKtW45lg735vOKnvPNm0AVEmZXxiLClKiCRtE/edit?usp=drivesdk"
          },
          "sheetName": {
            "mode": "name",
            "value": "Deals"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "sys16-deals-sheet",
        "name": "Append to Deals Tab",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          3408,
          -16
        ],
        "retryOnFail": true,
        "maxTries": 2,
        "waitBetweenTries": 5000,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "pKS06498CxELp8nS",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const ctx = $('Build CRM Context').first().json;\nconst name = `${ctx.firstName || ''} ${ctx.lastName || ''}`.trim() || ctx.company || ctx.contactId;\nconst dealNote = ctx.dealId ? `contact ${ctx.contactId}; deal ${ctx.dealId}` : `contact ${ctx.contactId}; no deal created`;\nreturn [{\n  json: {\n    workflowName: 'SYS 01 — Website Form Lead Intake',\n    contactName: name,\n    phone: ctx.phone || '',\n    eventType: 'website_form_intake',\n    status: 'success',\n    notes: dealNote\n  }\n}];"
        },
        "id": "sys16-intake-log-prep",
        "name": "Prep Intake Log",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3632,
          64
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "1qQFLOSHZsS9JPKP",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {}
          },
          "options": {}
        },
        "id": "sys16-intake-log",
        "name": "Log Intake",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          3856,
          64
        ]
      },
      {
        "parameters": {
          "jsCode": "const ctx = $('Build CRM Context').first().json;\nconst firstName = ctx.firstName || 'there';\nreturn [{\n  json: {\n    to: ctx.email,\n    subject: `${ctx.company || 'Your website project'} — intake confirmed`,\n    html: `<div style=\"font-family: DM Sans, Arial, sans-serif; max-width: 640px; color: #1f2937;\"><p>Hi ${firstName},</p><p>Thanks for submitting your website intake form. We received your project details and our team is already reviewing them.</p><p>If you booked your kickoff on the intake page, keep an eye out for your calendar confirmation and meeting details.</p><p>If you were not ready to schedule yet, no problem. We will send a follow-up reminder with your kickoff link so you can book when it fits your schedule.</p><p>We will use your intake answers to prepare for the conversation and map the right next steps for your build.</p><p>Talk soon,<br/>John Schibelli<br/>IntraWeb Technologies</p></div>`,\n    workflowName: 'SYS 01 — Website Form Lead Intake'\n  }\n}];"
        },
        "id": "sys16-ack-email-prep",
        "name": "Prep Kickoff Ack Email",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4080,
          64
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "FF6VOLCcRxI4uNYD",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "to": "={{ $json.to }}",
              "subject": "={{ $json.subject }}",
              "html": "={{ $json.html }}",
              "workflowName": "={{ $json.workflowName }}"
            },
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "sys16-ack-email-send",
        "name": "Send Kickoff Ack Email",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          4304,
          64
        ]
      },
      {
        "parameters": {
          "jsCode": "const ctx = $('Build CRM Context').first().json;\nconst name = `${ctx.firstName || ''} ${ctx.lastName || ''}`.trim() || ctx.company || ctx.contactId;\nreturn [{\n  json: {\n    workflowName: 'SYS 01 — Website Form Lead Intake',\n    contactName: name,\n    phone: ctx.phone || '',\n    eventType: 'website_kickoff_ack_sent',\n    status: 'success',\n    notes: `Confirmation email sent to ${ctx.email || 'unknown email'}`\n  }\n}];"
        },
        "id": "sys16-ack-log-prep",
        "name": "Prep Ack Email Log",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4528,
          64
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "1qQFLOSHZsS9JPKP",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {}
          },
          "options": {}
        },
        "id": "sys16-ack-log",
        "name": "Log Ack Email",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          4752,
          64
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ success: true, contactId: $('Build CRM Context').first().json.contactId, dealId: $('Build CRM Context').first().json.dealId || null, enrolledInOutreach: false, kickoffReminderDelayHours: ($('Get Config').first().json.timing && $('Get Config').first().json.timing.websiteKickoffReminderHours) ? $('Get Config').first().json.timing.websiteKickoffReminderHours : 48 }) }}",
          "options": {}
        },
        "id": "sys16-respond-webhook",
        "name": "Respond Webhook OK",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.3,
        "position": [
          4976,
          64
        ]
      },
      {
        "parameters": {
          "amount": "={{ $('Get Config').first().json.timing && $('Get Config').first().json.timing.websiteKickoffReminderHours ? $('Get Config').first().json.timing.websiteKickoffReminderHours : 48 }}",
          "unit": "hours"
        },
        "id": "sys16-wait-reminder",
        "name": "Wait For Kickoff Reminder",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          5200,
          64
        ],
        "webhookId": "5b4a4de0-2cbb-423d-83a0-d791045cab36"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "not-booked",
                "leftValue": "={{ $json.properties.booking_flag }}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              },
              {
                "id": "has-email",
                "leftValue": "={{ $json.properties.email }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "sys16-needs-reminder",
        "name": "Needs Reminder?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          5648,
          64
        ]
      },
      {
        "parameters": {
          "jsCode": "const config = $('Get Config').first().json;\nconst contact = $('Check Booking Status').first().json.properties || {};\nconst ctx = $('Build CRM Context').first().json;\nconst firstName = String(contact.firstname || ctx.firstName || 'there').trim();\nconst company = String(contact.company || ctx.company || '').trim();\nconst title = `${company || `${ctx.firstName || ''} ${ctx.lastName || ''}`.trim() || 'Website lead'} kickoff`;\nconst base = config.owner?.kickoffCalendarLink || config.calcom?.kickoffBookingUrl || config.owner?.calendarLink || 'https://cal.com/intraweb/website-discovery';\nlet kickoffLink = base;\ntry {\n  const url = new URL(base);\n  if (ctx.email) url.searchParams.set('email', ctx.email);\n  if (ctx.phone) url.searchParams.set('attendeePhoneNumber', ctx.phone);\n  const fullName = `${ctx.firstName || ''} ${ctx.lastName || ''}`.trim();\n  if (fullName) url.searchParams.set('name', fullName);\n  if (title) url.searchParams.set('title', title);\n  kickoffLink = url.toString();\n} catch (error) {}\nreturn [{\n  json: {\n    to: contact.email || ctx.email,\n    subject: `${company || 'Your website project'} — reminder to book your kickoff call`,\n    html: `<div style=\"font-family: DM Sans, Arial, sans-serif; max-width: 640px; color: #1f2937;\"><p>Hi ${firstName},</p><p>We noticed you have not booked your kickoff call yet. Use the link below whenever you are ready so we can review your website project and next steps together.</p><p><a href=\"${kickoffLink}\" style=\"display: inline-block; background: #0f766e; color: #ffffff; padding: 12px 18px; border-radius: 8px; text-decoration: none; font-weight: 600;\">Schedule your kickoff call</a></p><p>If you already booked, you can ignore this email.</p><p>Thanks,<br/>John Schibelli<br/>IntraWeb Technologies</p></div>`,\n    workflowName: 'SYS 01 — Website Form Lead Intake'\n  }\n}];"
        },
        "id": "sys16-reminder-email-prep",
        "name": "Prep Kickoff Reminder Email",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          5872,
          -16
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "FF6VOLCcRxI4uNYD",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "to": "={{ $json.to }}",
              "subject": "={{ $json.subject }}",
              "html": "={{ $json.html }}",
              "workflowName": "={{ $json.workflowName }}"
            },
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "sys16-reminder-email-send",
        "name": "Send Kickoff Reminder Email",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          6096,
          -16
        ]
      },
      {
        "parameters": {
          "jsCode": "const ctx = $('Build CRM Context').first().json;\nconst name = `${ctx.firstName || ''} ${ctx.lastName || ''}`.trim() || ctx.company || ctx.contactId;\nreturn [{\n  json: {\n    workflowName: 'SYS 01 — Website Form Lead Intake',\n    contactName: name,\n    phone: ctx.phone || '',\n    eventType: 'website_kickoff_reminder_sent',\n    status: 'success',\n    notes: `Kickoff reminder sent to ${ctx.email || 'unknown email'}`\n  }\n}];"
        },
        "id": "sys16-reminder-log-prep",
        "name": "Prep Reminder Log",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          6320,
          -16
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "1qQFLOSHZsS9JPKP",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {}
          },
          "options": {}
        },
        "id": "sys16-reminder-log",
        "name": "Log Reminder",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          6544,
          -16
        ]
      },
      {
        "parameters": {
          "jsCode": "const ctx = $('Build CRM Context').first().json;\nconst config = $('Get Config').first().json;\nreturn [{\n  json: {\n    success: true,\n    contactId: ctx.contactId,\n    dealId: ctx.dealId || null,\n    enrolledInOutreach: false,\n    kickoffReminderDelayHours: config.timing?.websiteKickoffReminderHours || 48\n  }\n}];"
        },
        "id": "sys16-done",
        "name": "Success Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          6768,
          64
        ]
      },
      {
        "parameters": {
          "authentication": "appToken",
          "operation": "get",
          "contactId": {
            "__rl": true,
            "value": "={{ $('Build CRM Context').first().json.contactId }}",
            "mode": "id"
          },
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.hubspot",
        "typeVersion": 2.2,
        "position": [
          5408,
          64
        ],
        "id": "afd74680-4f03-4d2b-a041-40426479c47b",
        "name": "Check Booking Status",
        "credentials": {
          "hubspotAppToken": {
            "id": "volH6pGD5psvPC7a",
            "name": "HubSpot App Token account"
          }
        }
      }
    ],
    "connections": {
      "Website Form Lead Webhook": {
        "main": [
          [
            {
              "node": "Get Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Config": {
        "main": [
          [
            {
              "node": "Parse Webhook Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Webhook Input": {
        "main": [
          [
            {
              "node": "Has Contact ID?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Contact ID?": {
        "main": [
          [
            {
              "node": "Use Existing Contact ID",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Upsert HubSpot Contact",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upsert HubSpot Contact": {
        "main": [
          [
            {
              "node": "Use Upserted Contact ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Use Upserted Contact ID": {
        "main": [
          [
            {
              "node": "Get Contact",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Use Existing Contact ID": {
        "main": [
          [
            {
              "node": "Get Contact",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Contact": {
        "main": [
          [
            {
              "node": "Tag Contact Inbound",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Tag Contact Inbound": {
        "main": [
          [
            {
              "node": "Create Deal?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Deal?": {
        "main": [
          [
            {
              "node": "Prep Create Deal",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Build CRM Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Create Deal": {
        "main": [
          [
            {
              "node": "Create Deal",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Deal": {
        "main": [
          [
            {
              "node": "Build CRM Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build CRM Context": {
        "main": [
          [
            {
              "node": "Append or update row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append or update row in sheet": {
        "main": [
          [
            {
              "node": "Has Deal ID?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Deal ID?": {
        "main": [
          [
            {
              "node": "Append to Deals Tab",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Prep Intake Log",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append to Deals Tab": {
        "main": [
          [
            {
              "node": "Prep Intake Log",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Intake Log": {
        "main": [
          [
            {
              "node": "Log Intake",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log Intake": {
        "main": [
          [
            {
              "node": "Prep Kickoff Ack Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Kickoff Ack Email": {
        "main": [
          [
            {
              "node": "Send Kickoff Ack Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Kickoff Ack Email": {
        "main": [
          [
            {
              "node": "Prep Ack Email Log",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Ack Email Log": {
        "main": [
          [
            {
              "node": "Log Ack Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log Ack Email": {
        "main": [
          [
            {
              "node": "Respond Webhook OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Respond Webhook OK": {
        "main": [
          [
            {
              "node": "Wait For Kickoff Reminder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait For Kickoff Reminder": {
        "main": [
          [
            {
              "node": "Check Booking Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Needs Reminder?": {
        "main": [
          [
            {
              "node": "Prep Kickoff Reminder Email",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Success Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Kickoff Reminder Email": {
        "main": [
          [
            {
              "node": "Send Kickoff Reminder Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Kickoff Reminder Email": {
        "main": [
          [
            {
              "node": "Prep Reminder Log",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Reminder Log": {
        "main": [
          [
            {
              "node": "Log Reminder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log Reminder": {
        "main": [
          [
            {
              "node": "Success Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Booking Status": {
        "main": [
          [
            {
              "node": "Needs Reminder?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "John Schibelli",
    "name": "Version 20894ad5",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-04T05:18:44.432Z",
        "id": 1524,
        "workflowId": "JzghCkfPxT5CV1iT",
        "versionId": "20894ad5-1baf-4e7d-bf2f-144140d6591e",
        "event": "activated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      }
    ]
  }
}
