n8n-workflows/03_sales/SYS 03 — Proposal and Contract Delivery.json
{
  "id": "sys-05-proposal-contract-delivery",
  "name": "SYS 03 — Proposal and Contract Delivery",
  "description": "Webhook on Proposal Stage: Claude generates proposal body → branded HTML/PDF template → html2pdf → Drive upload → Proposals sheet row (Pending Review) → Chat alert → poll Sheets every 30min until Approved → client email + HubSpot proposal_sent_date + Log.",
  "nodes": [
    {
      "parameters": {
        "content": "## SYS 03 — Proposal and Contract Delivery\n\n### Purpose\nGenerate a **client-ready proposal PDF** from HubSpot deal data: AI-written body + **fixed branded template** (hero, snapshot, pricing, pain callout), then **human-in-the-loop** via the **Proposals** tab before the client ever gets email.\n\n### What this workflow does *not* do\nIt does **not** auto-send the proposal immediately. The client email runs only after **Status = Approved** in Sheets. **Contract PDFs** are generated by **SYS 03 — Contract Generation** (Contract Sent stage); **e-sign** is still your process (DocuSign, HubSpot quotes, etc.). Requires **`client_drive_folder_id`** on the deal for upload.\n\n### When it fires\n- **Webhook:** `POST` → `/webhook/hubspot-deal-proposal-stage`\n- **HubSpot:** Deal enters **Proposal Stage** (direct workflow, or **SYS 00** router on `dealstage`).\n\n### How it works (flow)\n1. **Get Config** → **Extract Deal Data** (tier from CONFIG, pain points, contact, `driveFolderId`, amounts).\n2. **Prep Claude Prompt** → **Call Claude API** (Anthropic) → **Parse** response.\n3. **Prep PDF Input** — wraps body in full HTML/CSS **print template** (do not redesign this layout without explicit approval).\n4. **Call PDF Service** (`html2pdf.fly.dev`) → **Ensure PDF Item** → **Upload to Drive** (deal folder).\n5. **Add to Proposals Queue** (Google Sheets **Proposals** tab, status **Pending Review**).\n6. **Send Alert** (Google Chat — link + approve instruction) → **Wait 30min** → **Check Approval Status** → **Approved?** If not, loop wait/poll; if **Approved**, **Send Proposal Email** (sub-workflow).\n7. **Update Deal** — sets **`proposal_sent_date`** in HubSpot → **Log** (`proposal_sent`).\n\n### Dependencies\nCONFIG, **Anthropic** (HTTP Header Auth), **Google Drive** & **Google Sheets**, **Send Email** / **Send Google Chat Alert** / **Log** sub-workflows (set **Execute Workflow** IDs: Alert + Log may be empty in export).\n\n**Insights:** **Track Time Saved** after **Log to Sheet** — **177 min** once per run. In workflow **Settings**, set **Estimated time saved** to **Dynamic (uses time saved nodes)** (not stored in this JSON so import stays compatible).\n\n### Ops\nConfirm **masterSheetId** and **Proposals** sheet columns match `docs/google-sheets-setup.md`. Match HubSpot internal names for `proposal_sent_date`. Keep PDF template structure per team **proposal-pdf-template-lock** rule.",
        "height": 600,
        "width": 520,
        "color": 5
      },
      "id": "note-sys05",
      "name": "Note — About this workflow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1.3,
      "position": [
        80,
        80
      ]
    },
    {
      "parameters": {
        "content": "## Time saved (labor) — per proposal run\n\n**Unit:** one execution from **Proposal Stage webhook** through **client proposal email sent** (after **Approved** in Sheets).\n\n**Definition:** *Labor* = hands-on human minutes. *Clock* = wall time (e.g. **Wait 30min** polling) — not counted as labor below.\n\n### Manual baseline (same outcome, no SYS 03 — Proposal and Contract Delivery)\n\n| # | Task | min |\n|---|------|-----|\n| 1 | Pull deal + contact fields from HubSpot into working notes | 10 |\n| 2 | Draft full proposal body (sections per prompt: exec summary → next steps, pain-aware) | 90 |\n| 3 | Lay out in branded print-ready doc (hero, snapshot, pricing, pain block, body — comparable to template) | 45 |\n| 4 | PDF export + pagination / print QA | 12 |\n| 5 | Upload PDF to correct **client Drive folder**, consistent filename | 8 |\n| 6 | Append **Proposals** sheet row (date, client, tier, link, status) | 5 |\n| 7 | Notify team with Drive link (Chat / equivalent) | 3 |\n| 8 | When ready to release: compose + send **client email** with link | 10 |\n| 9 | Set HubSpot **`proposal_sent_date`** | 3 |\n| 10 | Log run to **automations log** sheet | 4 |\n\n**Manual total** = **190 min** (~3.2 h)\n\n### With SYS 05 (human only)\n\n| # | Task | min |\n|---|------|-----|\n| A | QC generated PDF + sheet row (accuracy, client name, pricing) | 12 |\n| B | Set **Status** → **Approved** in **Proposals** | 1 |\n\n**Human total** = **13 min**  \n*(Email to client, HubSpot date, Chat alert, Drive upload, PDF generation, and log are automated.)*\n\n### Net\n\n**Time saved** = 190 − 13 = **177 min** ≈ **3.0 h labor** saved **per approved proposal**.\n\nAdjust line items if your real manual drafting or layout time differs; update **Manual total** and recompute **190 − 13**.",
        "height": 520,
        "width": 480,
        "color": 4
      },
      "id": "note-sys05-time-saved",
      "name": "Note — Time saved",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1.3,
      "position": [
        620,
        80
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hubspot-deal-proposal-stage",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "sys05-trigger",
      "name": "Deal Proposal Stage Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "1eTTVoSFSlSPvZV4",
          "mode": "id"
        }
      },
      "id": "sys05-config",
      "name": "Get Config",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        470,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const deal = $('Deal Proposal Stage Webhook').first().json;\nconst config = $('Get Config').first().json;\nconst body = deal.body && typeof deal.body === 'object' ? deal.body : deal;\nconst props = body.properties || body;\n\nconst valueFrom = (...values) => {\n  for (const value of values) {\n    if (value !== undefined && value !== null && String(value).trim()) {\n      return String(value).trim();\n    }\n  }\n  return '';\n};\n\nconst money = (value) => {\n  if (value === undefined || value === null || value === '') return 0;\n  const normalized = Number(String(value).replace(/[^0-9.-]/g, ''));\n  return Number.isFinite(normalized) ? normalized : 0;\n};\n\nconst titleCase = (value) => value ? value.charAt(0).toUpperCase() + value.slice(1) : '';\n\nconst addressParts = [\n  valueFrom(props.address, props.street, props.street_address, props.company_address),\n  valueFrom(props.city, props.company_city),\n  valueFrom(props.state, props.state_region, props.company_state),\n  valueFrom(props.zip, props.zip_code, props.postal_code, props.company_zip),\n  valueFrom(props.country, props.company_country)\n].filter(Boolean);\n\nconst tierKey = valueFrom(props.tier).toLowerCase() || 'starter';\nconst tierInfo = (config.tiers && (config.tiers[tierKey] || config.tiers.starter)) || {\n  name: titleCase(tierKey) || 'Starter',\n  monthlyPrice: 0,\n  setupFee: 0\n};\n\nconst rawPainSources = [\n  valueFrom(props.deal_pain_points),\n  valueFrom(props.painPoints),\n  valueFrom(props.pain_point_summary)\n].filter(Boolean);\n\nconst uniquePainSources = [...new Set(rawPainSources)];\nconst painPoints = uniquePainSources.join('\\n\\n');\nconst contactFirstName = valueFrom(props.contact_firstname, props.firstName, props.firstname);\nconst contactLastName = valueFrom(props.contact_lastname, props.lastName, props.lastname);\nconst contactName = [contactFirstName, contactLastName].filter(Boolean).join(' ');\nconst tierMonthly = money(tierInfo.monthlyPrice);\nconst upfrontDue = money(tierInfo.setupFee);\nconst tierAmount = money(props.amount) || upfrontDue;\nconst remainingTierBalance = Math.max(tierAmount - upfrontDue, 0);\nconst launchBalance = remainingTierBalance + tierMonthly;\n\nreturn [{\n  json: {\n    clientName: valueFrom(props.dealname, props.name, props.company, props.business_name),\n    company: valueFrom(props.company, props.dealname, props.name, props.business_name),\n    industry: valueFrom(props.industry),\n    painPoints,\n    painPointSummary: valueFrom(props.pain_point_summary, props.painPoints),\n    rawPainPoints: valueFrom(props.deal_pain_points, painPoints),\n    dealValue: tierAmount,\n    amountLabel: valueFrom(props.amount),\n    tierAmount,\n    tier: tierKey,\n    tierLabel: tierInfo.name || titleCase(tierKey) || 'Starter',\n    tierMonthly,\n    monthlyCost: tierMonthly,\n    upfrontDue,\n    remainingTierBalance,\n    launchBalance,\n    finalDueAtPreLaunch: launchBalance,\n    dealId: valueFrom(body.id, deal.id, body.dealId, deal.dealId),\n    contactEmail: valueFrom(props.contact_email, props.email),\n    contactPhone: valueFrom(props.contact_phone, props.phone, props.mobilephone),\n    contactFirstName,\n    contactName: contactName || contactFirstName,\n    address: addressParts.join(', '),\n    city: valueFrom(props.city, props.company_city),\n    state: valueFrom(props.state, props.state_region, props.company_state),\n    postalCode: valueFrom(props.zip, props.zip_code, props.postal_code, props.company_zip),\n    country: valueFrom(props.country, props.company_country),\n    website: valueFrom(props.website, props.domain, props.company_domain),\n    driveFolderId: valueFrom(props.client_drive_folder_id),\n    config\n  }\n}];"
      },
      "id": "sys05-extract",
      "name": "Extract Deal Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        690,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $('Extract Deal Data').first().json;\nconst intakePainPoints = [d.rawPainPoints, d.painPointSummary].filter(Boolean).join('\\n') || d.painPoints || '(None provided)';\n\nreturn [{\n  json: {\n    systemPrompt: 'You are writing a polished consulting proposal for IntraWeb Technologies LLC. We are the implementation partner, not a generic advisor. Tone: direct, credible, senior, and specific. Return ONLY clean semantic HTML for the proposal body: no markdown, no backticks, no DOCTYPE, and no html/head/body tags. Use h2, h3, p, ul, ol, li, strong, and blockquote where helpful. The branded template will render the client profile and pricing separately, so do not repeat them as tables.\\n\\nMANDATORY REQUIREMENTS:\\n1. Explicitly acknowledge the client\\'s real pain points from the payload. Use their phrasing or a very close paraphrase, not generic business fluff.\\n2. The section about the work to be completed must be detailed and concrete. Map each pain point to a specific buildout, workflow, automation, or operating change.\\n3. Include implementation details that make sense for the client\\'s industry and the pains they described.\\n4. Do not invent missing facts. If the payload does not include a detail, do not fabricate it.\\n5. Keep the writing executive-friendly, but operationally specific.',\n    userPrompt: `Write the proposal body for this client.\\n\\nClient name: ${d.clientName}\\nCompany: ${d.company}\\nIndustry: ${d.industry || 'Not provided'}\\nPrimary contact: ${d.contactName || d.contactFirstName || 'Not provided'}\\nContact email: ${d.contactEmail || 'Not provided'}\\nTier purchased: ${d.tierLabel}\\nTier amount: $${d.tierAmount || 0}\\nTier monthly: $${d.tierMonthly || 0}\\nUpfront due: $${d.upfrontDue || 0}\\nLaunch balance: $${d.launchBalance || 0}\\n\\nPAIN POINTS FROM THE PAYLOAD - these must be explicitly acknowledged and addressed:\\n\"\"\"\\n${intakePainPoints}\\n\"\"\"\\n\\nReturn these sections in order:\\n1. Executive Summary\\n2. What You Told Us\\n3. Detailed Scope of Work\\n4. Implementation Roadmap (8 weeks)\\n5. Expected Operational Outcomes\\n6. Why IntraWeb\\n7. Next Steps\\n\\nRules for the body:\\n- In 'What You Told Us', directly reference the client's real pain points from the payload.\\n- In 'Detailed Scope of Work', include one clear subsection or bullet group per pain point using this pattern: 'You said [pain point]. We will [specific solution].'\\n- Mention dispatch, technician updates, customer communication, invoicing, quoting, and visibility improvements when supported by the payload.\\n- Make the work feel implementation-ready, not abstract consulting language.\\n- Do not include pricing tables, signature blocks, or greetings.`,\n    maxTokens: 4000\n  }\n}];"
      },
      "id": "sys05-claude-prep",
      "name": "Prep Claude Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        910,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: $json.maxTokens, system: $json.systemPrompt, messages: [{ role: 'user', content: $json.userPrompt }] }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "sys05-claude",
      "name": "Call Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1130,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ANTHROPIC_API_CREDENTIAL_ID",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $('Call Claude API').first().json;\nconst text = (raw.content && raw.content[0] && raw.content[0].text) ? raw.content[0].text : '';\nconst d = $('Extract Deal Data').first().json;\nreturn [{ json: { data: { text }, html: text, fileName: `IntraWeb — ${d.clientName} — Proposal.pdf` } }];"
      },
      "id": "sys05-parse-claude",
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const claudeResult = $('Parse Claude Response').first().json;\nconst d = $('Extract Deal Data').first().json;\nconst config = d.config || {};\nconst branding = config.branding || {};\nconst owner = config.owner || {};\nconst companyName = owner.companyName || 'IntraWeb Technologies LLC';\nconst ownerEmail = owner.email || '';\nconst ownerPhone = owner.phone || '';\nconst ownerName = owner.name || 'John Schibelli';\nconst calendarLink = owner.calendarLink || '';\nconst bodyContent = (claudeResult.data ? claudeResult.data.text : claudeResult.html || '').trim();\nconst clientName = d.clientName || 'Client';\nconst proposalDate = new Date().toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' });\nconst logoSrc = branding.logoUrl || '';\n\nconst escapeHtml = (value) => String(value ?? '')\n  .replace(/&/g, '&amp;')\n  .replace(/</g, '&lt;')\n  .replace(/>/g, '&gt;')\n  .replace(/\\\"/g, '&quot;')\n  .replace(/'/g, '&#39;');\n\nconst formatCurrency = (value) => {\n  const numeric = Number(value || 0);\n  return new Intl.NumberFormat('en-US', {\n    style: 'currency',\n    currency: 'USD',\n    maximumFractionDigits: 0\n  }).format(Number.isFinite(numeric) ? numeric : 0);\n};\n\nconst renderField = (label, value) => `\n  <div class=\"meta-item\">\n    <div class=\"meta-label\">${label}</div>\n    <div class=\"meta-value\">${escapeHtml(value || 'Not provided')}</div>\n  </div>`;\n\nconst summaryPainPoints = (d.painPointSummary || '')\n  .split(/[,;]\\s*/)\n  .map((item) => item.trim())\n  .filter(Boolean);\n\nconst painSummaryHtml = summaryPainPoints.length\n  ? `<ul class=\"bullet-list\">${summaryPainPoints.map((item) => `<li>${escapeHtml(item)}</li>`).join('')}</ul>`\n  : '';\n\nconst rawPainBlock = d.rawPainPoints || d.painPoints || 'No pain points were provided in the payload.';\nconst contactDisplay = d.contactName || d.contactFirstName || '';\nconst tierAmountText = d.tierAmount ? formatCurrency(d.tierAmount) : 'Not provided';\nconst tierMonthlyText = formatCurrency(d.tierMonthly || 0);\nconst upfrontDueText = formatCurrency(d.upfrontDue || 0);\nconst launchBalanceText = formatCurrency(d.launchBalance || 0);\nconst calendarHtml = calendarLink\n  ? `<a class=\"cta-button\" href=\"${calendarLink}\">Book approval call</a>`\n  : '';\nconst safeBodyContent = bodyContent || '<h2>Executive Summary</h2><p>Proposal content could not be generated.</p>';\n\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <title>Proposal for ${escapeHtml(clientName)} - ${escapeHtml(companyName)}</title>\n  <link href=\"https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Source+Serif+4:wght@400;600;700&display=swap\" rel=\"stylesheet\">\n  <style>\n    @page { size: Letter; margin: 0.62in; }\n    * { box-sizing: border-box; }\n    html, body { margin: 0; padding: 0; background: #ffffff; color: #18212f; }\n    body { font-family: 'Manrope', Arial, sans-serif; font-size: 12.5px; line-height: 1.65; }\n    img { max-width: 100%; display: block; }\n    .document { width: 100%; }\n    .hero {\n      border: 1px solid #d8deea;\n      border-radius: 20px;\n      padding: 28px 30px;\n      background: linear-gradient(180deg, #ffffff 0%, #f7f8fc 100%);\n      margin-bottom: 22px;\n      break-inside: avoid;\n    }\n    .brand-row {\n      display: flex;\n      justify-content: space-between;\n      align-items: flex-start;\n      gap: 18px;\n      margin-bottom: 22px;\n    }\n    .brand-lockup { display: flex; align-items: center; gap: 14px; }\n    .brand-lockup img { max-height: 46px; width: auto; }\n    .eyebrow {\n      display: inline-block;\n      font-size: 10px;\n      font-weight: 800;\n      letter-spacing: 0.14em;\n      text-transform: uppercase;\n      color: #6b7280;\n      margin-bottom: 8px;\n    }\n    .hero h1 {\n      font-size: 29px;\n      line-height: 1.15;\n      margin: 0 0 8px 0;\n      color: #111827;\n    }\n    .hero-subtitle {\n      margin: 0;\n      font-size: 13px;\n      color: #4b5563;\n      max-width: 520px;\n    }\n    .prepared-tag {\n      min-width: 180px;\n      border: 1px solid #e5e7eb;\n      border-radius: 16px;\n      padding: 14px 16px;\n      background: #ffffff;\n      text-align: right;\n    }\n    .prepared-tag .label {\n      font-size: 10px;\n      text-transform: uppercase;\n      letter-spacing: 0.12em;\n      color: #6b7280;\n      margin-bottom: 6px;\n      font-weight: 700;\n    }\n    .prepared-tag .value {\n      font-size: 14px;\n      font-weight: 700;\n      color: #111827;\n    }\n    .prepared-tag .subvalue {\n      font-size: 11px;\n      color: #6b7280;\n      margin-top: 4px;\n    }\n    .hero-grid {\n      display: grid;\n      grid-template-columns: 1.25fr 0.95fr;\n      gap: 18px;\n    }\n    .panel {\n      border: 1px solid #e5e7eb;\n      border-radius: 16px;\n      padding: 18px 18px 16px;\n      background: #ffffff;\n      break-inside: avoid;\n    }\n    .panel-title {\n      font-size: 10px;\n      font-weight: 800;\n      letter-spacing: 0.12em;\n      text-transform: uppercase;\n      color: #6b7280;\n      margin: 0 0 12px 0;\n    }\n    .meta-grid {\n      display: grid;\n      grid-template-columns: 1fr 1fr;\n      gap: 12px 16px;\n    }\n    .meta-item { break-inside: avoid; }\n    .meta-label {\n      font-size: 10px;\n      font-weight: 700;\n      letter-spacing: 0.08em;\n      text-transform: uppercase;\n      color: #6b7280;\n      margin-bottom: 5px;\n    }\n    .meta-value {\n      font-size: 13px;\n      color: #111827;\n      font-weight: 600;\n      word-break: break-word;\n    }\n    .pricing-table {\n      width: 100%;\n      border-collapse: collapse;\n      font-size: 12.5px;\n    }\n    .pricing-table tr { break-inside: avoid; }\n    .pricing-table td {\n      padding: 10px 0;\n      border-bottom: 1px solid #edf0f5;\n      vertical-align: top;\n    }\n    .pricing-table td:last-child {\n      text-align: right;\n      font-weight: 700;\n      color: #111827;\n      padding-left: 20px;\n    }\n    .pricing-table tr.total td {\n      padding-top: 14px;\n      border-bottom: none;\n      font-size: 15px;\n      color: #6B4E9B;\n    }\n    .pricing-disclaimer {\n      font-size: 11px;\n      color: #6b7280;\n      margin-top: 10px;\n      line-height: 1.4;\n    }\n    .section-card {\n      border: 1px solid #e5e7eb;\n      border-radius: 18px;\n      padding: 22px 24px;\n      margin-bottom: 20px;\n      background: #ffffff;\n      break-inside: avoid;\n    }\n    .section-card h2:first-child,\n    .section-card h3:first-child,\n    .proposal-body h2:first-child,\n    .proposal-body h3:first-child { margin-top: 0; }\n    .section-card h2,\n    .proposal-body h2 {\n      font-family: 'Source Serif 4', Georgia, serif;\n      font-size: 23px;\n      line-height: 1.2;\n      margin: 26px 0 12px;\n      color: #101827;\n      break-after: avoid;\n    }\n    .section-card h3,\n    .proposal-body h3 {\n      font-size: 16px;\n      line-height: 1.3;\n      margin: 18px 0 10px;\n      color: #18212f;\n      break-after: avoid;\n    }\n    .proposal-body p,\n    .section-card p { margin: 0 0 12px; }\n    .proposal-body ul,\n    .proposal-body ol,\n    .bullet-list {\n      margin: 0 0 12px 0;\n      padding-left: 20px;\n    }\n    .proposal-body li,\n    .bullet-list li { margin-bottom: 6px; }\n    .callout {\n      background: linear-gradient(180deg, #fff7ed 0%, #fffaf5 100%);\n      border: 1px solid #fed7aa;\n      border-radius: 16px;\n      padding: 18px 18px 14px;\n      break-inside: avoid;\n    }\n    .quote {\n      font-family: 'Source Serif 4', Georgia, serif;\n      font-size: 16px;\n      line-height: 1.55;\n      color: #1f2937;\n      margin: 0 0 14px 0;\n      white-space: pre-wrap;\n    }\n    .footer-note {\n      margin-top: 22px;\n      padding-top: 14px;\n      border-top: 1px solid #e5e7eb;\n      display: flex;\n      justify-content: space-between;\n      gap: 16px;\n      align-items: center;\n      flex-wrap: wrap;\n    }\n    .footer-note-text {\n      font-size: 11px;\n      color: #6b7280;\n      max-width: 470px;\n    }\n    .cta-button {\n      display: inline-block;\n      text-decoration: none;\n      background: #6B4E9B;\n      color: #ffffff;\n      padding: 12px 18px;\n      border-radius: 999px;\n      font-size: 12px;\n      font-weight: 700;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"document\">\n    <section class=\"hero\">\n      <div class=\"brand-row\">\n        <div>\n          <div class=\"brand-lockup\">\n            ${logoSrc ? `<img src=\"${logoSrc}\" alt=\"IntraWeb\" />` : ''}\n            <div>\n              <div class=\"eyebrow\">IntraWeb Technologies LLC</div>\n              <h1>Proposal for ${escapeHtml(d.company || clientName)}</h1>\n              <p class=\"hero-subtitle\">A delivery-focused implementation proposal designed around the operational bottlenecks, growth priorities, and intake details captured for this opportunity.</p>\n            </div>\n          </div>\n        </div>\n        <div class=\"prepared-tag\">\n          <div class=\"label\">Prepared On</div>\n          <div class=\"value\">${escapeHtml(proposalDate)}</div>\n          <div class=\"subvalue\">Prepared by ${escapeHtml(ownerName)}</div>\n        </div>\n      </div>\n\n      <div class=\"hero-grid\">\n        <div class=\"panel\">\n          <p class=\"panel-title\">Client Snapshot</p>\n          <div class=\"meta-grid\">\n            ${renderField('Client', clientName)}\n            ${renderField('Company', d.company)}\n            ${renderField('Primary Contact', contactDisplay)}\n            ${renderField('Contact Email', d.contactEmail)}\n            ${renderField('Contact Phone', d.contactPhone)}\n            ${renderField('Industry', d.industry)}\n            ${renderField('Address', d.address)}\n            ${renderField('Website', d.website)}\n          </div>\n        </div>\n\n        <div class=\"panel\">\n          <p class=\"panel-title\">Investment Summary</p>\n          <table class=\"pricing-table\">\n            <tr><td>Tier amount</td><td>${escapeHtml(tierAmountText)}</td></tr>\n            <tr><td>Tier monthly</td><td>${escapeHtml(tierMonthlyText)}</td></tr>\n            <tr><td>Upfront due</td><td>${escapeHtml(upfrontDueText)}</td></tr>\n            <tr class=\"total\"><td>Launch balance</td><td>${escapeHtml(launchBalanceText)}</td></tr>\n          </table>\n          <p class=\"pricing-disclaimer\">Launch balance is due at approval and includes the remaining project balance plus the first month's subscription; tier monthly applies thereafter.</p>\n        </div>\n      </div>\n    </section>\n\n    <section class=\"section-card\">\n      <p class=\"panel-title\">Pain Points Captured From Intake</p>\n      <div class=\"callout\">\n        <p class=\"quote\">${escapeHtml(rawPainBlock)}</p>\n        ${painSummaryHtml}\n      </div>\n    </section>\n\n    <section class=\"section-card proposal-body\">\n      ${safeBodyContent}\n      <div class=\"footer-note\">\n        <div class=\"footer-note-text\">\n          ${escapeHtml(companyName)} | ${escapeHtml(ownerEmail)}${ownerPhone ? ` | ${escapeHtml(ownerPhone)}` : ''}\n        </div>\n        ${calendarHtml}\n      </div>\n    </section>\n  </div>\n</body>\n</html>`;\n\nreturn [{ json: { html, fileName: `IntraWeb - ${d.clientName} - Proposal.pdf` } }];"
      },
      "id": "sys05-pdf-prep",
      "name": "Prep PDF Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1350,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://html2pdf.fly.dev/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ html: $json.html }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 60000
        }
      },
      "id": "sys05-pdf",
      "name": "Call PDF Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1570,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst fileName = $('Prep PDF Input').first().json.fileName || 'document.pdf';\nreturn [{ json: { fileName }, binary: item.binary ? { ...item.binary } : {} }];"
      },
      "id": "sys05-pdf-ensure",
      "name": "Ensure PDF Item",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        300
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "={{ $('Prep PDF Input').first().json.fileName }}",
        "parents": [
          "={{ $('Extract Deal Data').first().json.driveFolderId }}"
        ],
        "options": {}
      },
      "id": "sys05-upload",
      "name": "Upload to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1790,
        300
      ],
      "credentials": {
        "googleApi": {
          "id": "IJzDJS1jpbItegZD",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "id",
          "value": "={{ $('Extract Deal Data').first().json.config.google.masterSheetId }}"
        },
        "sheetName": {
          "mode": "name",
          "value": "Proposals"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ new Date().toISOString().split('T')[0] }}",
            "Client": "={{ $('Extract Deal Data').first().json.clientName }}",
            "Company": "={{ $('Extract Deal Data').first().json.company }}",
            "Industry": "={{ $('Extract Deal Data').first().json.industry }}",
            "Deal Value": "={{ $('Extract Deal Data').first().json.dealValue }}",
            "Tier": "={{ $('Extract Deal Data').first().json.tier }}",
            "Contact Email": "={{ $('Extract Deal Data').first().json.contactEmail }}",
            "Pain Points": "={{ ($('Extract Deal Data').first().json.painPoints || '').toString().slice(0, 500) }}",
            "Drive Link": "={{ $('Upload to Drive').first()?.json?.id ? 'https://drive.google.com/file/d/' + $('Upload to Drive').first().json.id : ($('Upload to Drive').first()?.json?.data?.id ? 'https://drive.google.com/file/d/' + $('Upload to Drive').first().json.data.id : '') }}",
            "Status": "Pending Review"
          }
        },
        "options": {}
      },
      "id": "sys05-sheets",
      "name": "Add to Proposals Queue",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2010,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IJzDJS1jpbItegZD",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const extractItem = $('Extract Deal Data').first();\nconst uploadOut = $('Upload to Drive').first();\nif (!extractItem?.json) {\n  throw new Error('Prep Alert needs upstream data: run from the start of the workflow (or use \"Execute previous nodes\" / pin data on Extract Deal Data + Upload to Drive).');\n}\nconst d = extractItem.json;\nconst fileId = uploadOut?.json?.id ?? uploadOut?.json?.data?.id ?? '';\nconst driveLink = fileId ? 'https://drive.google.com/file/d/' + fileId : '';\n\nreturn [{\n  json: {\n    message: driveLink ? `Proposal ready for ${d.clientName} — set Status to Approved to send: ${driveLink}` : `Proposal ready for ${d.clientName} — set Status to Approved to send. (Drive link unavailable.)`,\n    priority: 'info'\n  }\n}];"
      },
      "id": "sys05-alert-prep",
      "name": "Prep Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2230,
        300
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "PGf6jPoWtxSPlr0h",
          "mode": "id"
        }
      },
      "id": "sys05-alert",
      "name": "Send Alert",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2450,
        300
      ]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "minutes"
      },
      "id": "sys05-poll-wait",
      "name": "Wait 30min",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2670,
        300
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "mode": "id",
          "value": "={{ $('Extract Deal Data').first().json.config.google.masterSheetId }}"
        },
        "sheetName": {
          "mode": "name",
          "value": "Proposals"
        },
        "filters": {
          "values": [
            {
              "lookupColumn": "Client",
              "lookupValue": "={{ $('Extract Deal Data').first().json.clientName }}"
            }
          ]
        },
        "options": {}
      },
      "id": "sys05-check-approval",
      "name": "Check Approval Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2890,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IJzDJS1jpbItegZD",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-approved",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Approved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "sys05-is-approved",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3110,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $('Extract Deal Data').first().json;\nconst uploadOut = $('Upload to Drive').first();\nconst fileId = uploadOut?.json?.id ?? uploadOut?.json?.data?.id ?? '';\nconst driveLink = fileId ? 'https://drive.google.com/file/d/' + fileId : '';\n\nreturn [{\n  json: {\n    to: d.contactEmail,\n    subject: `Your IntraWeb proposal is ready — ${d.clientName}`,\n    html: `<p>Hi ${d.contactFirstName || 'there'},</p><p>Your proposal is attached. I've outlined exactly what we'll build, the timeline, and the investment.</p>${driveLink ? `<p>You can also <a href=\"${driveLink}\">view it in Google Drive here</a>.</p>` : ''}<p>Take a look and let me know if you have any questions. When you're ready to move forward, reply to this email and I'll send the contract for e-signature.</p><p>— John<br/>${d.config?.owner?.companyName || 'IntraWeb'}</p>`,\n    workflowName: 'SYS 03 — Proposal and Contract Delivery'\n  }\n}];"
      },
      "id": "sys05-send-prep",
      "name": "Prep Send Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3330,
        200
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "FF6VOLCcRxI4uNYD",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "to": "={{ $json.to }}",
            "subject": "={{ $json.subject }}",
            "html": "={{ $json.html }}",
            "workflowName": "={{ $json.workflowName }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "sys05-send-email",
      "name": "Send Proposal Email",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3550,
        200
      ]
    },
    {
      "parameters": {
        "resource": "deal",
        "operation": "update",
        "dealId": "={{ $('Extract Deal Data').first().json.dealId }}",
        "updateFields": {
          "customPropertiesUi": {
            "customPropertiesValues": [
              {
                "property": "proposal_sent_date",
                "value": "={{ new Date().toISOString().split('T')[0] }}"
              }
            ]
          }
        },
        "options": {}
      },
      "id": "sys05-update-deal",
      "name": "Update Deal",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [
        3770,
        200
      ],
      "credentials": {
        "hubspotApi": {
          "id": "volH6pGD5psvPC7a",
          "name": "HubSpot App Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    workflowName: 'SYS 03 — Proposal and Contract Delivery',\n    contactName: $('Extract Deal Data').first().json.clientName,\n    phone: '',\n    eventType: 'proposal_sent',\n    status: 'success',\n    notes: `Deal value: $${$('Extract Deal Data').first().json.dealValue}`\n  }\n}];"
      },
      "id": "sys05-log-prep",
      "name": "Prep Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3990,
        200
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "1qQFLOSHZsS9JPKP",
          "mode": "id"
        }
      },
      "id": "sys05-log",
      "name": "Log to Sheet",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        4210,
        200
      ]
    },
    {
      "parameters": {
        "mode": "once",
        "minutesSaved": 177
      },
      "id": "sys05-track-time-saved",
      "name": "Track Time Saved",
      "type": "n8n-nodes-base.timeSaved",
      "typeVersion": 1,
      "position": [
        4430,
        200
      ]
    }
  ],
  "connections": {
    "Deal Proposal Stage Webhook": {
      "main": [
        [
          {
            "node": "Get Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Config": {
      "main": [
        [
          {
            "node": "Extract Deal Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Deal Data": {
      "main": [
        [
          {
            "node": "Prep Claude Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Claude Prompt": {
      "main": [
        [
          {
            "node": "Call Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude API": {
      "main": [
        [
          {
            "node": "Parse Claude Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Claude Response": {
      "main": [
        [
          {
            "node": "Prep PDF Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep PDF Input": {
      "main": [
        [
          {
            "node": "Call PDF Service",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call PDF Service": {
      "main": [
        [
          {
            "node": "Ensure PDF Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensure PDF Item": {
      "main": [
        [
          {
            "node": "Upload to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Drive": {
      "main": [
        [
          {
            "node": "Add to Proposals Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Proposals Queue": {
      "main": [
        [
          {
            "node": "Prep Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Alert": {
      "main": [
        [
          {
            "node": "Send Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Alert": {
      "main": [
        [
          {
            "node": "Wait 30min",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30min": {
      "main": [
        [
          {
            "node": "Check Approval Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Approval Status": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          {
            "node": "Prep Send Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 30min",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Send Email": {
      "main": [
        [
          {
            "node": "Send Proposal Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Proposal Email": {
      "main": [
        [
          {
            "node": "Update Deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Deal": {
      "main": [
        [
          {
            "node": "Prep Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Log": {
      "main": [
        [
          {
            "node": "Log to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Sheet": {
      "main": [
        [
          {
            "node": "Track Time Saved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "pinData": {}
}
