n8n-workflows/03_sales/SYS 03 — Proposal and Contract Delivery.json
{
  "updatedAt": "2026-04-03T04:44:38.125Z",
  "createdAt": "2026-03-15T22:51:03.504Z",
  "id": "1aX9pLXOuVelq3sK",
  "name": "SYS 03 — Proposal and Contract Delivery",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "note-sys05",
      "name": "Note — About this workflow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1.3,
      "position": [
        80,
        80
      ]
    },
    {
      "parameters": {},
      "id": "note-sys05-time-saved",
      "name": "Note — Time saved",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1.3,
      "position": [
        128,
        -416
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hubspot-deal-proposal-stage",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "sys05-trigger",
      "name": "Deal Proposal Stage Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2000,
        -528
      ],
      "webhookId": "954c4ac0-7a16-4c08-9825-217f9c0e71f3"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "1eTTVoSFSlSPvZV4",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "id": "sys05-config",
      "name": "Get Config",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2224,
        -528
      ]
    },
    {
      "parameters": {
        "jsCode": "const deal = $('Deal Proposal Stage Webhook').first().json;\r\nconst config = $('Get Config').first().json;\r\nconst body = deal.body && typeof deal.body === 'object' ? deal.body : deal;\r\nconst props = body.properties || body;\r\n\r\nconst valueFrom = (...values) => {\r\n  for (const value of values) {\r\n    if (value !== undefined && value !== null && String(value).trim()) {\r\n      return String(value).trim();\r\n    }\r\n  }\r\n  return '';\r\n};\r\n\r\nconst money = (value) => {\r\n  if (value === undefined || value === null || value === '') return 0;\r\n  const normalized = Number(String(value).replace(/[^0-9.-]/g, ''));\r\n  return Number.isFinite(normalized) ? normalized : 0;\r\n};\r\n\r\nconst titleCase = (value) => value ? value.charAt(0).toUpperCase() + value.slice(1) : '';\r\n\r\n/** Parse line items from payload: arrays on body/properties or JSON string. */\r\nconst parseLineItemsRaw = () => {\r\n  const candidates = [\r\n    body.lineItems,\r\n    body.line_items,\r\n    props.lineItems,\r\n    props.line_items,\r\n  ];\r\n  for (const c of candidates) {\r\n    if (Array.isArray(c) && c.length) return c;\r\n    if (typeof c === 'string' && c.trim().startsWith('[')) {\r\n      try {\r\n        const parsed = JSON.parse(c);\r\n        if (Array.isArray(parsed) && parsed.length) return parsed;\r\n      } catch (e) { /* ignore */ }\r\n    }\r\n  }\r\n  return [];\r\n};\r\n\r\nconst normalizeLineItems = (raw) => {\r\n  return raw.map((x, i) => {\r\n    if (!x || typeof x !== 'object') return null;\r\n    const qty = Math.max(1, Number(x.quantity ?? x.qty ?? 1) || 1);\r\n    const unit = money(x.unitPrice ?? x.price ?? x.rate ?? x.hs_price);\r\n    const lineTotal = money(x.amount ?? x.line_amount ?? x.total ?? x.line_total);\r\n    const name = valueFrom(x.name, x.productName, x.title, x.hs_sku, `Line item ${i + 1}`);\r\n    const description = valueFrom(x.description, x.details, x.notes, '');\r\n    let amount = lineTotal;\r\n    if (!amount && unit) amount = unit * qty;\r\n    if (!amount) amount = 0;\r\n    return {\r\n      name,\r\n      description,\r\n      quantity: qty,\r\n      unitPrice: unit || (qty ? amount / qty : amount),\r\n      amount,\r\n    };\r\n  }).filter(Boolean);\r\n};\r\n\r\nconst rawLineItems = parseLineItemsRaw();\r\nconst lineItems = normalizeLineItems(rawLineItems);\r\nconst lineItemsTotal = lineItems.reduce((s, li) => s + (Number(li.amount) || 0), 0);\r\n\r\nconst addressParts = [\r\n  valueFrom(props.address, props.street, props.street_address, props.company_address),\r\n  valueFrom(props.city, props.company_city),\r\n  valueFrom(props.state, props.state_region, props.company_state),\r\n  valueFrom(props.zip, props.zip_code, props.postal_code, props.company_zip),\r\n  valueFrom(props.country, props.company_country)\r\n].filter(Boolean);\r\n\r\nconst tierKey = valueFrom(props.tier).toLowerCase() || 'starter';\r\nconst tierInfo = (config.tiers && (config.tiers[tierKey] || config.tiers.starter)) || {\r\n  name: titleCase(tierKey) || 'Starter',\r\n  monthlyPrice: 0,\r\n  setupFee: 0\r\n};\r\n\r\nconst rawPainSources = [\r\n  valueFrom(props.deal_pain_points),\r\n  valueFrom(props.painPoints),\r\n  valueFrom(props.pain_point_summary)\r\n].filter(Boolean);\r\n\r\nconst uniquePainSources = [...new Set(rawPainSources)];\r\nconst painPoints = uniquePainSources.join('\\n\\n');\r\nconst contactFirstName = valueFrom(props.contact_firstname, props.firstName, props.firstname);\r\nconst contactLastName = valueFrom(props.contact_lastname, props.lastName, props.lastname);\r\nconst contactName = [contactFirstName, contactLastName].filter(Boolean).join(' ');\r\nconst tierMonthly = money(tierInfo.monthlyPrice);\r\nconst upfrontDue = money(tierInfo.setupFee);\r\nconst explicitDealAmount = money(props.amount);\r\nconst tierAmount =\r\n  explicitDealAmount > 0\r\n    ? explicitDealAmount\r\n    : lineItemsTotal > 0\r\n      ? lineItemsTotal\r\n      : upfrontDue;\r\nconst remainingTierBalance = Math.max(tierAmount - upfrontDue, 0);\r\nconst launchBalance = remainingTierBalance + tierMonthly;\r\n\r\nreturn [{\r\n  json: {\r\n    clientName: valueFrom(props.dealname, props.name, props.company, props.business_name),\r\n    company: valueFrom(props.company, props.dealname, props.name, props.business_name),\r\n    industry: valueFrom(props.industry),\r\n    painPoints,\r\n    painPointSummary: valueFrom(props.pain_point_summary, props.painPoints),\r\n    rawPainPoints: valueFrom(props.deal_pain_points, painPoints),\r\n    dealValue: tierAmount,\r\n    amountLabel: valueFrom(props.amount),\r\n    tierAmount,\r\n    tier: tierKey,\r\n    tierLabel: tierInfo.name || titleCase(tierKey) || 'Starter',\r\n    tierMonthly,\r\n    monthlyCost: tierMonthly,\r\n    upfrontDue,\r\n    remainingTierBalance,\r\n    launchBalance,\r\n    finalDueAtPreLaunch: launchBalance,\r\n    dealId: valueFrom(body.id, deal.id, body.dealId, deal.dealId),\r\n    contactEmail: valueFrom(props.contact_email, props.email),\r\n    contactPhone: valueFrom(props.contact_phone, props.phone, props.mobilephone),\r\n    contactFirstName,\r\n    contactName: contactName || contactFirstName,\r\n    address: addressParts.join(', '),\r\n    city: valueFrom(props.city, props.company_city),\r\n    state: valueFrom(props.state, props.state_region, props.company_state),\r\n    postalCode: valueFrom(props.zip, props.zip_code, props.postal_code, props.company_zip),\r\n    country: valueFrom(props.country, props.company_country),\r\n    website: valueFrom(props.website, props.domain, props.company_domain),\r\n    driveFolderId: valueFrom(props.client_drive_folder_id),\r\n    lineItems,\r\n    lineItemsTotal,\r\n    config\r\n  }\r\n}];\r\n"
      },
      "id": "sys05-extract",
      "name": "Extract Deal Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2448,
        -528
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $('Extract Deal Data').first().json;\nconst intakePainPoints = [d.rawPainPoints, d.painPointSummary].filter(Boolean).join('\\n') || d.painPoints || '(None provided)';\n\nconst fmtMoney = (n) => {\n  const x = Number(n);\n  if (!Number.isFinite(x)) return '$0';\n  return new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD', maximumFractionDigits: 0 }).format(x);\n};\n\nconst lineItems = Array.isArray(d.lineItems) ? d.lineItems : [];\nconst lineItemsBlock = lineItems.length\n  ? lineItems.map((li, i) =>\n      `  ${i + 1}. ${li.name || 'Item'} — Qty ${li.quantity ?? 1} — ${fmtMoney(li.amount)}\\n` +\n      (li.description ? `     Notes: ${li.description}\\n` : '')\n    ).join('')\n  : '(No line items in payload — scope from tier and pain points only.)';\n\nconst lineItemsRules = lineItems.length\n  ? 'When LINE ITEMS are present: treat each line item as a distinct sellable component (e.g. website vs automation). Include at least one scope block that maps to each line item by name, in addition to tying work to pain points. Min 2, max 4 blocks total.'\n  : 'one scope block per major pain point. Min 2, max 4 blocks.';\n\nreturn [{\n  json: {\n    systemPrompt: `You are writing a polished consulting proposal body for IntraWeb Technologies LLC.\nWe are the implementation partner — not a generic advisor. Tone: direct, credible, senior, specific.\n\nOUTPUT RULES:\n- Return ONLY the inner HTML body content. No DOCTYPE, no <html>, no <head>, no <body> tags.\n- No markdown. No backticks. No prose outside of HTML tags.\n- The branded template renders the cover header, client snapshot, investment summary, and footer separately — do NOT repeat them.\n- All colors must be hardcoded hex. No CSS variables.\n- Bullets use • inside <div> tags — NEVER <ul> or <li>.\n- Add page-break-inside: avoid to every card, scope block, phase block, and outcome card.\n\nDESIGN SYSTEM — use these exact components, in this exact order:\n\n━━ SECTION TITLE ━━\n<div style=\"font-size: 10pt; font-weight: 700; color: #3d8b8b; text-transform: uppercase; letter-spacing: 0.05em; margin: 22px 0 10px;\">Section Title</div>\n\n━━ PROSE PARAGRAPHS ━━\n<p style=\"font-size: 9.5pt; color: #1a1f2e; line-height: 1.6; margin-bottom: 10px;\">Text here.</p>\n\n━━ PAIN POINT CARD (use in \"What You Told Us\") ━━\n<div style=\"border: 0.5px solid #e2e5ea; margin-bottom: 8px; page-break-inside: avoid;\">\n  <div style=\"background: #f5f6f8; padding: 8px 14px; border-bottom: 0.5px solid #e2e5ea; font-size: 9pt; font-weight: 700; font-style: italic; color: #1a1f2e;\">[Pain Point Label]</div>\n  <div style=\"padding: 10px 14px; font-size: 9.5pt; color: #1a1f2e; line-height: 1.6;\">[2–3 sentences: operational impact + what we're solving]</div>\n</div>\n\n━━ SCOPE BLOCK (one per major deliverable, in \"Detailed Scope of Work\") ━━\n<div style=\"margin-bottom: 12px; page-break-inside: avoid;\">\n  <div style=\"background: #1a1f2e; padding: 10px 14px;\">\n    <div style=\"font-size: 9.5pt; font-weight: 700; color: #ffffff;\">[Deliverable Name]</div>\n    <div style=\"font-size: 8.5pt; color: #3d8b8b; margin-top: 3px; font-style: italic;\">You said: [verbatim or close paraphrase of pain point]</div>\n  </div>\n  <div style=\"border: 0.5px solid #e2e5ea; border-top: none; display: flex;\">\n    <div style=\"width: 3px; background: #3d8b8b; flex-shrink: 0;\"></div>\n    <div style=\"padding: 10px 14px;\">\n      <div style=\"font-size: 9pt; color: #6b7280; margin-bottom: 6px;\">We will:</div>\n      <div style=\"font-size: 9pt; color: #1a1f2e; margin-bottom: 4px;\">• [specific deliverable]</div>\n      <div style=\"font-size: 9pt; color: #1a1f2e; margin-bottom: 4px;\">• [specific deliverable]</div>\n      <div style=\"font-size: 9pt; color: #1a1f2e; margin-bottom: 4px;\">• [specific deliverable]</div>\n      <div style=\"font-size: 9pt; color: #1a1f2e; margin-bottom: 4px;\">• [specific deliverable]</div>\n      <div style=\"font-size: 9pt; color: #1a1f2e;\">• [specific deliverable]</div>\n    </div>\n  </div>\n</div>\n\n━━ ROADMAP GRID (2×2, in \"Implementation Roadmap\") ━━\n<div style=\"display: grid; grid-template-columns: 1fr 1fr; gap: 10px; margin-bottom: 4px;\">\n  [Repeat 4×:]\n  <div style=\"border: 0.5px solid #e2e5ea; page-break-inside: avoid;\">\n    <div style=\"background: #1a1f2e; padding: 8px 14px; display: flex; justify-content: space-between; align-items: center;\">\n      <div style=\"font-size: 9pt; font-weight: 700; color: #ffffff;\">[Phase Name]</div>\n      <div style=\"font-size: 8pt; font-weight: 700; color: #3d8b8b;\">Weeks [X–Y]</div>\n    </div>\n    <div style=\"padding: 10px 14px;\">\n      <div style=\"font-size: 9pt; color: #1a1f2e; margin-bottom: 4px;\">• [milestone]</div>\n      <div style=\"font-size: 9pt; color: #1a1f2e; margin-bottom: 4px;\">• [milestone]</div>\n      <div style=\"font-size: 9pt; color: #1a1f2e; margin-bottom: 4px;\">• [milestone]</div>\n      <div style=\"font-size: 9pt; color: #1a1f2e;\">• [milestone]</div>\n    </div>\n  </div>\n</div>\n\n━━ OUTCOMES GRID (3-column cards, in \"Expected Operational Outcomes\") ━━\n<div style=\"display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 10px; margin-bottom: 4px;\">\n  [Repeat 5–6×:]\n  <div style=\"border: 0.5px solid #e2e5ea; border-top: 2px solid #3d8b8b; padding: 12px 14px; page-break-inside: avoid;\">\n    <div style=\"font-size: 9.5pt; font-weight: 700; color: #1a1f2e; margin-bottom: 5px;\">[Outcome Title]</div>\n    <div style=\"font-size: 9pt; color: #6b7280; line-height: 1.5;\">[1–2 sentences — measurable, industry-specific]</div>\n  </div>\n</div>\n\n━━ WHY INTRAWEB BLOCK ━━\n<div style=\"background: #e8f4f4; border: 0.5px solid #e2e5ea; padding: 20px 24px; margin-bottom: 4px; page-break-inside: avoid;\">\n  <div style=\"display: grid; grid-template-columns: 1fr 1fr; gap: 20px;\">\n    <div>\n      <p style=\"font-size: 9.5pt; color: #1a1f2e; line-height: 1.6; margin-bottom: 10px;\">[Paragraph 1 — specific to their industry and pain points. No generic claims.]</p>\n      <p style=\"font-size: 9.5pt; color: #1a1f2e; line-height: 1.6;\">[Paragraph 2 — execution focus, delivery speed, real results from day one.]</p>\n    </div>\n    <div>\n      [Repeat 3×:]\n      <div style=\"background: #ffffff; border: 0.5px solid #e2e5ea; padding: 10px 14px; margin-bottom: 8px;\">\n        <div style=\"font-size: 9pt; font-weight: 700; color: #1a1f2e; margin-bottom: 3px;\">[Differentiator Title]</div>\n        <div style=\"font-size: 8.5pt; color: #6b7280;\">[One sentence]</div>\n      </div>\n    </div>\n  </div>\n</div>\n\n━━ NEXT STEPS GRID (2×2) ━━\n<div style=\"display: grid; grid-template-columns: 1fr 1fr; gap: 12px; margin-bottom: 4px;\">\n  [Repeat 4×:]\n  <div style=\"display: flex; align-items: flex-start; gap: 12px; page-break-inside: avoid;\">\n    <div style=\"width: 28px; height: 28px; border-radius: 50%; background: #3d8b8b; color: #ffffff; font-size: 9pt; font-weight: 700; display: flex; align-items: center; justify-content: center; flex-shrink: 0;\">[N]</div>\n    <div>\n      <div style=\"font-size: 9.5pt; font-weight: 700; color: #1a1f2e; margin-bottom: 3px;\">[Action Title]</div>\n      <div style=\"font-size: 9pt; color: #6b7280; line-height: 1.5;\">[Supporting sentence]</div>\n    </div>\n  </div>\n</div>\n\nCONTENT RULES:\n1. Every section must directly reference the client's industry and pain points — no generic filler.\n2. \"What You Told Us\": one pain point card per distinct pain point from the payload.\n3. \"Detailed Scope of Work\": ${lineItemsRules}\n4. \"Implementation Roadmap\": 4 phase cards — Foundation, Core Build, Integration, Launch & Optimization.\n5. \"Expected Outcomes\": 5–6 cards. Measurable. Specific to their industry. No vague claims.\n6. \"Why IntraWeb\": left column prose references their exact situation. Right column 3 differentiator pills.\n7. \"Next Steps\": 4 steps. Step 1 = kickoff call within 48 hrs. Step 4 = system live in 8 weeks.\n8. Do not fabricate facts not in the payload. If a detail is missing, write around it naturally.`,\n\n    userPrompt: `Generate the proposal body for this client.\n\nClient: ${d.clientName}\nCompany: ${d.company}\nIndustry: ${d.industry || 'Not provided'}\nPrimary Contact: ${d.contactName || d.contactFirstName || 'Not provided'}\nContact Email: ${d.contactEmail || 'Not provided'}\nTier: ${d.tierLabel}\nSetup Fee: $${d.tierAmount || 0}\nMonthly Retainer: $${d.tierMonthly || 0}\nUpfront Due: $${d.upfrontDue || 0}\nLaunch Balance: $${d.launchBalance || 0}\n\nLINE ITEMS (quoted components — scope and narrative must reflect each when present):\n${lineItemsBlock}\n\nPAIN POINTS — address every one explicitly:\n\"\"\"\n${intakePainPoints}\n\"\"\"\n\nOutput the following sections in order using the design system components above:\n1. Executive Summary — 2 prose paragraphs. Reference their specific operational challenges. If LINE ITEMS exist, summarize the bundle (e.g. website + automation) without inventing numbers not in the payload.\n2. What You Told Us — one pain point card per pain point.\n3. Detailed Scope of Work — when LINE ITEMS exist, align scope blocks with each line item by name and tie to pain points; otherwise one block per major pain point. \"You said / We will\" pattern. 5 bullets minimum per block when possible.\n4. Implementation Roadmap — 2×2 grid, 4 phase cards, Weeks 1–2 through 7–8.\n5. Expected Operational Outcomes — 3-column grid, 5–6 outcome cards. Measurable and industry-specific.\n6. Why IntraWeb — split block: left prose (2 paragraphs, industry-specific), right 3 differentiator pills.\n7. Next Steps — 2×2 grid, 4 numbered steps with teal circle numbers.`,\n\n    maxTokens: 8000\n  }\n}];"
      },
      "id": "sys05-claude-prep",
      "name": "Prep Claude Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2672,
        -528
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: $json.maxTokens, system: $json.systemPrompt, messages: [{ role: 'user', content: $json.userPrompt }] }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "sys05-claude",
      "name": "Call Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2896,
        -528
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "weYEDVXsLfY0tPqi",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $('Call Claude API').first().json;\nconst text = (raw.content && raw.content[0] && raw.content[0].text) ? raw.content[0].text : '';\nconst d = $('Extract Deal Data').first().json;\nreturn [{ json: { data: { text }, html: text, fileName: `IntraWeb — ${d.clientName} — Proposal.pdf` } }];"
      },
      "id": "sys05-parse-claude",
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3120,
        -528
      ]
    },
    {
      "parameters": {
        "jsCode": "const claudeResult = $('Parse Claude Response').first().json;\nconst d = $('Extract Deal Data').first().json;\nconst config = d.config || {};\nconst branding = config.branding || {};\nconst owner = config.owner || {};\nconst companyName = owner.companyName || 'IntraWeb Technologies LLC';\nconst ownerEmail = owner.email || '';\nconst ownerPhone = owner.phone || '';\nconst ownerName = owner.name || 'John Schibelli';\nconst calendarLink = owner.calendarLink || '';\nconst bodyContent = (claudeResult.data ? claudeResult.data.text : claudeResult.html || '').trim();\nconst clientName = d.clientName || 'Client';\nconst proposalDate = new Date().toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' });\nconst logoSrc = branding.logoUrl || '';\n\nconst escapeHtml = (value) => String(value ?? '')\n  .replace(/&/g, '&amp;')\n  .replace(/</g, '&lt;')\n  .replace(/>/g, '&gt;')\n  .replace(/\\\"/g, '&quot;')\n  .replace(/'/g, '&#39;');\n\nconst formatCurrency = (value) => {\n  const numeric = Number(value || 0);\n  return new Intl.NumberFormat('en-US', {\n    style: 'currency',\n    currency: 'USD',\n    maximumFractionDigits: 0\n  }).format(Number.isFinite(numeric) ? numeric : 0);\n};\n\nconst renderField = (label, value) => `\n  <div class=\"meta-item\">\n    <div class=\"meta-label\">${label}</div>\n    <div class=\"meta-value\">${escapeHtml(value || 'Not provided')}</div>\n  </div>`;\n\nconst summaryPainPoints = (d.painPointSummary || '')\n  .split(/[,;]\\s*/)\n  .map((item) => item.trim())\n  .filter(Boolean);\n\nconst painSummaryHtml = summaryPainPoints.length\n  ? `<ul class=\"bullet-list\">${summaryPainPoints.map((item) => `<li>${escapeHtml(item)}</li>`).join('')}</ul>`\n  : '';\n\nconst rawPainBlock = d.rawPainPoints || d.painPoints || 'No pain points were provided in the payload.';\nconst contactDisplay = d.contactName || d.contactFirstName || '';\nconst tierAmountText = d.tierAmount ? formatCurrency(d.tierAmount) : 'Not provided';\nconst tierMonthlyText = formatCurrency(d.tierMonthly || 0);\nconst upfrontDueText = formatCurrency(d.upfrontDue || 0);\nconst launchBalanceText = formatCurrency(d.launchBalance || 0);\nconst lineItems = Array.isArray(d.lineItems) ? d.lineItems : [];\nconst lineItemsRowsHtml = lineItems.length\n  ? lineItems.map((li) =>\n      `<tr><td>${escapeHtml(li.name)} (qty ${li.quantity ?? 1})${li.description ? ' — ' + escapeHtml(String(li.description).slice(0, 120)) : ''}</td><td>${escapeHtml(formatCurrency(li.amount))}</td></tr>`\n    ).join('') +\n    `<tr><td><strong>Line items subtotal</strong></td><td><strong>${escapeHtml(formatCurrency(lineItems.reduce((s, x) => s + (Number(x.amount) || 0), 0)))}</strong></td></tr>`\n  : '';\nconst calendarHtml = calendarLink\n  ? `<a class=\"cta-button\" href=\"${calendarLink}\">Book approval call</a>`\n  : '';\nconst safeBodyContent = bodyContent || '<h2>Executive Summary</h2><p>Proposal content could not be generated.</p>';\n\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <title>Proposal for ${escapeHtml(clientName)} - ${escapeHtml(companyName)}</title>\n  <link href=\"https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Source+Serif+4:wght@400;600;700&display=swap\" rel=\"stylesheet\">\n  <style>\n    @page { size: Letter; margin: 0.62in; }\n    * { box-sizing: border-box; }\n    html, body { margin: 0; padding: 0; background: #ffffff; color: #18212f; }\n    body { font-family: 'Manrope', Arial, sans-serif; font-size: 12.5px; line-height: 1.65; }\n    img { max-width: 100%; display: block; }\n    .document { width: 100%; }\n    .hero {\n      border: 1px solid #d8deea;\n      border-radius: 20px;\n      padding: 28px 30px;\n      background: linear-gradient(180deg, #ffffff 0%, #f7f8fc 100%);\n      margin-bottom: 22px;\n      break-inside: avoid;\n    }\n    .brand-row {\n      display: flex;\n      justify-content: space-between;\n      align-items: flex-start;\n      gap: 18px;\n      margin-bottom: 22px;\n    }\n    .brand-lockup { display: flex; align-items: center; gap: 14px; }\n    .brand-lockup img { max-height: 46px; width: auto; }\n    .eyebrow {\n      display: inline-block;\n      font-size: 10px;\n      font-weight: 800;\n      letter-spacing: 0.14em;\n      text-transform: uppercase;\n      color: #6b7280;\n      margin-bottom: 8px;\n    }\n    .hero h1 {\n      font-size: 29px;\n      line-height: 1.15;\n      margin: 0 0 8px 0;\n      color: #111827;\n    }\n    .hero-subtitle {\n      margin: 0;\n      font-size: 13px;\n      color: #4b5563;\n      max-width: 520px;\n    }\n    .prepared-tag {\n      min-width: 180px;\n      border: 1px solid #e5e7eb;\n      border-radius: 16px;\n      padding: 14px 16px;\n      background: #ffffff;\n      text-align: right;\n    }\n    .prepared-tag .label {\n      font-size: 10px;\n      text-transform: uppercase;\n      letter-spacing: 0.12em;\n      color: #6b7280;\n      margin-bottom: 6px;\n      font-weight: 700;\n    }\n    .prepared-tag .value {\n      font-size: 14px;\n      font-weight: 700;\n      color: #111827;\n    }\n    .prepared-tag .subvalue {\n      font-size: 11px;\n      color: #6b7280;\n      margin-top: 4px;\n    }\n    .hero-grid {\n      display: grid;\n      grid-template-columns: 1.25fr 0.95fr;\n      gap: 18px;\n    }\n    .panel {\n      border: 1px solid #e5e7eb;\n      border-radius: 16px;\n      padding: 18px 18px 16px;\n      background: #ffffff;\n      break-inside: avoid;\n    }\n    .panel-title {\n      font-size: 10px;\n      font-weight: 800;\n      letter-spacing: 0.12em;\n      text-transform: uppercase;\n      color: #6b7280;\n      margin: 0 0 12px 0;\n    }\n    .meta-grid {\n      display: grid;\n      grid-template-columns: 1fr 1fr;\n      gap: 12px 16px;\n    }\n    .meta-item { break-inside: avoid; }\n    .meta-label {\n      font-size: 10px;\n      font-weight: 700;\n      letter-spacing: 0.08em;\n      text-transform: uppercase;\n      color: #6b7280;\n      margin-bottom: 5px;\n    }\n    .meta-value {\n      font-size: 13px;\n      color: #111827;\n      font-weight: 600;\n      word-break: break-word;\n    }\n    .pricing-table {\n      width: 100%;\n      border-collapse: collapse;\n      font-size: 12.5px;\n    }\n    .pricing-table tr { break-inside: avoid; }\n    .pricing-table td {\n      padding: 10px 0;\n      border-bottom: 1px solid #edf0f5;\n      vertical-align: top;\n    }\n    .pricing-table td:last-child {\n      text-align: right;\n      font-weight: 700;\n      color: #111827;\n      padding-left: 20px;\n    }\n    .pricing-table tr.total td {\n      padding-top: 14px;\n      border-bottom: none;\n      font-size: 15px;\n      color: #6B4E9B;\n    }\n    .pricing-disclaimer {\n      font-size: 11px;\n      color: #6b7280;\n      margin-top: 10px;\n      line-height: 1.4;\n    }\n    .section-card {\n      border: 1px solid #e5e7eb;\n      border-radius: 18px;\n      padding: 22px 24px;\n      margin-bottom: 20px;\n      background: #ffffff;\n      break-inside: avoid;\n    }\n    .section-card h2:first-child,\n    .section-card h3:first-child,\n    .proposal-body h2:first-child,\n    .proposal-body h3:first-child { margin-top: 0; }\n    .section-card h2,\n    .proposal-body h2 {\n      font-family: 'Source Serif 4', Georgia, serif;\n      font-size: 23px;\n      line-height: 1.2;\n      margin: 26px 0 12px;\n      color: #101827;\n      break-after: avoid;\n    }\n    .section-card h3,\n    .proposal-body h3 {\n      font-size: 16px;\n      line-height: 1.3;\n      margin: 18px 0 10px;\n      color: #18212f;\n      break-after: avoid;\n    }\n    .proposal-body p,\n    .section-card p { margin: 0 0 12px; }\n    .proposal-body ul,\n    .proposal-body ol,\n    .bullet-list {\n      margin: 0 0 12px 0;\n      padding-left: 20px;\n    }\n    .proposal-body li,\n    .bullet-list li { margin-bottom: 6px; }\n    .callout {\n      background: linear-gradient(180deg, #fff7ed 0%, #fffaf5 100%);\n      border: 1px solid #fed7aa;\n      border-radius: 16px;\n      padding: 18px 18px 14px;\n      break-inside: avoid;\n    }\n    .quote {\n      font-family: 'Source Serif 4', Georgia, serif;\n      font-size: 16px;\n      line-height: 1.55;\n      color: #1f2937;\n      margin: 0 0 14px 0;\n      white-space: pre-wrap;\n    }\n    .footer-note {\n      margin-top: 22px;\n      padding-top: 14px;\n      border-top: 1px solid #e5e7eb;\n      display: flex;\n      justify-content: space-between;\n      gap: 16px;\n      align-items: center;\n      flex-wrap: wrap;\n    }\n    .footer-note-text {\n      font-size: 11px;\n      color: #6b7280;\n      max-width: 470px;\n    }\n    .cta-button {\n      display: inline-block;\n      text-decoration: none;\n      background: #6B4E9B;\n      color: #ffffff;\n      padding: 12px 18px;\n      border-radius: 999px;\n      font-size: 12px;\n      font-weight: 700;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"document\">\n    <section class=\"hero\">\n      <div class=\"brand-row\">\n        <div>\n          <div class=\"brand-lockup\">\n            ${logoSrc ? `<img src=\"${logoSrc}\" alt=\"IntraWeb\" />` : ''}\n            <div>\n              <div class=\"eyebrow\">IntraWeb Technologies LLC</div>\n              <h1>Proposal for ${escapeHtml(d.company || clientName)}</h1>\n              <p class=\"hero-subtitle\">A delivery-focused implementation proposal designed around the operational bottlenecks, growth priorities, and intake details captured for this opportunity.</p>\n            </div>\n          </div>\n        </div>\n        <div class=\"prepared-tag\">\n          <div class=\"label\">Prepared On</div>\n          <div class=\"value\">${escapeHtml(proposalDate)}</div>\n          <div class=\"subvalue\">Prepared by ${escapeHtml(ownerName)}</div>\n        </div>\n      </div>\n\n      <div class=\"hero-grid\">\n        <div class=\"panel\">\n          <p class=\"panel-title\">Client Snapshot</p>\n          <div class=\"meta-grid\">\n            ${renderField('Client', clientName)}\n            ${renderField('Company', d.company)}\n            ${renderField('Primary Contact', contactDisplay)}\n            ${renderField('Contact Email', d.contactEmail)}\n            ${renderField('Contact Phone', d.contactPhone)}\n            ${renderField('Industry', d.industry)}\n            ${renderField('Address', d.address)}\n            ${renderField('Website', d.website)}\n          </div>\n        </div>\n\n        <div class=\"panel\">\n          <p class=\"panel-title\">Investment Summary</p>\n          <table class=\"pricing-table\">\n            ${lineItemsRowsHtml}<tr><td>Tier amount</td><td>${escapeHtml(tierAmountText)}</td></tr>\n            <tr><td>Tier monthly</td><td>${escapeHtml(tierMonthlyText)}</td></tr>\n            <tr><td>Upfront due</td><td>${escapeHtml(upfrontDueText)}</td></tr>\n            <tr class=\"total\"><td>Launch balance</td><td>${escapeHtml(launchBalanceText)}</td></tr>\n          </table>\n          <p class=\"pricing-disclaimer\">Launch balance is due at approval and includes the remaining project balance plus the first month's subscription; tier monthly applies thereafter.</p>\n        </div>\n      </div>\n    </section>\n\n    <section class=\"section-card\">\n      <p class=\"panel-title\">Pain Points Captured From Intake</p>\n      <div class=\"callout\">\n        <p class=\"quote\">${escapeHtml(rawPainBlock)}</p>\n        ${painSummaryHtml}\n      </div>\n    </section>\n\n    <section class=\"section-card proposal-body\">\n      ${safeBodyContent}\n      <div class=\"footer-note\">\n        <div class=\"footer-note-text\">\n          ${escapeHtml(companyName)} | ${escapeHtml(ownerEmail)}${ownerPhone ? ` | ${escapeHtml(ownerPhone)}` : ''}\n        </div>\n        ${calendarHtml}\n      </div>\n    </section>\n  </div>\n</body>\n</html>`;\n\nreturn [{ json: { html, fileName: `IntraWeb - ${d.clientName} - Proposal.pdf` } }];"
      },
      "id": "sys05-pdf-prep",
      "name": "Prep PDF Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3344,
        -528
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://html2pdf.fly.dev/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ html: $json.html }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 60000
        }
      },
      "id": "sys05-pdf",
      "name": "Call PDF Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3568,
        -528
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst fileName = $('Prep PDF Input').first().json.fileName || 'document.pdf';\nreturn [{ json: { fileName }, binary: item.binary ? { ...item.binary } : {} }];"
      },
      "id": "sys05-pdf-ensure",
      "name": "Ensure PDF Item",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3792,
        -528
      ]
    },
    {
      "parameters": {
        "jsCode": "const extractItem = $('Extract Deal Data').first();\nconst uploadOut = $('Upload to Drive').first();\nif (!extractItem?.json) {\n  throw new Error('Prep Alert needs upstream data: run from the start of the workflow (or use \"Execute previous nodes\" / pin data on Extract Deal Data + Upload to Drive).');\n}\nconst d = extractItem.json;\nconst fileId = uploadOut?.json?.id ?? uploadOut?.json?.data?.id ?? '';\nconst driveLink = fileId ? 'https://drive.google.com/file/d/' + fileId : '';\n\nreturn [{\n  json: {\n    message: driveLink ? `Proposal ready for ${d.clientName} — set Status to Approved to send: ${driveLink}` : `Proposal ready for ${d.clientName} — set Status to Approved to send. (Drive link unavailable.)`,\n    priority: 'info'\n  }\n}];"
      },
      "id": "sys05-alert-prep",
      "name": "Prep Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4464,
        -528
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PGf6jPoWtxSPlr0h",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "id": "sys05-alert",
      "name": "Send Alert",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        4688,
        -528
      ]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "minutes"
      },
      "id": "sys05-poll-wait",
      "name": "Wait 30min",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4912,
        -528
      ],
      "webhookId": "c3bb4433-a611-4928-baf2-ceced2a5119c"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-approved",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Approved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "sys05-is-approved",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5360,
        -528
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $('Extract Deal Data').first().json;\nconst uploadOut = $('Upload to Drive').first();\nconst fileId = uploadOut?.json?.id ?? uploadOut?.json?.data?.id ?? '';\nconst driveLink = fileId ? 'https://drive.google.com/file/d/' + fileId : '';\n\nreturn [{\n  json: {\n    to: d.contactEmail,\n    subject: `Your IntraWeb proposal is ready — ${d.clientName}`,\n    html: `<p>Hi ${d.contactFirstName || 'there'},</p><p>Your proposal is attached. I've outlined exactly what we'll build, the timeline, and the investment.</p>${driveLink ? `<p>You can also <a href=\"${driveLink}\">view it in Google Drive here</a>.</p>` : ''}<p>Take a look and let me know if you have any questions. When you're ready to move forward, reply to this email and I'll send the contract for e-signature.</p><p>— John<br/>${d.config?.owner?.companyName || 'IntraWeb'}</p>`,\n    workflowName: 'SYS 03 — Proposal and Contract Delivery'\n  }\n}];"
      },
      "id": "sys05-send-prep",
      "name": "Prep Send Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5584,
        -528
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "FF6VOLCcRxI4uNYD",
          "cachedResultName": "SW: Send Email via Resend"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "to": "={{ $json.to }}",
            "subject": "={{ $json.subject }}",
            "html": "={{ $json.html }}",
            "workflowName": "={{ $json.workflowName }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "sys05-send-email",
      "name": "Send Proposal Email",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        5808,
        -528
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    workflowName: 'SYS 03 — Proposal and Contract Delivery',\n    contactName: $('Extract Deal Data').first().json.clientName,\n    phone: '',\n    eventType: 'proposal_sent',\n    status: 'success',\n    notes: `Deal value: $${$('Extract Deal Data').first().json.dealValue}`\n  }\n}];"
      },
      "id": "sys05-log-prep",
      "name": "Prep Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6256,
        -528
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "1qQFLOSHZsS9JPKP",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "id": "sys05-log",
      "name": "Log to Sheet",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        6480,
        -528
      ]
    },
    {
      "parameters": {
        "minutesSaved": 177
      },
      "id": "sys05-track-time-saved",
      "name": "Track Time Saved",
      "type": "n8n-nodes-base.timeSaved",
      "typeVersion": 1,
      "position": [
        6704,
        -528
      ]
    },
    {
      "parameters": {
        "documentId": {
          "mode": "id",
          "value": "={{ $('Extract Deal Data').first().json.config.google.masterSheetId }}"
        },
        "sheetName": {
          "mode": "name",
          "value": "Proposals"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5136,
        -592
      ],
      "id": "345881f4-2e5f-405c-bda6-d268d3e93677",
      "name": "Check Approval Status",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pKS06498CxELp8nS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "id",
          "value": "={{ $('Extract Deal Data').first().json.config.google.masterSheetId }}"
        },
        "sheetName": {
          "mode": "name",
          "value": "Proposals"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Extract Deal Data').first().json.dealId || '' }}",
            "Date": "={{ new Date().toISOString().split('T')[0] }}",
            "Client": "={{ $('Extract Deal Data').first().json.clientName }}",
            "Drive Link": "={{ $('Upload to Drive').first()?.json?.id ? 'https://drive.google.com/file/d/' + $('Upload to Drive').first().json.id : ($('Upload to Drive').first()?.json?.data?.id ? 'https://drive.google.com/file/d/' + $('Upload to Drive').first().json.data.id : '') }}",
            "Status": "={{ 'Pending Review | $' + ($('Extract Deal Data').first().json.dealValue || 0) + ' | ' + ($('Extract Deal Data').first().json.tier || '') + ' | ' + ($('Extract Deal Data').first().json.contactEmail || '') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client",
              "displayName": "Client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Drive Link",
              "displayName": "Drive Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4240,
        -528
      ],
      "id": "33f3e5e2-8aee-4ec9-a513-cb38c410ff2a",
      "name": "Add to Proposals Queue",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pKS06498CxELp8nS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('Prep PDF Input').first().json.fileName }}",
        "driveId": {
          "__rl": true,
          "value": "0ADK5JlQfsgrHUk9PVA",
          "mode": "list",
          "cachedResultName": "IntraWeb — Clients",
          "cachedResultUrl": "https://drive.google.com/drive/folders/0ADK5JlQfsgrHUk9PVA"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4000,
        -512
      ],
      "id": "cb0b6a64-8b96-4c09-aa1d-033c1030fa9c",
      "name": "Upload to Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "oPioaF4sFaVsK13H",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "deal",
        "operation": "update",
        "dealId": {
          "__rl": true,
          "value": "={{ $('Extract Deal Data').first().json.dealId }}",
          "mode": "id"
        },
        "updateFields": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        6016,
        -528
      ],
      "id": "213b13d2-df94-4256-a0ed-d9c51d449e17",
      "name": "Update a deal",
      "credentials": {
        "hubspotAppToken": {
          "id": "volH6pGD5psvPC7a",
          "name": "HubSpot App Token account"
        }
      }
    }
  ],
  "connections": {
    "Deal Proposal Stage Webhook": {
      "main": [
        [
          {
            "node": "Get Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Config": {
      "main": [
        [
          {
            "node": "Extract Deal Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Deal Data": {
      "main": [
        [
          {
            "node": "Prep Claude Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Claude Prompt": {
      "main": [
        [
          {
            "node": "Call Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude API": {
      "main": [
        [
          {
            "node": "Parse Claude Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Claude Response": {
      "main": [
        [
          {
            "node": "Prep PDF Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep PDF Input": {
      "main": [
        [
          {
            "node": "Call PDF Service",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call PDF Service": {
      "main": [
        [
          {
            "node": "Ensure PDF Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensure PDF Item": {
      "main": [
        [
          {
            "node": "Upload to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Alert": {
      "main": [
        [
          {
            "node": "Send Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Alert": {
      "main": [
        [
          {
            "node": "Wait 30min",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30min": {
      "main": [
        [
          {
            "node": "Check Approval Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          {
            "node": "Prep Send Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 30min",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Send Email": {
      "main": [
        [
          {
            "node": "Send Proposal Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Proposal Email": {
      "main": [
        [
          {
            "node": "Update a deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Log": {
      "main": [
        [
          {
            "node": "Log to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Sheet": {
      "main": [
        [
          {
            "node": "Track Time Saved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Approval Status": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Proposals Queue": {
      "main": [
        [
          {
            "node": "Prep Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Drive": {
      "main": [
        [
          {
            "node": "Add to Proposals Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a deal": {
      "main": [
        [
          {
            "node": "Prep Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedMode": "dynamic",
    "binaryMode": "separate",
    "errorWorkflow": "w9S9LovIY8CxchZm"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "105dc99b-9d66-41ac-9e31-817530201f19",
  "activeVersionId": "105dc99b-9d66-41ac-9e31-817530201f19",
  "versionCounter": 340,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-15T22:51:03.506Z",
      "createdAt": "2026-03-15T22:51:03.506Z",
      "role": "workflow:owner",
      "workflowId": "1aX9pLXOuVelq3sK",
      "projectId": "o5dYIcHW2mxs82d6",
      "project": {
        "updatedAt": "2026-02-23T01:06:36.093Z",
        "createdAt": "2026-02-23T00:59:28.616Z",
        "id": "o5dYIcHW2mxs82d6",
        "name": "John Schibelli <john.schibelli@intrawebtech.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-03T04:44:38.129Z",
    "createdAt": "2026-04-03T04:44:38.129Z",
    "versionId": "105dc99b-9d66-41ac-9e31-817530201f19",
    "workflowId": "1aX9pLXOuVelq3sK",
    "nodes": [
      {
        "parameters": {},
        "id": "note-sys05",
        "name": "Note — About this workflow",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1.3,
        "position": [
          80,
          80
        ]
      },
      {
        "parameters": {},
        "id": "note-sys05-time-saved",
        "name": "Note — Time saved",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1.3,
        "position": [
          128,
          -416
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "hubspot-deal-proposal-stage",
          "responseMode": "lastNode",
          "options": {}
        },
        "id": "sys05-trigger",
        "name": "Deal Proposal Stage Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          2000,
          -528
        ],
        "webhookId": "954c4ac0-7a16-4c08-9825-217f9c0e71f3"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "1eTTVoSFSlSPvZV4",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {}
          },
          "options": {}
        },
        "id": "sys05-config",
        "name": "Get Config",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2224,
          -528
        ]
      },
      {
        "parameters": {
          "jsCode": "const deal = $('Deal Proposal Stage Webhook').first().json;\r\nconst config = $('Get Config').first().json;\r\nconst body = deal.body && typeof deal.body === 'object' ? deal.body : deal;\r\nconst props = body.properties || body;\r\n\r\nconst valueFrom = (...values) => {\r\n  for (const value of values) {\r\n    if (value !== undefined && value !== null && String(value).trim()) {\r\n      return String(value).trim();\r\n    }\r\n  }\r\n  return '';\r\n};\r\n\r\nconst money = (value) => {\r\n  if (value === undefined || value === null || value === '') return 0;\r\n  const normalized = Number(String(value).replace(/[^0-9.-]/g, ''));\r\n  return Number.isFinite(normalized) ? normalized : 0;\r\n};\r\n\r\nconst titleCase = (value) => value ? value.charAt(0).toUpperCase() + value.slice(1) : '';\r\n\r\n/** Parse line items from payload: arrays on body/properties or JSON string. */\r\nconst parseLineItemsRaw = () => {\r\n  const candidates = [\r\n    body.lineItems,\r\n    body.line_items,\r\n    props.lineItems,\r\n    props.line_items,\r\n  ];\r\n  for (const c of candidates) {\r\n    if (Array.isArray(c) && c.length) return c;\r\n    if (typeof c === 'string' && c.trim().startsWith('[')) {\r\n      try {\r\n        const parsed = JSON.parse(c);\r\n        if (Array.isArray(parsed) && parsed.length) return parsed;\r\n      } catch (e) { /* ignore */ }\r\n    }\r\n  }\r\n  return [];\r\n};\r\n\r\nconst normalizeLineItems = (raw) => {\r\n  return raw.map((x, i) => {\r\n    if (!x || typeof x !== 'object') return null;\r\n    const qty = Math.max(1, Number(x.quantity ?? x.qty ?? 1) || 1);\r\n    const unit = money(x.unitPrice ?? x.price ?? x.rate ?? x.hs_price);\r\n    const lineTotal = money(x.amount ?? x.line_amount ?? x.total ?? x.line_total);\r\n    const name = valueFrom(x.name, x.productName, x.title, x.hs_sku, `Line item ${i + 1}`);\r\n    const description = valueFrom(x.description, x.details, x.notes, '');\r\n    let amount = lineTotal;\r\n    if (!amount && unit) amount = unit * qty;\r\n    if (!amount) amount = 0;\r\n    return {\r\n      name,\r\n      description,\r\n      quantity: qty,\r\n      unitPrice: unit || (qty ? amount / qty : amount),\r\n      amount,\r\n    };\r\n  }).filter(Boolean);\r\n};\r\n\r\nconst rawLineItems = parseLineItemsRaw();\r\nconst lineItems = normalizeLineItems(rawLineItems);\r\nconst lineItemsTotal = lineItems.reduce((s, li) => s + (Number(li.amount) || 0), 0);\r\n\r\nconst addressParts = [\r\n  valueFrom(props.address, props.street, props.street_address, props.company_address),\r\n  valueFrom(props.city, props.company_city),\r\n  valueFrom(props.state, props.state_region, props.company_state),\r\n  valueFrom(props.zip, props.zip_code, props.postal_code, props.company_zip),\r\n  valueFrom(props.country, props.company_country)\r\n].filter(Boolean);\r\n\r\nconst tierKey = valueFrom(props.tier).toLowerCase() || 'starter';\r\nconst tierInfo = (config.tiers && (config.tiers[tierKey] || config.tiers.starter)) || {\r\n  name: titleCase(tierKey) || 'Starter',\r\n  monthlyPrice: 0,\r\n  setupFee: 0\r\n};\r\n\r\nconst rawPainSources = [\r\n  valueFrom(props.deal_pain_points),\r\n  valueFrom(props.painPoints),\r\n  valueFrom(props.pain_point_summary)\r\n].filter(Boolean);\r\n\r\nconst uniquePainSources = [...new Set(rawPainSources)];\r\nconst painPoints = uniquePainSources.join('\\n\\n');\r\nconst contactFirstName = valueFrom(props.contact_firstname, props.firstName, props.firstname);\r\nconst contactLastName = valueFrom(props.contact_lastname, props.lastName, props.lastname);\r\nconst contactName = [contactFirstName, contactLastName].filter(Boolean).join(' ');\r\nconst tierMonthly = money(tierInfo.monthlyPrice);\r\nconst upfrontDue = money(tierInfo.setupFee);\r\nconst explicitDealAmount = money(props.amount);\r\nconst tierAmount =\r\n  explicitDealAmount > 0\r\n    ? explicitDealAmount\r\n    : lineItemsTotal > 0\r\n      ? lineItemsTotal\r\n      : upfrontDue;\r\nconst remainingTierBalance = Math.max(tierAmount - upfrontDue, 0);\r\nconst launchBalance = remainingTierBalance + tierMonthly;\r\n\r\nreturn [{\r\n  json: {\r\n    clientName: valueFrom(props.dealname, props.name, props.company, props.business_name),\r\n    company: valueFrom(props.company, props.dealname, props.name, props.business_name),\r\n    industry: valueFrom(props.industry),\r\n    painPoints,\r\n    painPointSummary: valueFrom(props.pain_point_summary, props.painPoints),\r\n    rawPainPoints: valueFrom(props.deal_pain_points, painPoints),\r\n    dealValue: tierAmount,\r\n    amountLabel: valueFrom(props.amount),\r\n    tierAmount,\r\n    tier: tierKey,\r\n    tierLabel: tierInfo.name || titleCase(tierKey) || 'Starter',\r\n    tierMonthly,\r\n    monthlyCost: tierMonthly,\r\n    upfrontDue,\r\n    remainingTierBalance,\r\n    launchBalance,\r\n    finalDueAtPreLaunch: launchBalance,\r\n    dealId: valueFrom(body.id, deal.id, body.dealId, deal.dealId),\r\n    contactEmail: valueFrom(props.contact_email, props.email),\r\n    contactPhone: valueFrom(props.contact_phone, props.phone, props.mobilephone),\r\n    contactFirstName,\r\n    contactName: contactName || contactFirstName,\r\n    address: addressParts.join(', '),\r\n    city: valueFrom(props.city, props.company_city),\r\n    state: valueFrom(props.state, props.state_region, props.company_state),\r\n    postalCode: valueFrom(props.zip, props.zip_code, props.postal_code, props.company_zip),\r\n    country: valueFrom(props.country, props.company_country),\r\n    website: valueFrom(props.website, props.domain, props.company_domain),\r\n    driveFolderId: valueFrom(props.client_drive_folder_id),\r\n    lineItems,\r\n    lineItemsTotal,\r\n    config\r\n  }\r\n}];\r\n"
        },
        "id": "sys05-extract",
        "name": "Extract Deal Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2448,
          -528
        ]
      },
      {
        "parameters": {
          "jsCode": "const d = $('Extract Deal Data').first().json;\nconst intakePainPoints = [d.rawPainPoints, d.painPointSummary].filter(Boolean).join('\\n') || d.painPoints || '(None provided)';\n\nconst fmtMoney = (n) => {\n  const x = Number(n);\n  if (!Number.isFinite(x)) return '$0';\n  return new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD', maximumFractionDigits: 0 }).format(x);\n};\n\nconst lineItems = Array.isArray(d.lineItems) ? d.lineItems : [];\nconst lineItemsBlock = lineItems.length\n  ? lineItems.map((li, i) =>\n      `  ${i + 1}. ${li.name || 'Item'} — Qty ${li.quantity ?? 1} — ${fmtMoney(li.amount)}\\n` +\n      (li.description ? `     Notes: ${li.description}\\n` : '')\n    ).join('')\n  : '(No line items in payload — scope from tier and pain points only.)';\n\nconst lineItemsRules = lineItems.length\n  ? 'When LINE ITEMS are present: treat each line item as a distinct sellable component (e.g. website vs automation). Include at least one scope block that maps to each line item by name, in addition to tying work to pain points. Min 2, max 4 blocks total.'\n  : 'one scope block per major pain point. Min 2, max 4 blocks.';\n\nreturn [{\n  json: {\n    systemPrompt: `You are writing a polished consulting proposal body for IntraWeb Technologies LLC.\nWe are the implementation partner — not a generic advisor. Tone: direct, credible, senior, specific.\n\nOUTPUT RULES:\n- Return ONLY the inner HTML body content. No DOCTYPE, no <html>, no <head>, no <body> tags.\n- No markdown. No backticks. No prose outside of HTML tags.\n- The branded template renders the cover header, client snapshot, investment summary, and footer separately — do NOT repeat them.\n- All colors must be hardcoded hex. No CSS variables.\n- Bullets use • inside <div> tags — NEVER <ul> or <li>.\n- Add page-break-inside: avoid to every card, scope block, phase block, and outcome card.\n\nDESIGN SYSTEM — use these exact components, in this exact order:\n\n━━ SECTION TITLE ━━\n<div style=\"font-size: 10pt; font-weight: 700; color: #3d8b8b; text-transform: uppercase; letter-spacing: 0.05em; margin: 22px 0 10px;\">Section Title</div>\n\n━━ PROSE PARAGRAPHS ━━\n<p style=\"font-size: 9.5pt; color: #1a1f2e; line-height: 1.6; margin-bottom: 10px;\">Text here.</p>\n\n━━ PAIN POINT CARD (use in \"What You Told Us\") ━━\n<div style=\"border: 0.5px solid #e2e5ea; margin-bottom: 8px; page-break-inside: avoid;\">\n  <div style=\"background: #f5f6f8; padding: 8px 14px; border-bottom: 0.5px solid #e2e5ea; font-size: 9pt; font-weight: 700; font-style: italic; color: #1a1f2e;\">[Pain Point Label]</div>\n  <div style=\"padding: 10px 14px; font-size: 9.5pt; color: #1a1f2e; line-height: 1.6;\">[2–3 sentences: operational impact + what we're solving]</div>\n</div>\n\n━━ SCOPE BLOCK (one per major deliverable, in \"Detailed Scope of Work\") ━━\n<div style=\"margin-bottom: 12px; page-break-inside: avoid;\">\n  <div style=\"background: #1a1f2e; padding: 10px 14px;\">\n    <div style=\"font-size: 9.5pt; font-weight: 700; color: #ffffff;\">[Deliverable Name]</div>\n    <div style=\"font-size: 8.5pt; color: #3d8b8b; margin-top: 3px; font-style: italic;\">You said: [verbatim or close paraphrase of pain point]</div>\n  </div>\n  <div style=\"border: 0.5px solid #e2e5ea; border-top: none; display: flex;\">\n    <div style=\"width: 3px; background: #3d8b8b; flex-shrink: 0;\"></div>\n    <div style=\"padding: 10px 14px;\">\n      <div style=\"font-size: 9pt; color: #6b7280; margin-bottom: 6px;\">We will:</div>\n      <div style=\"font-size: 9pt; color: #1a1f2e; margin-bottom: 4px;\">• [specific deliverable]</div>\n      <div style=\"font-size: 9pt; color: #1a1f2e; margin-bottom: 4px;\">• [specific deliverable]</div>\n      <div style=\"font-size: 9pt; color: #1a1f2e; margin-bottom: 4px;\">• [specific deliverable]</div>\n      <div style=\"font-size: 9pt; color: #1a1f2e; margin-bottom: 4px;\">• [specific deliverable]</div>\n      <div style=\"font-size: 9pt; color: #1a1f2e;\">• [specific deliverable]</div>\n    </div>\n  </div>\n</div>\n\n━━ ROADMAP GRID (2×2, in \"Implementation Roadmap\") ━━\n<div style=\"display: grid; grid-template-columns: 1fr 1fr; gap: 10px; margin-bottom: 4px;\">\n  [Repeat 4×:]\n  <div style=\"border: 0.5px solid #e2e5ea; page-break-inside: avoid;\">\n    <div style=\"background: #1a1f2e; padding: 8px 14px; display: flex; justify-content: space-between; align-items: center;\">\n      <div style=\"font-size: 9pt; font-weight: 700; color: #ffffff;\">[Phase Name]</div>\n      <div style=\"font-size: 8pt; font-weight: 700; color: #3d8b8b;\">Weeks [X–Y]</div>\n    </div>\n    <div style=\"padding: 10px 14px;\">\n      <div style=\"font-size: 9pt; color: #1a1f2e; margin-bottom: 4px;\">• [milestone]</div>\n      <div style=\"font-size: 9pt; color: #1a1f2e; margin-bottom: 4px;\">• [milestone]</div>\n      <div style=\"font-size: 9pt; color: #1a1f2e; margin-bottom: 4px;\">• [milestone]</div>\n      <div style=\"font-size: 9pt; color: #1a1f2e;\">• [milestone]</div>\n    </div>\n  </div>\n</div>\n\n━━ OUTCOMES GRID (3-column cards, in \"Expected Operational Outcomes\") ━━\n<div style=\"display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 10px; margin-bottom: 4px;\">\n  [Repeat 5–6×:]\n  <div style=\"border: 0.5px solid #e2e5ea; border-top: 2px solid #3d8b8b; padding: 12px 14px; page-break-inside: avoid;\">\n    <div style=\"font-size: 9.5pt; font-weight: 700; color: #1a1f2e; margin-bottom: 5px;\">[Outcome Title]</div>\n    <div style=\"font-size: 9pt; color: #6b7280; line-height: 1.5;\">[1–2 sentences — measurable, industry-specific]</div>\n  </div>\n</div>\n\n━━ WHY INTRAWEB BLOCK ━━\n<div style=\"background: #e8f4f4; border: 0.5px solid #e2e5ea; padding: 20px 24px; margin-bottom: 4px; page-break-inside: avoid;\">\n  <div style=\"display: grid; grid-template-columns: 1fr 1fr; gap: 20px;\">\n    <div>\n      <p style=\"font-size: 9.5pt; color: #1a1f2e; line-height: 1.6; margin-bottom: 10px;\">[Paragraph 1 — specific to their industry and pain points. No generic claims.]</p>\n      <p style=\"font-size: 9.5pt; color: #1a1f2e; line-height: 1.6;\">[Paragraph 2 — execution focus, delivery speed, real results from day one.]</p>\n    </div>\n    <div>\n      [Repeat 3×:]\n      <div style=\"background: #ffffff; border: 0.5px solid #e2e5ea; padding: 10px 14px; margin-bottom: 8px;\">\n        <div style=\"font-size: 9pt; font-weight: 700; color: #1a1f2e; margin-bottom: 3px;\">[Differentiator Title]</div>\n        <div style=\"font-size: 8.5pt; color: #6b7280;\">[One sentence]</div>\n      </div>\n    </div>\n  </div>\n</div>\n\n━━ NEXT STEPS GRID (2×2) ━━\n<div style=\"display: grid; grid-template-columns: 1fr 1fr; gap: 12px; margin-bottom: 4px;\">\n  [Repeat 4×:]\n  <div style=\"display: flex; align-items: flex-start; gap: 12px; page-break-inside: avoid;\">\n    <div style=\"width: 28px; height: 28px; border-radius: 50%; background: #3d8b8b; color: #ffffff; font-size: 9pt; font-weight: 700; display: flex; align-items: center; justify-content: center; flex-shrink: 0;\">[N]</div>\n    <div>\n      <div style=\"font-size: 9.5pt; font-weight: 700; color: #1a1f2e; margin-bottom: 3px;\">[Action Title]</div>\n      <div style=\"font-size: 9pt; color: #6b7280; line-height: 1.5;\">[Supporting sentence]</div>\n    </div>\n  </div>\n</div>\n\nCONTENT RULES:\n1. Every section must directly reference the client's industry and pain points — no generic filler.\n2. \"What You Told Us\": one pain point card per distinct pain point from the payload.\n3. \"Detailed Scope of Work\": ${lineItemsRules}\n4. \"Implementation Roadmap\": 4 phase cards — Foundation, Core Build, Integration, Launch & Optimization.\n5. \"Expected Outcomes\": 5–6 cards. Measurable. Specific to their industry. No vague claims.\n6. \"Why IntraWeb\": left column prose references their exact situation. Right column 3 differentiator pills.\n7. \"Next Steps\": 4 steps. Step 1 = kickoff call within 48 hrs. Step 4 = system live in 8 weeks.\n8. Do not fabricate facts not in the payload. If a detail is missing, write around it naturally.`,\n\n    userPrompt: `Generate the proposal body for this client.\n\nClient: ${d.clientName}\nCompany: ${d.company}\nIndustry: ${d.industry || 'Not provided'}\nPrimary Contact: ${d.contactName || d.contactFirstName || 'Not provided'}\nContact Email: ${d.contactEmail || 'Not provided'}\nTier: ${d.tierLabel}\nSetup Fee: $${d.tierAmount || 0}\nMonthly Retainer: $${d.tierMonthly || 0}\nUpfront Due: $${d.upfrontDue || 0}\nLaunch Balance: $${d.launchBalance || 0}\n\nLINE ITEMS (quoted components — scope and narrative must reflect each when present):\n${lineItemsBlock}\n\nPAIN POINTS — address every one explicitly:\n\"\"\"\n${intakePainPoints}\n\"\"\"\n\nOutput the following sections in order using the design system components above:\n1. Executive Summary — 2 prose paragraphs. Reference their specific operational challenges. If LINE ITEMS exist, summarize the bundle (e.g. website + automation) without inventing numbers not in the payload.\n2. What You Told Us — one pain point card per pain point.\n3. Detailed Scope of Work — when LINE ITEMS exist, align scope blocks with each line item by name and tie to pain points; otherwise one block per major pain point. \"You said / We will\" pattern. 5 bullets minimum per block when possible.\n4. Implementation Roadmap — 2×2 grid, 4 phase cards, Weeks 1–2 through 7–8.\n5. Expected Operational Outcomes — 3-column grid, 5–6 outcome cards. Measurable and industry-specific.\n6. Why IntraWeb — split block: left prose (2 paragraphs, industry-specific), right 3 differentiator pills.\n7. Next Steps — 2×2 grid, 4 numbered steps with teal circle numbers.`,\n\n    maxTokens: 8000\n  }\n}];"
        },
        "id": "sys05-claude-prep",
        "name": "Prep Claude Prompt",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2672,
          -528
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.anthropic.com/v1/messages",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              },
              {
                "name": "content-type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: $json.maxTokens, system: $json.systemPrompt, messages: [{ role: 'user', content: $json.userPrompt }] }) }}",
          "options": {
            "timeout": 120000
          }
        },
        "id": "sys05-claude",
        "name": "Call Claude API",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          2896,
          -528
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "weYEDVXsLfY0tPqi",
            "name": "Anthropic API"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const raw = $('Call Claude API').first().json;\nconst text = (raw.content && raw.content[0] && raw.content[0].text) ? raw.content[0].text : '';\nconst d = $('Extract Deal Data').first().json;\nreturn [{ json: { data: { text }, html: text, fileName: `IntraWeb — ${d.clientName} — Proposal.pdf` } }];"
        },
        "id": "sys05-parse-claude",
        "name": "Parse Claude Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3120,
          -528
        ]
      },
      {
        "parameters": {
          "jsCode": "const claudeResult = $('Parse Claude Response').first().json;\nconst d = $('Extract Deal Data').first().json;\nconst config = d.config || {};\nconst branding = config.branding || {};\nconst owner = config.owner || {};\nconst companyName = owner.companyName || 'IntraWeb Technologies LLC';\nconst ownerEmail = owner.email || '';\nconst ownerPhone = owner.phone || '';\nconst ownerName = owner.name || 'John Schibelli';\nconst calendarLink = owner.calendarLink || '';\nconst bodyContent = (claudeResult.data ? claudeResult.data.text : claudeResult.html || '').trim();\nconst clientName = d.clientName || 'Client';\nconst proposalDate = new Date().toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' });\nconst logoSrc = branding.logoUrl || '';\n\nconst escapeHtml = (value) => String(value ?? '')\n  .replace(/&/g, '&amp;')\n  .replace(/</g, '&lt;')\n  .replace(/>/g, '&gt;')\n  .replace(/\\\"/g, '&quot;')\n  .replace(/'/g, '&#39;');\n\nconst formatCurrency = (value) => {\n  const numeric = Number(value || 0);\n  return new Intl.NumberFormat('en-US', {\n    style: 'currency',\n    currency: 'USD',\n    maximumFractionDigits: 0\n  }).format(Number.isFinite(numeric) ? numeric : 0);\n};\n\nconst renderField = (label, value) => `\n  <div class=\"meta-item\">\n    <div class=\"meta-label\">${label}</div>\n    <div class=\"meta-value\">${escapeHtml(value || 'Not provided')}</div>\n  </div>`;\n\nconst summaryPainPoints = (d.painPointSummary || '')\n  .split(/[,;]\\s*/)\n  .map((item) => item.trim())\n  .filter(Boolean);\n\nconst painSummaryHtml = summaryPainPoints.length\n  ? `<ul class=\"bullet-list\">${summaryPainPoints.map((item) => `<li>${escapeHtml(item)}</li>`).join('')}</ul>`\n  : '';\n\nconst rawPainBlock = d.rawPainPoints || d.painPoints || 'No pain points were provided in the payload.';\nconst contactDisplay = d.contactName || d.contactFirstName || '';\nconst tierAmountText = d.tierAmount ? formatCurrency(d.tierAmount) : 'Not provided';\nconst tierMonthlyText = formatCurrency(d.tierMonthly || 0);\nconst upfrontDueText = formatCurrency(d.upfrontDue || 0);\nconst launchBalanceText = formatCurrency(d.launchBalance || 0);\nconst lineItems = Array.isArray(d.lineItems) ? d.lineItems : [];\nconst lineItemsRowsHtml = lineItems.length\n  ? lineItems.map((li) =>\n      `<tr><td>${escapeHtml(li.name)} (qty ${li.quantity ?? 1})${li.description ? ' — ' + escapeHtml(String(li.description).slice(0, 120)) : ''}</td><td>${escapeHtml(formatCurrency(li.amount))}</td></tr>`\n    ).join('') +\n    `<tr><td><strong>Line items subtotal</strong></td><td><strong>${escapeHtml(formatCurrency(lineItems.reduce((s, x) => s + (Number(x.amount) || 0), 0)))}</strong></td></tr>`\n  : '';\nconst calendarHtml = calendarLink\n  ? `<a class=\"cta-button\" href=\"${calendarLink}\">Book approval call</a>`\n  : '';\nconst safeBodyContent = bodyContent || '<h2>Executive Summary</h2><p>Proposal content could not be generated.</p>';\n\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <title>Proposal for ${escapeHtml(clientName)} - ${escapeHtml(companyName)}</title>\n  <link href=\"https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Source+Serif+4:wght@400;600;700&display=swap\" rel=\"stylesheet\">\n  <style>\n    @page { size: Letter; margin: 0.62in; }\n    * { box-sizing: border-box; }\n    html, body { margin: 0; padding: 0; background: #ffffff; color: #18212f; }\n    body { font-family: 'Manrope', Arial, sans-serif; font-size: 12.5px; line-height: 1.65; }\n    img { max-width: 100%; display: block; }\n    .document { width: 100%; }\n    .hero {\n      border: 1px solid #d8deea;\n      border-radius: 20px;\n      padding: 28px 30px;\n      background: linear-gradient(180deg, #ffffff 0%, #f7f8fc 100%);\n      margin-bottom: 22px;\n      break-inside: avoid;\n    }\n    .brand-row {\n      display: flex;\n      justify-content: space-between;\n      align-items: flex-start;\n      gap: 18px;\n      margin-bottom: 22px;\n    }\n    .brand-lockup { display: flex; align-items: center; gap: 14px; }\n    .brand-lockup img { max-height: 46px; width: auto; }\n    .eyebrow {\n      display: inline-block;\n      font-size: 10px;\n      font-weight: 800;\n      letter-spacing: 0.14em;\n      text-transform: uppercase;\n      color: #6b7280;\n      margin-bottom: 8px;\n    }\n    .hero h1 {\n      font-size: 29px;\n      line-height: 1.15;\n      margin: 0 0 8px 0;\n      color: #111827;\n    }\n    .hero-subtitle {\n      margin: 0;\n      font-size: 13px;\n      color: #4b5563;\n      max-width: 520px;\n    }\n    .prepared-tag {\n      min-width: 180px;\n      border: 1px solid #e5e7eb;\n      border-radius: 16px;\n      padding: 14px 16px;\n      background: #ffffff;\n      text-align: right;\n    }\n    .prepared-tag .label {\n      font-size: 10px;\n      text-transform: uppercase;\n      letter-spacing: 0.12em;\n      color: #6b7280;\n      margin-bottom: 6px;\n      font-weight: 700;\n    }\n    .prepared-tag .value {\n      font-size: 14px;\n      font-weight: 700;\n      color: #111827;\n    }\n    .prepared-tag .subvalue {\n      font-size: 11px;\n      color: #6b7280;\n      margin-top: 4px;\n    }\n    .hero-grid {\n      display: grid;\n      grid-template-columns: 1.25fr 0.95fr;\n      gap: 18px;\n    }\n    .panel {\n      border: 1px solid #e5e7eb;\n      border-radius: 16px;\n      padding: 18px 18px 16px;\n      background: #ffffff;\n      break-inside: avoid;\n    }\n    .panel-title {\n      font-size: 10px;\n      font-weight: 800;\n      letter-spacing: 0.12em;\n      text-transform: uppercase;\n      color: #6b7280;\n      margin: 0 0 12px 0;\n    }\n    .meta-grid {\n      display: grid;\n      grid-template-columns: 1fr 1fr;\n      gap: 12px 16px;\n    }\n    .meta-item { break-inside: avoid; }\n    .meta-label {\n      font-size: 10px;\n      font-weight: 700;\n      letter-spacing: 0.08em;\n      text-transform: uppercase;\n      color: #6b7280;\n      margin-bottom: 5px;\n    }\n    .meta-value {\n      font-size: 13px;\n      color: #111827;\n      font-weight: 600;\n      word-break: break-word;\n    }\n    .pricing-table {\n      width: 100%;\n      border-collapse: collapse;\n      font-size: 12.5px;\n    }\n    .pricing-table tr { break-inside: avoid; }\n    .pricing-table td {\n      padding: 10px 0;\n      border-bottom: 1px solid #edf0f5;\n      vertical-align: top;\n    }\n    .pricing-table td:last-child {\n      text-align: right;\n      font-weight: 700;\n      color: #111827;\n      padding-left: 20px;\n    }\n    .pricing-table tr.total td {\n      padding-top: 14px;\n      border-bottom: none;\n      font-size: 15px;\n      color: #6B4E9B;\n    }\n    .pricing-disclaimer {\n      font-size: 11px;\n      color: #6b7280;\n      margin-top: 10px;\n      line-height: 1.4;\n    }\n    .section-card {\n      border: 1px solid #e5e7eb;\n      border-radius: 18px;\n      padding: 22px 24px;\n      margin-bottom: 20px;\n      background: #ffffff;\n      break-inside: avoid;\n    }\n    .section-card h2:first-child,\n    .section-card h3:first-child,\n    .proposal-body h2:first-child,\n    .proposal-body h3:first-child { margin-top: 0; }\n    .section-card h2,\n    .proposal-body h2 {\n      font-family: 'Source Serif 4', Georgia, serif;\n      font-size: 23px;\n      line-height: 1.2;\n      margin: 26px 0 12px;\n      color: #101827;\n      break-after: avoid;\n    }\n    .section-card h3,\n    .proposal-body h3 {\n      font-size: 16px;\n      line-height: 1.3;\n      margin: 18px 0 10px;\n      color: #18212f;\n      break-after: avoid;\n    }\n    .proposal-body p,\n    .section-card p { margin: 0 0 12px; }\n    .proposal-body ul,\n    .proposal-body ol,\n    .bullet-list {\n      margin: 0 0 12px 0;\n      padding-left: 20px;\n    }\n    .proposal-body li,\n    .bullet-list li { margin-bottom: 6px; }\n    .callout {\n      background: linear-gradient(180deg, #fff7ed 0%, #fffaf5 100%);\n      border: 1px solid #fed7aa;\n      border-radius: 16px;\n      padding: 18px 18px 14px;\n      break-inside: avoid;\n    }\n    .quote {\n      font-family: 'Source Serif 4', Georgia, serif;\n      font-size: 16px;\n      line-height: 1.55;\n      color: #1f2937;\n      margin: 0 0 14px 0;\n      white-space: pre-wrap;\n    }\n    .footer-note {\n      margin-top: 22px;\n      padding-top: 14px;\n      border-top: 1px solid #e5e7eb;\n      display: flex;\n      justify-content: space-between;\n      gap: 16px;\n      align-items: center;\n      flex-wrap: wrap;\n    }\n    .footer-note-text {\n      font-size: 11px;\n      color: #6b7280;\n      max-width: 470px;\n    }\n    .cta-button {\n      display: inline-block;\n      text-decoration: none;\n      background: #6B4E9B;\n      color: #ffffff;\n      padding: 12px 18px;\n      border-radius: 999px;\n      font-size: 12px;\n      font-weight: 700;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"document\">\n    <section class=\"hero\">\n      <div class=\"brand-row\">\n        <div>\n          <div class=\"brand-lockup\">\n            ${logoSrc ? `<img src=\"${logoSrc}\" alt=\"IntraWeb\" />` : ''}\n            <div>\n              <div class=\"eyebrow\">IntraWeb Technologies LLC</div>\n              <h1>Proposal for ${escapeHtml(d.company || clientName)}</h1>\n              <p class=\"hero-subtitle\">A delivery-focused implementation proposal designed around the operational bottlenecks, growth priorities, and intake details captured for this opportunity.</p>\n            </div>\n          </div>\n        </div>\n        <div class=\"prepared-tag\">\n          <div class=\"label\">Prepared On</div>\n          <div class=\"value\">${escapeHtml(proposalDate)}</div>\n          <div class=\"subvalue\">Prepared by ${escapeHtml(ownerName)}</div>\n        </div>\n      </div>\n\n      <div class=\"hero-grid\">\n        <div class=\"panel\">\n          <p class=\"panel-title\">Client Snapshot</p>\n          <div class=\"meta-grid\">\n            ${renderField('Client', clientName)}\n            ${renderField('Company', d.company)}\n            ${renderField('Primary Contact', contactDisplay)}\n            ${renderField('Contact Email', d.contactEmail)}\n            ${renderField('Contact Phone', d.contactPhone)}\n            ${renderField('Industry', d.industry)}\n            ${renderField('Address', d.address)}\n            ${renderField('Website', d.website)}\n          </div>\n        </div>\n\n        <div class=\"panel\">\n          <p class=\"panel-title\">Investment Summary</p>\n          <table class=\"pricing-table\">\n            ${lineItemsRowsHtml}<tr><td>Tier amount</td><td>${escapeHtml(tierAmountText)}</td></tr>\n            <tr><td>Tier monthly</td><td>${escapeHtml(tierMonthlyText)}</td></tr>\n            <tr><td>Upfront due</td><td>${escapeHtml(upfrontDueText)}</td></tr>\n            <tr class=\"total\"><td>Launch balance</td><td>${escapeHtml(launchBalanceText)}</td></tr>\n          </table>\n          <p class=\"pricing-disclaimer\">Launch balance is due at approval and includes the remaining project balance plus the first month's subscription; tier monthly applies thereafter.</p>\n        </div>\n      </div>\n    </section>\n\n    <section class=\"section-card\">\n      <p class=\"panel-title\">Pain Points Captured From Intake</p>\n      <div class=\"callout\">\n        <p class=\"quote\">${escapeHtml(rawPainBlock)}</p>\n        ${painSummaryHtml}\n      </div>\n    </section>\n\n    <section class=\"section-card proposal-body\">\n      ${safeBodyContent}\n      <div class=\"footer-note\">\n        <div class=\"footer-note-text\">\n          ${escapeHtml(companyName)} | ${escapeHtml(ownerEmail)}${ownerPhone ? ` | ${escapeHtml(ownerPhone)}` : ''}\n        </div>\n        ${calendarHtml}\n      </div>\n    </section>\n  </div>\n</body>\n</html>`;\n\nreturn [{ json: { html, fileName: `IntraWeb - ${d.clientName} - Proposal.pdf` } }];"
        },
        "id": "sys05-pdf-prep",
        "name": "Prep PDF Input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3344,
          -528
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://html2pdf.fly.dev/api/generate",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "content-type",
                "value": "application/json"
              },
              {
                "name": "accept",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ html: $json.html }) }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            },
            "timeout": 60000
          }
        },
        "id": "sys05-pdf",
        "name": "Call PDF Service",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          3568,
          -528
        ]
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first();\nconst fileName = $('Prep PDF Input').first().json.fileName || 'document.pdf';\nreturn [{ json: { fileName }, binary: item.binary ? { ...item.binary } : {} }];"
        },
        "id": "sys05-pdf-ensure",
        "name": "Ensure PDF Item",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3792,
          -528
        ]
      },
      {
        "parameters": {
          "jsCode": "const extractItem = $('Extract Deal Data').first();\nconst uploadOut = $('Upload to Drive').first();\nif (!extractItem?.json) {\n  throw new Error('Prep Alert needs upstream data: run from the start of the workflow (or use \"Execute previous nodes\" / pin data on Extract Deal Data + Upload to Drive).');\n}\nconst d = extractItem.json;\nconst fileId = uploadOut?.json?.id ?? uploadOut?.json?.data?.id ?? '';\nconst driveLink = fileId ? 'https://drive.google.com/file/d/' + fileId : '';\n\nreturn [{\n  json: {\n    message: driveLink ? `Proposal ready for ${d.clientName} — set Status to Approved to send: ${driveLink}` : `Proposal ready for ${d.clientName} — set Status to Approved to send. (Drive link unavailable.)`,\n    priority: 'info'\n  }\n}];"
        },
        "id": "sys05-alert-prep",
        "name": "Prep Alert",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4464,
          -528
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "PGf6jPoWtxSPlr0h",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {}
          },
          "options": {}
        },
        "id": "sys05-alert",
        "name": "Send Alert",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          4688,
          -528
        ]
      },
      {
        "parameters": {
          "amount": 30,
          "unit": "minutes"
        },
        "id": "sys05-poll-wait",
        "name": "Wait 30min",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          4912,
          -528
        ],
        "webhookId": "c3bb4433-a611-4928-baf2-ceced2a5119c"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "check-approved",
                "leftValue": "={{ $json.Status }}",
                "rightValue": "Approved",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "sys05-is-approved",
        "name": "Approved?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          5360,
          -528
        ]
      },
      {
        "parameters": {
          "jsCode": "const d = $('Extract Deal Data').first().json;\nconst uploadOut = $('Upload to Drive').first();\nconst fileId = uploadOut?.json?.id ?? uploadOut?.json?.data?.id ?? '';\nconst driveLink = fileId ? 'https://drive.google.com/file/d/' + fileId : '';\n\nreturn [{\n  json: {\n    to: d.contactEmail,\n    subject: `Your IntraWeb proposal is ready — ${d.clientName}`,\n    html: `<p>Hi ${d.contactFirstName || 'there'},</p><p>Your proposal is attached. I've outlined exactly what we'll build, the timeline, and the investment.</p>${driveLink ? `<p>You can also <a href=\"${driveLink}\">view it in Google Drive here</a>.</p>` : ''}<p>Take a look and let me know if you have any questions. When you're ready to move forward, reply to this email and I'll send the contract for e-signature.</p><p>— John<br/>${d.config?.owner?.companyName || 'IntraWeb'}</p>`,\n    workflowName: 'SYS 03 — Proposal and Contract Delivery'\n  }\n}];"
        },
        "id": "sys05-send-prep",
        "name": "Prep Send Email",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          5584,
          -528
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "mode": "list",
            "value": "FF6VOLCcRxI4uNYD",
            "cachedResultName": "SW: Send Email via Resend"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "to": "={{ $json.to }}",
              "subject": "={{ $json.subject }}",
              "html": "={{ $json.html }}",
              "workflowName": "={{ $json.workflowName }}"
            },
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "sys05-send-email",
        "name": "Send Proposal Email",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          5808,
          -528
        ]
      },
      {
        "parameters": {
          "jsCode": "return [{\n  json: {\n    workflowName: 'SYS 03 — Proposal and Contract Delivery',\n    contactName: $('Extract Deal Data').first().json.clientName,\n    phone: '',\n    eventType: 'proposal_sent',\n    status: 'success',\n    notes: `Deal value: $${$('Extract Deal Data').first().json.dealValue}`\n  }\n}];"
        },
        "id": "sys05-log-prep",
        "name": "Prep Log",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          6256,
          -528
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "1qQFLOSHZsS9JPKP",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {}
          },
          "options": {}
        },
        "id": "sys05-log",
        "name": "Log to Sheet",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          6480,
          -528
        ]
      },
      {
        "parameters": {
          "minutesSaved": 177
        },
        "id": "sys05-track-time-saved",
        "name": "Track Time Saved",
        "type": "n8n-nodes-base.timeSaved",
        "typeVersion": 1,
        "position": [
          6704,
          -528
        ]
      },
      {
        "parameters": {
          "documentId": {
            "mode": "id",
            "value": "={{ $('Extract Deal Data').first().json.config.google.masterSheetId }}"
          },
          "sheetName": {
            "mode": "name",
            "value": "Proposals"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          5136,
          -592
        ],
        "id": "345881f4-2e5f-405c-bda6-d268d3e93677",
        "name": "Check Approval Status",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "pKS06498CxELp8nS",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "mode": "id",
            "value": "={{ $('Extract Deal Data').first().json.config.google.masterSheetId }}"
          },
          "sheetName": {
            "mode": "name",
            "value": "Proposals"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "ID": "={{ $('Extract Deal Data').first().json.dealId || '' }}",
              "Date": "={{ new Date().toISOString().split('T')[0] }}",
              "Client": "={{ $('Extract Deal Data').first().json.clientName }}",
              "Drive Link": "={{ $('Upload to Drive').first()?.json?.id ? 'https://drive.google.com/file/d/' + $('Upload to Drive').first().json.id : ($('Upload to Drive').first()?.json?.data?.id ? 'https://drive.google.com/file/d/' + $('Upload to Drive').first().json.data.id : '') }}",
              "Status": "={{ 'Pending Review | $' + ($('Extract Deal Data').first().json.dealValue || 0) + ' | ' + ($('Extract Deal Data').first().json.tier || '') + ' | ' + ($('Extract Deal Data').first().json.contactEmail || '') }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "ID",
                "displayName": "ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Date",
                "displayName": "Date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Client",
                "displayName": "Client",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Drive Link",
                "displayName": "Drive Link",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Status",
                "displayName": "Status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          4240,
          -528
        ],
        "id": "33f3e5e2-8aee-4ec9-a513-cb38c410ff2a",
        "name": "Add to Proposals Queue",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "pKS06498CxELp8nS",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "name": "={{ $('Prep PDF Input').first().json.fileName }}",
          "driveId": {
            "__rl": true,
            "value": "0ADK5JlQfsgrHUk9PVA",
            "mode": "list",
            "cachedResultName": "IntraWeb — Clients",
            "cachedResultUrl": "https://drive.google.com/drive/folders/0ADK5JlQfsgrHUk9PVA"
          },
          "folderId": {
            "__rl": true,
            "mode": "list",
            "value": "root",
            "cachedResultName": "/ (Root folder)"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          4000,
          -512
        ],
        "id": "cb0b6a64-8b96-4c09-aa1d-033c1030fa9c",
        "name": "Upload to Drive",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "oPioaF4sFaVsK13H",
            "name": "Google Drive account 2"
          }
        }
      },
      {
        "parameters": {
          "authentication": "appToken",
          "resource": "deal",
          "operation": "update",
          "dealId": {
            "__rl": true,
            "value": "={{ $('Extract Deal Data').first().json.dealId }}",
            "mode": "id"
          },
          "updateFields": {}
        },
        "type": "n8n-nodes-base.hubspot",
        "typeVersion": 2.2,
        "position": [
          6016,
          -528
        ],
        "id": "213b13d2-df94-4256-a0ed-d9c51d449e17",
        "name": "Update a deal",
        "credentials": {
          "hubspotAppToken": {
            "id": "volH6pGD5psvPC7a",
            "name": "HubSpot App Token account"
          }
        }
      }
    ],
    "connections": {
      "Deal Proposal Stage Webhook": {
        "main": [
          [
            {
              "node": "Get Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Config": {
        "main": [
          [
            {
              "node": "Extract Deal Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Deal Data": {
        "main": [
          [
            {
              "node": "Prep Claude Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Claude Prompt": {
        "main": [
          [
            {
              "node": "Call Claude API",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call Claude API": {
        "main": [
          [
            {
              "node": "Parse Claude Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Claude Response": {
        "main": [
          [
            {
              "node": "Prep PDF Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep PDF Input": {
        "main": [
          [
            {
              "node": "Call PDF Service",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call PDF Service": {
        "main": [
          [
            {
              "node": "Ensure PDF Item",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ensure PDF Item": {
        "main": [
          [
            {
              "node": "Upload to Drive",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Alert": {
        "main": [
          [
            {
              "node": "Send Alert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Alert": {
        "main": [
          [
            {
              "node": "Wait 30min",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait 30min": {
        "main": [
          [
            {
              "node": "Check Approval Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Approved?": {
        "main": [
          [
            {
              "node": "Prep Send Email",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait 30min",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Send Email": {
        "main": [
          [
            {
              "node": "Send Proposal Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Proposal Email": {
        "main": [
          [
            {
              "node": "Update a deal",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Log": {
        "main": [
          [
            {
              "node": "Log to Sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log to Sheet": {
        "main": [
          [
            {
              "node": "Track Time Saved",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Approval Status": {
        "main": [
          [
            {
              "node": "Approved?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Add to Proposals Queue": {
        "main": [
          [
            {
              "node": "Prep Alert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload to Drive": {
        "main": [
          [
            {
              "node": "Add to Proposals Queue",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update a deal": {
        "main": [
          [
            {
              "node": "Prep Log",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "John Schibelli",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-03T04:44:38.740Z",
        "id": 1506,
        "workflowId": "1aX9pLXOuVelq3sK",
        "versionId": "105dc99b-9d66-41ac-9e31-817530201f19",
        "event": "activated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      },
      {
        "createdAt": "2026-04-03T04:44:38.711Z",
        "id": 1505,
        "workflowId": "1aX9pLXOuVelq3sK",
        "versionId": "105dc99b-9d66-41ac-9e31-817530201f19",
        "event": "deactivated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      }
    ]
  }
}
