n8n-workflows/_subworkflows/SW — Generate PDF from HTML.json
{
  "updatedAt": "2026-04-03T03:42:42.596Z",
  "createdAt": "2026-03-08T22:42:32.045Z",
  "id": "hxsCltRP81r5gLtm",
  "name": "SW: Generate PDF from HTML",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "## SW: Generate PDF from HTML\n\n**Subworkflow.** Converts HTML content to a PDF via an external API (no Puppeteer in Code — n8n disallows that module). Used by proposal delivery, onboarding docs, and owner's manual generator.\n\n**Input:**\n- `html` — full HTML string\n- `fileName` (optional) — output filename\n\n**Output:** `{ success, data: { pdfBase64, fileName, mimeType }, error }`. Returns base64-encoded PDF for upload to Drive or other use.\n\n**PDF service:** `html2pdf.fly.dev` (no auth). Endpoint is **POST** only. To use another service (e.g. Gotenberg), edit the URL in the \"Call PDF Service\" node. For fully self-hosted, see `scripts/generate-pdf.js` + Execute Command node.",
        "height": 300,
        "width": 420,
        "color": 5
      },
      "id": "note-sw-pdf",
      "name": "Note — About this workflow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1.3,
      "position": [
        80,
        80
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "sw-pdf-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $('Execute Workflow Trigger').first().json;\nconst html = input?.html;\nconst fileName = input?.fileName || 'document.pdf';\n\nif (!html || (typeof html === 'string' && !html.trim())) {\n  return [{ json: { success: false, data: null, error: 'Missing input.html' } }];\n}\n\nreturn [{\n  json: { html: typeof html === 'string' ? html : String(html), fileName }\n}];"
      },
      "id": "sw-pdf-prep",
      "name": "Prep for PDF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        470,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "sw-pdf-if-has-html",
              "leftValue": "={{ $json.html }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "sw-pdf-if",
      "name": "Has HTML?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "id": "sw-pdf-return-error",
      "name": "Return Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        690,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://html2pdf.fly.dev/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ html: $json.html }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 60000
        }
      },
      "id": "sw-pdf-http",
      "name": "Call PDF Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        820,
        200
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const prepNode = $('Prep for PDF').first().json;\nconst fileName = prepNode?.fileName || 'document.pdf';\nconst item = $input.first();\n\nif (item.json?.error || item.json?.message) {\n  return [{\n    json: {\n      success: false,\n      data: null,\n      error: `PDF generation failed: ${item.json.message || JSON.stringify(item.json.error)}`\n    }\n  }];\n}\n\nconst binKeys = item.binary && Object.keys(item.binary);\nconst binaryProperty = binKeys?.length ? binKeys[0] : null;\n\nif (!binaryProperty) {\n  return [{\n    json: {\n      success: false,\n      data: null,\n      error: 'PDF service did not return a PDF file'\n    }\n  }];\n}\n\nconst pdfBuffer = await this.helpers.getBinaryDataBuffer(0, binaryProperty);\nconst base64Pdf = pdfBuffer.toString('base64');\n\nif (!base64Pdf) {\n  return [{\n    json: {\n      success: false,\n      data: null,\n      error: 'PDF service returned empty binary data'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    data: {\n      pdfBase64: base64Pdf,\n      fileName,\n      mimeType: 'application/pdf'\n    },\n    error: null\n  },\n  binary: {\n    data: {\n      data: base64Pdf,\n      mimeType: 'application/pdf',\n      fileName,\n      fileExtension: 'pdf'\n    }\n  }\n}];"
      },
      "id": "sw-pdf-format",
      "name": "Format PDF Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        300
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Prep for PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep for PDF": {
      "main": [
        [
          {
            "node": "Has HTML?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has HTML?": {
      "main": [
        [
          {
            "node": "Call PDF Service",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call PDF Service": {
      "main": [
        [
          {
            "node": "Format PDF Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format PDF Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "a3b10faa-7087-4606-82c4-4944a4dc53dd",
  "activeVersionId": "a3b10faa-7087-4606-82c4-4944a4dc53dd",
  "versionCounter": 93,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-08T22:42:32.049Z",
      "createdAt": "2026-03-08T22:42:32.049Z",
      "role": "workflow:owner",
      "workflowId": "hxsCltRP81r5gLtm",
      "projectId": "o5dYIcHW2mxs82d6",
      "project": {
        "updatedAt": "2026-02-23T01:06:36.093Z",
        "createdAt": "2026-02-23T00:59:28.616Z",
        "id": "o5dYIcHW2mxs82d6",
        "name": "John Schibelli <john.schibelli@intrawebtech.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-28T19:23:24.899Z",
    "createdAt": "2026-03-28T19:23:24.899Z",
    "versionId": "a3b10faa-7087-4606-82c4-4944a4dc53dd",
    "workflowId": "hxsCltRP81r5gLtm",
    "nodes": [
      {
        "parameters": {
          "content": "## SW: Generate PDF from HTML\n\n**Subworkflow.** Converts HTML content to a PDF via an external API (no Puppeteer in Code — n8n disallows that module). Used by proposal delivery, onboarding docs, and owner's manual generator.\n\n**Input:**\n- `html` — full HTML string\n- `fileName` (optional) — output filename\n\n**Output:** `{ success, data: { pdfBase64, fileName, mimeType }, error }`. Returns base64-encoded PDF for upload to Drive or other use.\n\n**PDF service:** `html2pdf.fly.dev` (no auth). Endpoint is **POST** only. To use another service (e.g. Gotenberg), edit the URL in the \"Call PDF Service\" node. For fully self-hosted, see `scripts/generate-pdf.js` + Execute Command node.",
          "height": 300,
          "width": 420,
          "color": 5
        },
        "id": "note-sw-pdf",
        "name": "Note — About this workflow",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1.3,
        "position": [
          80,
          80
        ]
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "id": "sw-pdf-trigger",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          250,
          300
        ]
      },
      {
        "parameters": {
          "jsCode": "const input = $('Execute Workflow Trigger').first().json;\nconst html = input?.html;\nconst fileName = input?.fileName || 'document.pdf';\n\nif (!html || (typeof html === 'string' && !html.trim())) {\n  return [{ json: { success: false, data: null, error: 'Missing input.html' } }];\n}\n\nreturn [{\n  json: { html: typeof html === 'string' ? html : String(html), fileName }\n}];"
        },
        "id": "sw-pdf-prep",
        "name": "Prep for PDF",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          470,
          300
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "sw-pdf-if-has-html",
                "leftValue": "={{ $json.html }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "sw-pdf-if",
        "name": "Has HTML?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          600,
          300
        ]
      },
      {
        "parameters": {
          "jsCode": "return $input.all();"
        },
        "id": "sw-pdf-return-error",
        "name": "Return Error",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          690,
          460
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://html2pdf.fly.dev/api/generate",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "content-type",
                "value": "application/json"
              },
              {
                "name": "accept",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ html: $json.html }) }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            },
            "timeout": 60000
          }
        },
        "id": "sw-pdf-http",
        "name": "Call PDF Service",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          820,
          200
        ],
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "jsCode": "const prepNode = $('Prep for PDF').first().json;\nconst fileName = prepNode?.fileName || 'document.pdf';\nconst item = $input.first();\n\nif (item.json?.error || item.json?.message) {\n  return [{\n    json: {\n      success: false,\n      data: null,\n      error: `PDF generation failed: ${item.json.message || JSON.stringify(item.json.error)}`\n    }\n  }];\n}\n\nconst binKeys = item.binary && Object.keys(item.binary);\nconst binaryProperty = binKeys?.length ? binKeys[0] : null;\n\nif (!binaryProperty) {\n  return [{\n    json: {\n      success: false,\n      data: null,\n      error: 'PDF service did not return a PDF file'\n    }\n  }];\n}\n\nconst pdfBuffer = await this.helpers.getBinaryDataBuffer(0, binaryProperty);\nconst base64Pdf = pdfBuffer.toString('base64');\n\nif (!base64Pdf) {\n  return [{\n    json: {\n      success: false,\n      data: null,\n      error: 'PDF service returned empty binary data'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    data: {\n      pdfBase64: base64Pdf,\n      fileName,\n      mimeType: 'application/pdf'\n    },\n    error: null\n  },\n  binary: {\n    data: {\n      data: base64Pdf,\n      mimeType: 'application/pdf',\n      fileName,\n      fileExtension: 'pdf'\n    }\n  }\n}];"
        },
        "id": "sw-pdf-format",
        "name": "Format PDF Output",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1040,
          300
        ]
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Prep for PDF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep for PDF": {
        "main": [
          [
            {
              "node": "Has HTML?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has HTML?": {
        "main": [
          [
            {
              "node": "Call PDF Service",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Return Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call PDF Service": {
        "main": [
          [
            {
              "node": "Format PDF Output",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Format PDF Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "John Schibelli",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-28T19:23:24.931Z",
        "id": 493,
        "workflowId": "hxsCltRP81r5gLtm",
        "versionId": "a3b10faa-7087-4606-82c4-4944a4dc53dd",
        "event": "activated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      },
      {
        "createdAt": "2026-03-28T19:25:05.984Z",
        "id": 521,
        "workflowId": "hxsCltRP81r5gLtm",
        "versionId": "a3b10faa-7087-4606-82c4-4944a4dc53dd",
        "event": "activated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      },
      {
        "createdAt": "2026-03-28T19:26:22.605Z",
        "id": 551,
        "workflowId": "hxsCltRP81r5gLtm",
        "versionId": "a3b10faa-7087-4606-82c4-4944a4dc53dd",
        "event": "activated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      },
      {
        "createdAt": "2026-03-28T19:26:55.884Z",
        "id": 587,
        "workflowId": "hxsCltRP81r5gLtm",
        "versionId": "a3b10faa-7087-4606-82c4-4944a4dc53dd",
        "event": "activated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      },
      {
        "createdAt": "2026-03-28T19:28:32.115Z",
        "id": 631,
        "workflowId": "hxsCltRP81r5gLtm",
        "versionId": "a3b10faa-7087-4606-82c4-4944a4dc53dd",
        "event": "activated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      },
      {
        "createdAt": "2026-03-28T19:29:05.674Z",
        "id": 669,
        "workflowId": "hxsCltRP81r5gLtm",
        "versionId": "a3b10faa-7087-4606-82c4-4944a4dc53dd",
        "event": "activated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      },
      {
        "createdAt": "2026-03-28T19:39:17.362Z",
        "id": 721,
        "workflowId": "hxsCltRP81r5gLtm",
        "versionId": "a3b10faa-7087-4606-82c4-4944a4dc53dd",
        "event": "activated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      },
      {
        "createdAt": "2026-03-28T19:40:12.962Z",
        "id": 761,
        "workflowId": "hxsCltRP81r5gLtm",
        "versionId": "a3b10faa-7087-4606-82c4-4944a4dc53dd",
        "event": "activated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      },
      {
        "createdAt": "2026-03-28T19:40:54.347Z",
        "id": 799,
        "workflowId": "hxsCltRP81r5gLtm",
        "versionId": "a3b10faa-7087-4606-82c4-4944a4dc53dd",
        "event": "activated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      },
      {
        "createdAt": "2026-03-28T19:41:13.949Z",
        "id": 837,
        "workflowId": "hxsCltRP81r5gLtm",
        "versionId": "a3b10faa-7087-4606-82c4-4944a4dc53dd",
        "event": "activated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      },
      {
        "createdAt": "2026-03-28T20:00:26.264Z",
        "id": 903,
        "workflowId": "hxsCltRP81r5gLtm",
        "versionId": "a3b10faa-7087-4606-82c4-4944a4dc53dd",
        "event": "activated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      },
      {
        "createdAt": "2026-03-28T20:04:39.066Z",
        "id": 929,
        "workflowId": "hxsCltRP81r5gLtm",
        "versionId": "a3b10faa-7087-4606-82c4-4944a4dc53dd",
        "event": "activated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      },
      {
        "createdAt": "2026-03-29T22:36:57.773Z",
        "id": 1087,
        "workflowId": "hxsCltRP81r5gLtm",
        "versionId": "a3b10faa-7087-4606-82c4-4944a4dc53dd",
        "event": "activated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      },
      {
        "createdAt": "2026-03-29T23:15:39.804Z",
        "id": 1143,
        "workflowId": "hxsCltRP81r5gLtm",
        "versionId": "a3b10faa-7087-4606-82c4-4944a4dc53dd",
        "event": "activated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      },
      {
        "createdAt": "2026-04-03T03:05:41.480Z",
        "id": 1404,
        "workflowId": "hxsCltRP81r5gLtm",
        "versionId": "a3b10faa-7087-4606-82c4-4944a4dc53dd",
        "event": "activated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      },
      {
        "createdAt": "2026-04-03T03:05:59.813Z",
        "id": 1424,
        "workflowId": "hxsCltRP81r5gLtm",
        "versionId": "a3b10faa-7087-4606-82c4-4944a4dc53dd",
        "event": "activated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      },
      {
        "createdAt": "2026-04-03T03:42:42.649Z",
        "id": 1472,
        "workflowId": "hxsCltRP81r5gLtm",
        "versionId": "a3b10faa-7087-4606-82c4-4944a4dc53dd",
        "event": "activated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      },
      {
        "createdAt": "2026-03-28T19:23:24.921Z",
        "id": 492,
        "workflowId": "hxsCltRP81r5gLtm",
        "versionId": "a3b10faa-7087-4606-82c4-4944a4dc53dd",
        "event": "deactivated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      },
      {
        "createdAt": "2026-03-28T19:25:05.975Z",
        "id": 520,
        "workflowId": "hxsCltRP81r5gLtm",
        "versionId": "a3b10faa-7087-4606-82c4-4944a4dc53dd",
        "event": "deactivated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      },
      {
        "createdAt": "2026-03-28T19:26:22.595Z",
        "id": 550,
        "workflowId": "hxsCltRP81r5gLtm",
        "versionId": "a3b10faa-7087-4606-82c4-4944a4dc53dd",
        "event": "deactivated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      },
      {
        "createdAt": "2026-03-28T19:26:55.872Z",
        "id": 586,
        "workflowId": "hxsCltRP81r5gLtm",
        "versionId": "a3b10faa-7087-4606-82c4-4944a4dc53dd",
        "event": "deactivated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      },
      {
        "createdAt": "2026-03-28T19:28:32.106Z",
        "id": 630,
        "workflowId": "hxsCltRP81r5gLtm",
        "versionId": "a3b10faa-7087-4606-82c4-4944a4dc53dd",
        "event": "deactivated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      },
      {
        "createdAt": "2026-03-28T19:29:05.666Z",
        "id": 668,
        "workflowId": "hxsCltRP81r5gLtm",
        "versionId": "a3b10faa-7087-4606-82c4-4944a4dc53dd",
        "event": "deactivated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      },
      {
        "createdAt": "2026-03-28T19:39:17.353Z",
        "id": 720,
        "workflowId": "hxsCltRP81r5gLtm",
        "versionId": "a3b10faa-7087-4606-82c4-4944a4dc53dd",
        "event": "deactivated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      },
      {
        "createdAt": "2026-03-28T19:40:12.951Z",
        "id": 760,
        "workflowId": "hxsCltRP81r5gLtm",
        "versionId": "a3b10faa-7087-4606-82c4-4944a4dc53dd",
        "event": "deactivated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      },
      {
        "createdAt": "2026-03-28T19:40:54.336Z",
        "id": 798,
        "workflowId": "hxsCltRP81r5gLtm",
        "versionId": "a3b10faa-7087-4606-82c4-4944a4dc53dd",
        "event": "deactivated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      },
      {
        "createdAt": "2026-03-28T19:41:13.937Z",
        "id": 836,
        "workflowId": "hxsCltRP81r5gLtm",
        "versionId": "a3b10faa-7087-4606-82c4-4944a4dc53dd",
        "event": "deactivated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      },
      {
        "createdAt": "2026-03-28T20:00:26.249Z",
        "id": 902,
        "workflowId": "hxsCltRP81r5gLtm",
        "versionId": "a3b10faa-7087-4606-82c4-4944a4dc53dd",
        "event": "deactivated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      },
      {
        "createdAt": "2026-03-28T20:04:39.044Z",
        "id": 928,
        "workflowId": "hxsCltRP81r5gLtm",
        "versionId": "a3b10faa-7087-4606-82c4-4944a4dc53dd",
        "event": "deactivated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      },
      {
        "createdAt": "2026-03-29T22:36:57.761Z",
        "id": 1086,
        "workflowId": "hxsCltRP81r5gLtm",
        "versionId": "a3b10faa-7087-4606-82c4-4944a4dc53dd",
        "event": "deactivated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      },
      {
        "createdAt": "2026-03-29T23:15:39.790Z",
        "id": 1142,
        "workflowId": "hxsCltRP81r5gLtm",
        "versionId": "a3b10faa-7087-4606-82c4-4944a4dc53dd",
        "event": "deactivated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      },
      {
        "createdAt": "2026-04-03T03:05:41.469Z",
        "id": 1403,
        "workflowId": "hxsCltRP81r5gLtm",
        "versionId": "a3b10faa-7087-4606-82c4-4944a4dc53dd",
        "event": "deactivated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      },
      {
        "createdAt": "2026-04-03T03:05:59.800Z",
        "id": 1423,
        "workflowId": "hxsCltRP81r5gLtm",
        "versionId": "a3b10faa-7087-4606-82c4-4944a4dc53dd",
        "event": "deactivated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      },
      {
        "createdAt": "2026-04-03T03:42:42.640Z",
        "id": 1471,
        "workflowId": "hxsCltRP81r5gLtm",
        "versionId": "a3b10faa-7087-4606-82c4-4944a4dc53dd",
        "event": "deactivated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      }
    ]
  }
}
