n8n-workflows/_subworkflows/SW — Generate PDF from HTML.json
{
  "id": "sw-generate-pdf-html",
  "name": "SW: Generate PDF from HTML",
  "description": "Subworkflow: convert HTML to PDF via external POST service (e.g. html2pdf). Input html and optional fileName; output pdfBase64 for Drive upload. Used by proposals, contracts, onboarding docs, and manual generator.",
  "nodes": [
    {
      "parameters": {
        "content": "## SW: Generate PDF from HTML\n\n**Subworkflow.** Converts HTML content to a PDF via an external API (no Puppeteer in Code — n8n disallows that module). Used by proposal delivery, onboarding docs, and owner's manual generator.\n\n**Input:**\n- `html` — full HTML string\n- `fileName` (optional) — output filename\n\n**Output:** `{ success, data: { pdfBase64, fileName, mimeType }, error }`. Returns base64-encoded PDF for upload to Drive or other use.\n\n**PDF service:** `html2pdf.fly.dev` (no auth). Endpoint is **POST** only. To use another service (e.g. Gotenberg), edit the URL in the \"Call PDF Service\" node. For fully self-hosted, see `scripts/generate-pdf.js` + Execute Command node.",
        "height": 300,
        "width": 420,
        "color": 5
      },
      "id": "note-sw-pdf",
      "name": "Note — About this workflow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1.3,
      "position": [
        80,
        80
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "sw-pdf-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $('Execute Workflow Trigger').first().json;\nconst html = input?.html;\nconst fileName = input?.fileName || 'document.pdf';\n\nif (!html || (typeof html === 'string' && !html.trim())) {\n  return [{ json: { success: false, data: null, error: 'Missing input.html' } }];\n}\n\nreturn [{\n  json: { html: typeof html === 'string' ? html : String(html), fileName }\n}];"
      },
      "id": "sw-pdf-prep",
      "name": "Prep for PDF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        470,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "sw-pdf-if-has-html",
              "leftValue": "={{ $json.html }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "sw-pdf-if",
      "name": "Has HTML?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "id": "sw-pdf-return-error",
      "name": "Return Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        690,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://html2pdf.fly.dev/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ html: $json.html }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 60000
        }
      },
      "id": "sw-pdf-http",
      "name": "Call PDF Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        820,
        200
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const prepNode = $('Prep for PDF').first().json;\nconst fileName = prepNode?.fileName || 'document.pdf';\nconst item = $input.first();\n\nif (item.json?.error || item.json?.message) {\n  return [{\n    json: {\n      success: false,\n      data: null,\n      error: `PDF generation failed: ${item.json.message || JSON.stringify(item.json.error)}`\n    }\n  }];\n}\n\nconst binKeys = item.binary && Object.keys(item.binary);\nconst binaryProperty = binKeys?.length ? binKeys[0] : null;\n\nif (!binaryProperty) {\n  return [{\n    json: {\n      success: false,\n      data: null,\n      error: 'PDF service did not return a PDF file'\n    }\n  }];\n}\n\nconst pdfBuffer = await this.helpers.getBinaryDataBuffer(0, binaryProperty);\nconst base64Pdf = pdfBuffer.toString('base64');\n\nif (!base64Pdf) {\n  return [{\n    json: {\n      success: false,\n      data: null,\n      error: 'PDF service returned empty binary data'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    data: {\n      pdfBase64: base64Pdf,\n      fileName,\n      mimeType: 'application/pdf'\n    },\n    error: null\n  },\n  binary: {\n    data: {\n      data: base64Pdf,\n      mimeType: 'application/pdf',\n      fileName,\n      fileExtension: 'pdf'\n    }\n  }\n}];"
      },
      "id": "sw-pdf-format",
      "name": "Format PDF Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        300
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Prep for PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep for PDF": {
      "main": [
        [
          {
            "node": "Has HTML?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has HTML?": {
      "main": [
        [
          {
            "node": "Call PDF Service",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call PDF Service": {
      "main": [
        [
          {
            "node": "Format PDF Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format PDF Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "pinData": {}
}
