n8n-workflows/05_client-success/SYS 05 — Referral and Reactivation Engine.json
{
  "updatedAt": "2026-04-03T13:16:25.621Z",
  "createdAt": "2026-03-08T22:52:54.110Z",
  "id": "3JWOGfRAtb7a9plr",
  "name": "SYS 05 — Referral & Reactivation Engine",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "note-sys11",
      "name": "Note — About this workflow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1.3,
      "position": [
        80,
        80
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hubspot-deal-project-complete",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "sys11-referral-trigger",
      "name": "Deal Project Complete",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        256,
        208
      ],
      "webhookId": "8e6f918a-d95d-4359-ac5e-d44db14ab97f"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "sys11-reactivation-trigger",
      "name": "Daily 9AM EST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        256,
        608
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "1eTTVoSFSlSPvZV4",
          "mode": "list",
          "cachedResultUrl": "/workflow/1eTTVoSFSlSPvZV4",
          "cachedResultName": "CONFIG — Global Settings"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "sys11-config-ref",
      "name": "Get Config (Referral)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        480,
        208
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "1eTTVoSFSlSPvZV4",
          "mode": "list",
          "cachedResultUrl": "/workflow/1eTTVoSFSlSPvZV4",
          "cachedResultName": "CONFIG — Global Settings"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "sys11-config-react",
      "name": "Get Config (Reactivation)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        480,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "const deal = $('Deal Project Complete').first().json;\nconst config = $('Get Config (Referral)').first().json;\nconst props = deal.properties || deal;\n\nreturn [{\n  json: {\n    clientName: props.dealname || '',\n    contactEmail: props.contact_email || '',\n    contactFirstName: props.contact_firstname || '',\n    contactPhone: props.contact_phone || '',\n    industry: props.industry || '',\n    tier: props.tier || '',\n    dealId: deal.id || deal.dealId || '',\n    config\n  }\n}];"
      },
      "id": "sys11-ref-extract",
      "name": "Extract Referral Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        208
      ]
    },
    {
      "parameters": {
        "amount": "={{ $json.config.timing.referralDelayDays }}",
        "unit": "days"
      },
      "id": "sys11-ref-wait",
      "name": "Wait Referral Delay",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        912,
        208
      ],
      "webhookId": "f60d8b2e-1c71-4f30-98ea-f6bfb0aaa251"
    },
    {
      "parameters": {
        "jsCode": "const d = $('Extract Referral Data').first().json;\n\nreturn [{\n  json: {\n    to: d.contactEmail,\n    subject: `Quick ask, ${d.contactFirstName}`,\n    html: `<p>Hi ${d.contactFirstName},</p><p>Now that we've wrapped up your project, I wanted to ask — do you know anyone else in the ${d.industry || 'business'} space who might benefit from the kind of automation we built for ${d.clientName}?</p><p>A warm intro goes a long way. If someone comes to mind, just reply with their name and I'll take it from there. No pressure at all.</p><p>Thanks for trusting us with your operations. It's been a great project.</p><p>— John<br/>${d.config.owner.companyName}</p>`,\n    workflowName: 'SYS 05 — Referral & Reactivation Engine'\n  }\n}];"
      },
      "id": "sys11-ref-email-prep",
      "name": "Prep Referral Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        208
      ]
    },
    {
      "parameters": {
        "source": "parameter",
        "options": {}
      },
      "id": "sys11-ref-email",
      "name": "Send Referral Email",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1360,
        208
      ]
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "days"
      },
      "id": "sys11-ref-wait2",
      "name": "Wait 3 Days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1584,
        208
      ],
      "webhookId": "4e8e1fed-53be-4833-9a70-a9563c65580e"
    },
    {
      "parameters": {
        "jsCode": "const d = $('Extract Referral Data').first().json;\n\nreturn [{\n  json: {\n    to: d.contactPhone,\n    body: `Hi ${d.contactFirstName}, sent you an email about referring someone for automation. Know anyone who might be a good fit? — John`,\n    workflowName: 'SYS 05 — Referral & Reactivation Engine'\n  }\n}];"
      },
      "id": "sys11-ref-sms-prep",
      "name": "Prep Referral SMS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        208
      ]
    },
    {
      "parameters": {
        "source": "parameter",
        "options": {}
      },
      "id": "sys11-ref-sms",
      "name": "Send Referral SMS",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2016,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    workflowName: 'SYS 05 — Referral & Reactivation Engine',\n    contactName: $('Extract Referral Data').first().json.clientName,\n    phone: '', eventType: 'referral_requested', status: 'success', notes: 'Referral sequence completed'\n  }\n}];"
      },
      "id": "sys11-ref-log-prep",
      "name": "Prep Referral Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        208
      ]
    },
    {
      "parameters": {
        "source": "parameter",
        "options": {}
      },
      "id": "sys11-ref-log",
      "name": "Log Referral",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2464,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const contacts = $('Get Inactive Customers').all();\nconst config = $('Get Config (Reactivation)').first().json;\nconst now = new Date();\nconst threshold = config.timing.reactivationDays * 24 * 60 * 60 * 1000;\n\nconst inactive = contacts.filter(c => {\n  const p = c.json.properties || c.json;\n  const lastActivity = p.last_activity_date ? new Date(p.last_activity_date) : null;\n  return !lastActivity || (now - lastActivity) > threshold;\n});\n\nreturn inactive.map(c => {\n  const p = c.json.properties || c.json;\n  return {\n    json: {\n      contactId: c.json.id,\n      firstName: p.firstname || '',\n      lastName: p.lastname || '',\n      email: p.email || '',\n      phone: p.phone || '',\n      company: p.company || '',\n      config\n    }\n  };\n});"
      },
      "id": "sys11-react-filter",
      "name": "Filter Inactive",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\n\nreturn [{\n  json: {\n    to: d.email,\n    subject: `Checking in — ${d.company}`,\n    html: `<p>Hi ${d.firstName || 'there'},</p><p>It's been a while since we last worked together, and I wanted to check in.</p><p>A lot has changed in the AI automation space since our last project. We've built some powerful new systems — from AI-powered lead qualification to automated client reporting — that could make a real difference for ${d.company}.</p><p>Would you be open to a quick 15-minute catch-up? I'd love to hear what's new on your end and share what we've been building.</p><p>${d.config.owner.calendarLink}</p><p>— John<br/>${d.config.owner.companyName}</p>`,\n    workflowName: 'SYS 05 — Referral & Reactivation Engine'\n  }\n}];"
      },
      "id": "sys11-react-email-prep",
      "name": "Prep Reactivation Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        608
      ]
    },
    {
      "parameters": {
        "source": "parameter",
        "options": {}
      },
      "id": "sys11-react-email",
      "name": "Send Reactivation Email",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1360,
        608
      ]
    },
    {
      "parameters": {
        "amount": 4,
        "unit": "days"
      },
      "id": "sys11-react-wait",
      "name": "Wait 4 Days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1584,
        608
      ],
      "webhookId": "c03ad13a-839f-4b83-8e80-81c55bd5802d"
    },
    {
      "parameters": {
        "jsCode": "const d = $('Filter Inactive').first().json;\n\nreturn [{\n  json: {\n    to: d.phone,\n    body: `Hi ${d.firstName || 'there'}, sent you an email about catching up on new automation capabilities for ${d.company}. Worth a quick chat? — John`,\n    workflowName: 'SYS 05 — Referral & Reactivation Engine'\n  }\n}];"
      },
      "id": "sys11-react-sms-prep",
      "name": "Prep Reactivation SMS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        608
      ]
    },
    {
      "parameters": {
        "source": "parameter",
        "options": {}
      },
      "id": "sys11-react-sms",
      "name": "Send Reactivation SMS",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2016,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $('Filter Inactive').first().json;\n\nreturn [{\n  json: {\n    workflowName: 'SYS 05 — Referral & Reactivation Engine',\n    contactName: `${d.firstName} ${d.lastName}`.trim(),\n    phone: d.phone, eventType: 'reactivation_sent', status: 'success', notes: `Company: ${d.company}`\n  }\n}];"
      },
      "id": "sys11-react-log-prep",
      "name": "Prep Reactivation Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        608
      ]
    },
    {
      "parameters": {
        "source": "parameter",
        "options": {}
      },
      "id": "sys11-react-log",
      "name": "Log Reactivation",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2464,
        608
      ]
    },
    {
      "parameters": {
        "authentication": "appToken",
        "operation": "getAll",
        "limit": 200,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        688,
        608
      ],
      "id": "b2077dfe-b522-4723-9662-7906bc19059d",
      "name": "Get Inactive Customers",
      "credentials": {
        "hubspotAppToken": {
          "id": "volH6pGD5psvPC7a",
          "name": "HubSpot App Token account"
        }
      }
    }
  ],
  "connections": {
    "Deal Project Complete": {
      "main": [
        [
          {
            "node": "Get Config (Referral)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily 9AM EST": {
      "main": [
        [
          {
            "node": "Get Config (Reactivation)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Config (Referral)": {
      "main": [
        [
          {
            "node": "Extract Referral Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Referral Data": {
      "main": [
        [
          {
            "node": "Wait Referral Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Referral Delay": {
      "main": [
        [
          {
            "node": "Prep Referral Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Referral Email": {
      "main": [
        [
          {
            "node": "Send Referral Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Referral Email": {
      "main": [
        [
          {
            "node": "Wait 3 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3 Days": {
      "main": [
        [
          {
            "node": "Prep Referral SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Referral SMS": {
      "main": [
        [
          {
            "node": "Send Referral SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Referral SMS": {
      "main": [
        [
          {
            "node": "Prep Referral Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Referral Log": {
      "main": [
        [
          {
            "node": "Log Referral",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Config (Reactivation)": {
      "main": [
        [
          {
            "node": "Get Inactive Customers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Inactive": {
      "main": [
        [
          {
            "node": "Prep Reactivation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Reactivation Email": {
      "main": [
        [
          {
            "node": "Send Reactivation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reactivation Email": {
      "main": [
        [
          {
            "node": "Wait 4 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 4 Days": {
      "main": [
        [
          {
            "node": "Prep Reactivation SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Reactivation SMS": {
      "main": [
        [
          {
            "node": "Send Reactivation SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reactivation SMS": {
      "main": [
        [
          {
            "node": "Prep Reactivation Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Reactivation Log": {
      "main": [
        [
          {
            "node": "Log Reactivation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Inactive Customers": {
      "main": [
        [
          {
            "node": "Filter Inactive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timezone": "America/New_York",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedMode": "fixed",
    "errorWorkflow": "w9S9LovIY8CxchZm"
  },
  "staticData": {
    "node:Daily 9AM EST": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "eccf07c4-476e-48da-a003-9efcaef89835",
  "activeVersionId": "eccf07c4-476e-48da-a003-9efcaef89835",
  "versionCounter": 59,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-03-08T22:52:54.115Z",
      "createdAt": "2026-03-08T22:52:54.115Z",
      "role": "workflow:owner",
      "workflowId": "3JWOGfRAtb7a9plr",
      "projectId": "o5dYIcHW2mxs82d6",
      "project": {
        "updatedAt": "2026-02-23T01:06:36.093Z",
        "createdAt": "2026-02-23T00:59:28.616Z",
        "id": "o5dYIcHW2mxs82d6",
        "name": "John Schibelli <john.schibelli@intrawebtech.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-03T13:24:25.000Z",
    "createdAt": "2026-04-03T13:16:25.622Z",
    "versionId": "eccf07c4-476e-48da-a003-9efcaef89835",
    "workflowId": "3JWOGfRAtb7a9plr",
    "nodes": [
      {
        "parameters": {},
        "id": "note-sys11",
        "name": "Note — About this workflow",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1.3,
        "position": [
          80,
          80
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "hubspot-deal-project-complete",
          "responseMode": "lastNode",
          "options": {}
        },
        "id": "sys11-referral-trigger",
        "name": "Deal Project Complete",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          256,
          208
        ],
        "webhookId": "8e6f918a-d95d-4359-ac5e-d44db14ab97f"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 9 * * *"
              }
            ]
          }
        },
        "id": "sys11-reactivation-trigger",
        "name": "Daily 9AM EST",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          256,
          608
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "1eTTVoSFSlSPvZV4",
            "mode": "list",
            "cachedResultUrl": "/workflow/1eTTVoSFSlSPvZV4",
            "cachedResultName": "CONFIG — Global Settings"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "sys11-config-ref",
        "name": "Get Config (Referral)",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          480,
          208
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "1eTTVoSFSlSPvZV4",
            "mode": "list",
            "cachedResultUrl": "/workflow/1eTTVoSFSlSPvZV4",
            "cachedResultName": "CONFIG — Global Settings"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "sys11-config-react",
        "name": "Get Config (Reactivation)",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          480,
          608
        ]
      },
      {
        "parameters": {
          "jsCode": "const deal = $('Deal Project Complete').first().json;\nconst config = $('Get Config (Referral)').first().json;\nconst props = deal.properties || deal;\n\nreturn [{\n  json: {\n    clientName: props.dealname || '',\n    contactEmail: props.contact_email || '',\n    contactFirstName: props.contact_firstname || '',\n    contactPhone: props.contact_phone || '',\n    industry: props.industry || '',\n    tier: props.tier || '',\n    dealId: deal.id || deal.dealId || '',\n    config\n  }\n}];"
        },
        "id": "sys11-ref-extract",
        "name": "Extract Referral Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          704,
          208
        ]
      },
      {
        "parameters": {
          "amount": "={{ $json.config.timing.referralDelayDays }}",
          "unit": "days"
        },
        "id": "sys11-ref-wait",
        "name": "Wait Referral Delay",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          912,
          208
        ],
        "webhookId": "f60d8b2e-1c71-4f30-98ea-f6bfb0aaa251"
      },
      {
        "parameters": {
          "jsCode": "const d = $('Extract Referral Data').first().json;\n\nreturn [{\n  json: {\n    to: d.contactEmail,\n    subject: `Quick ask, ${d.contactFirstName}`,\n    html: `<p>Hi ${d.contactFirstName},</p><p>Now that we've wrapped up your project, I wanted to ask — do you know anyone else in the ${d.industry || 'business'} space who might benefit from the kind of automation we built for ${d.clientName}?</p><p>A warm intro goes a long way. If someone comes to mind, just reply with their name and I'll take it from there. No pressure at all.</p><p>Thanks for trusting us with your operations. It's been a great project.</p><p>— John<br/>${d.config.owner.companyName}</p>`,\n    workflowName: 'SYS 05 — Referral & Reactivation Engine'\n  }\n}];"
        },
        "id": "sys11-ref-email-prep",
        "name": "Prep Referral Email",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1136,
          208
        ]
      },
      {
        "parameters": {
          "source": "parameter",
          "options": {}
        },
        "id": "sys11-ref-email",
        "name": "Send Referral Email",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1360,
          208
        ]
      },
      {
        "parameters": {
          "amount": 3,
          "unit": "days"
        },
        "id": "sys11-ref-wait2",
        "name": "Wait 3 Days",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1584,
          208
        ],
        "webhookId": "4e8e1fed-53be-4833-9a70-a9563c65580e"
      },
      {
        "parameters": {
          "jsCode": "const d = $('Extract Referral Data').first().json;\n\nreturn [{\n  json: {\n    to: d.contactPhone,\n    body: `Hi ${d.contactFirstName}, sent you an email about referring someone for automation. Know anyone who might be a good fit? — John`,\n    workflowName: 'SYS 05 — Referral & Reactivation Engine'\n  }\n}];"
        },
        "id": "sys11-ref-sms-prep",
        "name": "Prep Referral SMS",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1792,
          208
        ]
      },
      {
        "parameters": {
          "source": "parameter",
          "options": {}
        },
        "id": "sys11-ref-sms",
        "name": "Send Referral SMS",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2016,
          208
        ]
      },
      {
        "parameters": {
          "jsCode": "return [{\n  json: {\n    workflowName: 'SYS 05 — Referral & Reactivation Engine',\n    contactName: $('Extract Referral Data').first().json.clientName,\n    phone: '', eventType: 'referral_requested', status: 'success', notes: 'Referral sequence completed'\n  }\n}];"
        },
        "id": "sys11-ref-log-prep",
        "name": "Prep Referral Log",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2240,
          208
        ]
      },
      {
        "parameters": {
          "source": "parameter",
          "options": {}
        },
        "id": "sys11-ref-log",
        "name": "Log Referral",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2464,
          208
        ]
      },
      {
        "parameters": {
          "jsCode": "const contacts = $('Get Inactive Customers').all();\nconst config = $('Get Config (Reactivation)').first().json;\nconst now = new Date();\nconst threshold = config.timing.reactivationDays * 24 * 60 * 60 * 1000;\n\nconst inactive = contacts.filter(c => {\n  const p = c.json.properties || c.json;\n  const lastActivity = p.last_activity_date ? new Date(p.last_activity_date) : null;\n  return !lastActivity || (now - lastActivity) > threshold;\n});\n\nreturn inactive.map(c => {\n  const p = c.json.properties || c.json;\n  return {\n    json: {\n      contactId: c.json.id,\n      firstName: p.firstname || '',\n      lastName: p.lastname || '',\n      email: p.email || '',\n      phone: p.phone || '',\n      company: p.company || '',\n      config\n    }\n  };\n});"
        },
        "id": "sys11-react-filter",
        "name": "Filter Inactive",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          912,
          608
        ]
      },
      {
        "parameters": {
          "jsCode": "const d = $input.first().json;\n\nreturn [{\n  json: {\n    to: d.email,\n    subject: `Checking in — ${d.company}`,\n    html: `<p>Hi ${d.firstName || 'there'},</p><p>It's been a while since we last worked together, and I wanted to check in.</p><p>A lot has changed in the AI automation space since our last project. We've built some powerful new systems — from AI-powered lead qualification to automated client reporting — that could make a real difference for ${d.company}.</p><p>Would you be open to a quick 15-minute catch-up? I'd love to hear what's new on your end and share what we've been building.</p><p>${d.config.owner.calendarLink}</p><p>— John<br/>${d.config.owner.companyName}</p>`,\n    workflowName: 'SYS 05 — Referral & Reactivation Engine'\n  }\n}];"
        },
        "id": "sys11-react-email-prep",
        "name": "Prep Reactivation Email",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1136,
          608
        ]
      },
      {
        "parameters": {
          "source": "parameter",
          "options": {}
        },
        "id": "sys11-react-email",
        "name": "Send Reactivation Email",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1360,
          608
        ]
      },
      {
        "parameters": {
          "amount": 4,
          "unit": "days"
        },
        "id": "sys11-react-wait",
        "name": "Wait 4 Days",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1584,
          608
        ],
        "webhookId": "c03ad13a-839f-4b83-8e80-81c55bd5802d"
      },
      {
        "parameters": {
          "jsCode": "const d = $('Filter Inactive').first().json;\n\nreturn [{\n  json: {\n    to: d.phone,\n    body: `Hi ${d.firstName || 'there'}, sent you an email about catching up on new automation capabilities for ${d.company}. Worth a quick chat? — John`,\n    workflowName: 'SYS 05 — Referral & Reactivation Engine'\n  }\n}];"
        },
        "id": "sys11-react-sms-prep",
        "name": "Prep Reactivation SMS",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1792,
          608
        ]
      },
      {
        "parameters": {
          "source": "parameter",
          "options": {}
        },
        "id": "sys11-react-sms",
        "name": "Send Reactivation SMS",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2016,
          608
        ]
      },
      {
        "parameters": {
          "jsCode": "const d = $('Filter Inactive').first().json;\n\nreturn [{\n  json: {\n    workflowName: 'SYS 05 — Referral & Reactivation Engine',\n    contactName: `${d.firstName} ${d.lastName}`.trim(),\n    phone: d.phone, eventType: 'reactivation_sent', status: 'success', notes: `Company: ${d.company}`\n  }\n}];"
        },
        "id": "sys11-react-log-prep",
        "name": "Prep Reactivation Log",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2240,
          608
        ]
      },
      {
        "parameters": {
          "source": "parameter",
          "options": {}
        },
        "id": "sys11-react-log",
        "name": "Log Reactivation",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2464,
          608
        ]
      },
      {
        "parameters": {
          "authentication": "appToken",
          "operation": "getAll",
          "limit": 200,
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.hubspot",
        "typeVersion": 2.2,
        "position": [
          688,
          608
        ],
        "id": "b2077dfe-b522-4723-9662-7906bc19059d",
        "name": "Get Inactive Customers",
        "credentials": {
          "hubspotAppToken": {
            "id": "volH6pGD5psvPC7a",
            "name": "HubSpot App Token account"
          }
        }
      }
    ],
    "connections": {
      "Deal Project Complete": {
        "main": [
          [
            {
              "node": "Get Config (Referral)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Daily 9AM EST": {
        "main": [
          [
            {
              "node": "Get Config (Reactivation)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Config (Referral)": {
        "main": [
          [
            {
              "node": "Extract Referral Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Referral Data": {
        "main": [
          [
            {
              "node": "Wait Referral Delay",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait Referral Delay": {
        "main": [
          [
            {
              "node": "Prep Referral Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Referral Email": {
        "main": [
          [
            {
              "node": "Send Referral Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Referral Email": {
        "main": [
          [
            {
              "node": "Wait 3 Days",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait 3 Days": {
        "main": [
          [
            {
              "node": "Prep Referral SMS",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Referral SMS": {
        "main": [
          [
            {
              "node": "Send Referral SMS",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Referral SMS": {
        "main": [
          [
            {
              "node": "Prep Referral Log",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Referral Log": {
        "main": [
          [
            {
              "node": "Log Referral",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Config (Reactivation)": {
        "main": [
          [
            {
              "node": "Get Inactive Customers",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Inactive": {
        "main": [
          [
            {
              "node": "Prep Reactivation Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Reactivation Email": {
        "main": [
          [
            {
              "node": "Send Reactivation Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Reactivation Email": {
        "main": [
          [
            {
              "node": "Wait 4 Days",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait 4 Days": {
        "main": [
          [
            {
              "node": "Prep Reactivation SMS",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Reactivation SMS": {
        "main": [
          [
            {
              "node": "Send Reactivation SMS",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Reactivation SMS": {
        "main": [
          [
            {
              "node": "Prep Reactivation Log",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Reactivation Log": {
        "main": [
          [
            {
              "node": "Log Reactivation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Inactive Customers": {
        "main": [
          [
            {
              "node": "Filter Inactive",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "John Schibelli",
    "name": "Version eccf07c4",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-03T13:24:25.212Z",
        "id": 1520,
        "workflowId": "3JWOGfRAtb7a9plr",
        "versionId": "eccf07c4-476e-48da-a003-9efcaef89835",
        "event": "activated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      }
    ]
  }
}
