n8n-workflows/05_client-success/SYS 05 — Client Health Monitoring.json
{
  "updatedAt": "2026-04-03T15:09:17.273Z",
  "createdAt": "2026-03-08T22:52:36.783Z",
  "id": "oMCQFip422ufnvMN",
  "name": "SYS 05 — Client Health Monitoring",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "note-sys10",
      "name": "Note — About this workflow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1.3,
      "position": [
        80,
        80
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      },
      "id": "sys10-trigger",
      "name": "Every Monday 8AM EST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        256,
        288
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "1eTTVoSFSlSPvZV4",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "id": "sys10-config",
      "name": "Get Config",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        480,
        288
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "sys10-merge-config-deals",
      "name": "Merge Deals + Config",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        928,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "// Each item = HubSpot deal merged with CONFIG (n8n 2.x / task runner only resolves $('...') from nodes that connect to this Code node)\nconst CONFIG_KEYS = ['owner', 'pipeline', 'hunter', 'google', 'branding', 'timing', 'scoring', 'leadSourcing', 'tiers', 'industries', 'leadSourcingQueries'];\nfunction pickConfig(j) {\n  const o = {};\n  for (const k of CONFIG_KEYS) {\n    if (j[k] !== undefined) o[k] = j[k];\n  }\n  return o;\n}\nconst now = new Date();\nreturn $input.all().map(({ json: j }) => {\n  const config = pickConfig(j);\n  if (!config.scoring) throw new Error('Missing CONFIG on merged items — check Merge Deals + Config (inputs 0=deals, 1=Get Config)');\n  const p = j.properties || j;\n  let score = 0;\n  const lastContact = p.last_activity_date ? new Date(p.last_activity_date) : null;\n  const daysSinceContact = lastContact ? (now - lastContact) / (24 * 60 * 60 * 1000) : 999;\n  if (daysSinceContact < 7) score += 3;\n  else if (daysSinceContact <= 14) score += 1;\n  else score -= 2;\n  const invoiceOverdue = p.dealstage === 'invoice_sent';\n  if (invoiceOverdue) score -= 3;\n  return {\n    json: {\n      dealId: j.id,\n      clientName: p.dealname || '',\n      tier: p.tier || '',\n      contactEmail: p.contact_email || '',\n      contactFirstName: p.contact_firstname || '',\n      healthScore: score,\n      daysSinceContact: Math.round(daysSinceContact),\n      lastContactDate: lastContact ? lastContact.toISOString().split('T')[0] : 'Never',\n      isWarning: score < config.scoring.healthScoreWarningThreshold,\n      config\n    }\n  };\n});"
      },
      "id": "sys10-calc",
      "name": "Calculate Health Scores",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        288
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-warning",
              "leftValue": "={{ $json.isWarning }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "sys10-check-warning",
      "name": "Below Threshold?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1600,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\n\nreturn [{\n  json: {\n    message: `Client health warning: ${d.clientName} — Score ${d.healthScore}. Last contact: ${d.lastContactDate}`,\n    priority: 'warning'\n  }\n}];"
      },
      "id": "sys10-warn-prep",
      "name": "Prep Warning Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        208
      ]
    },
    {
      "parameters": {
        "source": "parameter",
        "options": {}
      },
      "id": "sys10-warn",
      "name": "Send Warning",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2048,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\n\nreturn [{\n  json: {\n    to: d.contactEmail,\n    subject: `Quick check-in — ${d.clientName}`,\n    html: `<p>Hi ${d.contactFirstName || 'there'},</p><p>Just wanted to check in and make sure everything is running smoothly on your end. It's been a bit since we last connected.</p><p>Is there anything you need from us? Any questions about the systems we've built? Any new processes you'd like to automate?</p><p>Happy to jump on a quick call anytime: ${d.config.owner.calendarLink}</p><p>— John<br/>${d.config.owner.companyName}</p>`,\n    workflowName: 'SYS 05 — Client Health Monitoring'\n  }\n}];"
      },
      "id": "sys10-checkin-prep",
      "name": "Prep Check-in Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2272,
        208
      ]
    },
    {
      "parameters": {
        "source": "parameter",
        "options": {}
      },
      "id": "sys10-checkin",
      "name": "Send Check-in",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2496,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    workflowName: 'SYS 05 — Client Health Monitoring',\n    contactName: $input.first().json.clientName,\n    phone: '',\n    eventType: 'health_check',\n    status: 'success',\n    notes: `Score: ${$input.first().json.healthScore}`\n  }\n}];"
      },
      "id": "sys10-log-prep",
      "name": "Prep Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2944,
        288
      ]
    },
    {
      "parameters": {
        "source": "parameter",
        "options": {}
      },
      "id": "sys10-log",
      "name": "Log to Sheet",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3168,
        288
      ]
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "deal",
        "operation": "update",
        "dealId": {
          "__rl": true,
          "value": "=",
          "mode": "id"
        },
        "updateFields": {
          "customPropertiesUi": {
            "customPropertiesValues": [
              {
                "property": "={{ $('Get Active Clients').item.json.dealId }}",
                "value": "={{ $json.healthScore }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        1360,
        288
      ],
      "id": "767dfc62-a165-4cd1-ba4b-d86ff4baaa62",
      "name": "Update HubSpot Score",
      "credentials": {
        "hubspotAppToken": {
          "id": "volH6pGD5psvPC7a",
          "name": "HubSpot App Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "11mUg_0EKtW45lg735vOKnvPNm0AVEmZXxiLClKiCRtE",
          "mode": "list",
          "cachedResultName": "IntraWeb OS — Master Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11mUg_0EKtW45lg735vOKnvPNm0AVEmZXxiLClKiCRtE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1242959944,
          "mode": "list",
          "cachedResultName": "Clients",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11mUg_0EKtW45lg735vOKnvPNm0AVEmZXxiLClKiCRtE/edit#gid=1242959944"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tier",
              "displayName": "Tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MRR",
              "displayName": "MRR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Start Date",
              "displayName": "Start Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Activity",
              "displayName": "Last Activity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Health Score",
              "displayName": "Health Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2704,
        288
      ],
      "id": "936dcd4e-9f47-4896-a5d2-8f751cd37542",
      "name": "Update Clients Tab",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pKS06498CxELp8nS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "deal",
        "operation": "getAll",
        "filters": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        672,
        224
      ],
      "id": "f4aaad30-d974-4f96-ac49-54f3cac91265",
      "name": "Get Active Clients",
      "credentials": {
        "hubspotAppToken": {
          "id": "volH6pGD5psvPC7a",
          "name": "HubSpot App Token account"
        }
      }
    }
  ],
  "connections": {
    "Every Monday 8AM EST": {
      "main": [
        [
          {
            "node": "Get Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Config": {
      "main": [
        [
          {
            "node": "Merge Deals + Config",
            "type": "main",
            "index": 1
          },
          {
            "node": "Get Active Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Deals + Config": {
      "main": [
        [
          {
            "node": "Calculate Health Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Health Scores": {
      "main": [
        [
          {
            "node": "Update HubSpot Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Below Threshold?": {
      "main": [
        [
          {
            "node": "Prep Warning Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Clients Tab",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Warning Alert": {
      "main": [
        [
          {
            "node": "Send Warning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Warning": {
      "main": [
        [
          {
            "node": "Prep Check-in Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Check-in Email": {
      "main": [
        [
          {
            "node": "Send Check-in",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Check-in": {
      "main": [
        [
          {
            "node": "Update Clients Tab",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Log": {
      "main": [
        [
          {
            "node": "Log to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update HubSpot Score": {
      "main": [
        [
          {
            "node": "Below Threshold?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Clients Tab": {
      "main": [
        [
          {
            "node": "Prep Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Clients": {
      "main": [
        [
          {
            "node": "Merge Deals + Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timezone": "America/New_York",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedMode": "fixed",
    "errorWorkflow": "w9S9LovIY8CxchZm"
  },
  "staticData": {
    "node:Every Monday 8AM EST": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "05bb6d93-c8c4-4715-94c2-3f2f00867c07",
  "activeVersionId": "ec12e107-4eda-4388-805a-062140366731",
  "versionCounter": 150,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-08T22:52:36.785Z",
      "createdAt": "2026-03-08T22:52:36.785Z",
      "role": "workflow:owner",
      "workflowId": "oMCQFip422ufnvMN",
      "projectId": "o5dYIcHW2mxs82d6",
      "project": {
        "updatedAt": "2026-02-23T01:06:36.093Z",
        "createdAt": "2026-02-23T00:59:28.616Z",
        "id": "o5dYIcHW2mxs82d6",
        "name": "John Schibelli <john.schibelli@intrawebtech.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-03T03:05:40.492Z",
    "createdAt": "2026-04-03T03:05:40.492Z",
    "versionId": "ec12e107-4eda-4388-805a-062140366731",
    "workflowId": "oMCQFip422ufnvMN",
    "nodes": [
      {
        "parameters": {
          "content": "## SYS 05 — Client Health Monitoring\n\n**Trigger:** Every Monday 8AM EST (cron).\n\n**What it does:** Fetches active clients (closed_won, invoice_sent, paid), computes a health score from recency of contact and invoice status, writes the score to the HubSpot deal property `client_health_score`. If score is below CONFIG's health warning threshold, sends a Google Chat alert so the team can follow up. Keeps at-risk clients visible.\n\n**Dependencies:** CONFIG, HubSpot, Send Google Chat Alert, Log.",
          "height": 300,
          "width": 460,
          "color": 5
        },
        "id": "note-sys10",
        "name": "Note — About this workflow",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1.3,
        "position": [
          80,
          80
        ]
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 8 * * 1"
              }
            ]
          }
        },
        "id": "sys10-trigger",
        "name": "Every Monday 8AM EST",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          250,
          300
        ]
      },
      {
        "parameters": {
          "source": "database",
          "workflowId": {
            "__rl": true,
            "value": "1eTTVoSFSlSPvZV4",
            "mode": "id"
          }
        },
        "id": "sys10-config",
        "name": "Get Config",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          470,
          300
        ]
      },
      {
        "parameters": {
          "resource": "deal",
          "operation": "getAll",
          "filters": {
            "values": [
              {
                "propertyName": "dealstage",
                "operator": "IN",
                "value": "closed_won,invoice_sent,paid"
              }
            ]
          },
          "limit": 100,
          "options": {
            "properties": [
              "dealname",
              "dealstage",
              "tier",
              "contact_email",
              "contact_firstname",
              "last_activity_date",
              "client_health_score",
              "monthly_retainer"
            ]
          }
        },
        "id": "sys10-get-clients",
        "name": "Get Active Clients",
        "type": "n8n-nodes-base.hubspot",
        "typeVersion": 2,
        "position": [
          690,
          300
        ],
        "credentials": {
          "hubspotApi": {
            "id": "volH6pGD5psvPC7a",
            "name": "HubSpot App Token"
          }
        }
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineAll",
          "options": {}
        },
        "id": "sys10-merge-config-deals",
        "name": "Merge Deals + Config",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          800,
          300
        ]
      },
      {
        "parameters": {
          "jsCode": "// Each item = HubSpot deal merged with CONFIG (n8n 2.x / task runner only resolves $('...') from nodes that connect to this Code node)\nconst CONFIG_KEYS = ['owner', 'pipeline', 'hunter', 'google', 'branding', 'timing', 'scoring', 'leadSourcing', 'tiers', 'industries', 'leadSourcingQueries'];\nfunction pickConfig(j) {\n  const o = {};\n  for (const k of CONFIG_KEYS) {\n    if (j[k] !== undefined) o[k] = j[k];\n  }\n  return o;\n}\nconst now = new Date();\nreturn $input.all().map(({ json: j }) => {\n  const config = pickConfig(j);\n  if (!config.scoring) throw new Error('Missing CONFIG on merged items — check Merge Deals + Config (inputs 0=deals, 1=Get Config)');\n  const p = j.properties || j;\n  let score = 0;\n  const lastContact = p.last_activity_date ? new Date(p.last_activity_date) : null;\n  const daysSinceContact = lastContact ? (now - lastContact) / (24 * 60 * 60 * 1000) : 999;\n  if (daysSinceContact < 7) score += 3;\n  else if (daysSinceContact <= 14) score += 1;\n  else score -= 2;\n  const invoiceOverdue = p.dealstage === 'invoice_sent';\n  if (invoiceOverdue) score -= 3;\n  return {\n    json: {\n      dealId: j.id,\n      clientName: p.dealname || '',\n      tier: p.tier || '',\n      contactEmail: p.contact_email || '',\n      contactFirstName: p.contact_firstname || '',\n      healthScore: score,\n      daysSinceContact: Math.round(daysSinceContact),\n      lastContactDate: lastContact ? lastContact.toISOString().split('T')[0] : 'Never',\n      isWarning: score < config.scoring.healthScoreWarningThreshold,\n      config\n    }\n  };\n});"
        },
        "id": "sys10-calc",
        "name": "Calculate Health Scores",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          910,
          300
        ]
      },
      {
        "parameters": {
          "resource": "deal",
          "operation": "update",
          "dealId": "={{ $json.dealId }}",
          "updateFields": {
            "customPropertiesUi": {
              "customPropertiesValues": [
                {
                  "property": "client_health_score",
                  "value": "={{ $json.healthScore }}"
                }
              ]
            }
          },
          "options": {}
        },
        "id": "sys10-update-hs",
        "name": "Update HubSpot Score",
        "type": "n8n-nodes-base.hubspot",
        "typeVersion": 2,
        "position": [
          1130,
          300
        ],
        "credentials": {
          "hubspotApi": {
            "id": "volH6pGD5psvPC7a",
            "name": "HubSpot App Token"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "is-warning",
                "leftValue": "={{ $json.isWarning }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "sys10-check-warning",
        "name": "Below Threshold?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1350,
          300
        ]
      },
      {
        "parameters": {
          "jsCode": "const d = $input.first().json;\n\nreturn [{\n  json: {\n    message: `Client health warning: ${d.clientName} — Score ${d.healthScore}. Last contact: ${d.lastContactDate}`,\n    priority: 'warning'\n  }\n}];"
        },
        "id": "sys10-warn-prep",
        "name": "Prep Warning Alert",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1570,
          200
        ]
      },
      {
        "parameters": {
          "source": "parameter",
          "workflowId": "REPLACE_WITH_SEND_GOOGLE_CHAT_ALERT_WORKFLOW_ID"
        },
        "id": "sys10-warn",
        "name": "Send Warning",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1790,
          200
        ]
      },
      {
        "parameters": {
          "jsCode": "const d = $input.first().json;\n\nreturn [{\n  json: {\n    to: d.contactEmail,\n    subject: `Quick check-in — ${d.clientName}`,\n    html: `<p>Hi ${d.contactFirstName || 'there'},</p><p>Just wanted to check in and make sure everything is running smoothly on your end. It's been a bit since we last connected.</p><p>Is there anything you need from us? Any questions about the systems we've built? Any new processes you'd like to automate?</p><p>Happy to jump on a quick call anytime: ${d.config.owner.calendarLink}</p><p>— John<br/>${d.config.owner.companyName}</p>`,\n    workflowName: 'SYS 05 — Client Health Monitoring'\n  }\n}];"
        },
        "id": "sys10-checkin-prep",
        "name": "Prep Check-in Email",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2010,
          200
        ]
      },
      {
        "parameters": {
          "source": "parameter",
          "workflowId": "REPLACE_WITH_SEND_EMAIL_WORKFLOW_ID"
        },
        "id": "sys10-checkin",
        "name": "Send Check-in",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2230,
          200
        ]
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "mode": "id",
            "value": "={{ $json.config.google.masterSheetId }}"
          },
          "sheetName": {
            "mode": "name",
            "value": "Clients"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Client Name": "={{ $json.clientName }}",
              "Tier": "={{ $json.tier }}",
              "MRR": "=0",
              "Start Date": "",
              "Last Activity": "={{ $json.lastContactDate }}",
              "Health Score": "={{ $json.healthScore }}"
            }
          },
          "options": {}
        },
        "id": "sys10-sheets",
        "name": "Update Clients Tab",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          1570,
          450
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "IJzDJS1jpbItegZD",
            "name": "Google Sheets account 2"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "return [{\n  json: {\n    workflowName: 'SYS 05 — Client Health Monitoring',\n    contactName: $input.first().json.clientName,\n    phone: '',\n    eventType: 'health_check',\n    status: 'success',\n    notes: `Score: ${$input.first().json.healthScore}`\n  }\n}];"
        },
        "id": "sys10-log-prep",
        "name": "Prep Log",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1790,
          450
        ]
      },
      {
        "parameters": {
          "source": "parameter",
          "workflowId": "REPLACE_WITH_LOG_WORKFLOW_ID"
        },
        "id": "sys10-log",
        "name": "Log to Sheet",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2010,
          450
        ]
      }
    ],
    "connections": {
      "Every Monday 8AM EST": {
        "main": [
          [
            {
              "node": "Get Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Config": {
        "main": [
          [
            {
              "node": "Get Active Clients",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge Deals + Config",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Get Active Clients": {
        "main": [
          [
            {
              "node": "Merge Deals + Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Deals + Config": {
        "main": [
          [
            {
              "node": "Calculate Health Scores",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Calculate Health Scores": {
        "main": [
          [
            {
              "node": "Update HubSpot Score",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update HubSpot Score": {
        "main": [
          [
            {
              "node": "Below Threshold?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Below Threshold?": {
        "main": [
          [
            {
              "node": "Prep Warning Alert",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Update Clients Tab",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Warning Alert": {
        "main": [
          [
            {
              "node": "Send Warning",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Warning": {
        "main": [
          [
            {
              "node": "Prep Check-in Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Check-in Email": {
        "main": [
          [
            {
              "node": "Send Check-in",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Check-in": {
        "main": [
          [
            {
              "node": "Update Clients Tab",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Clients Tab": {
        "main": [
          [
            {
              "node": "Prep Log",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Log": {
        "main": [
          [
            {
              "node": "Log to Sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "John Schibelli",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-03T03:05:40.534Z",
        "id": 1384,
        "workflowId": "oMCQFip422ufnvMN",
        "versionId": "ec12e107-4eda-4388-805a-062140366731",
        "event": "activated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      },
      {
        "createdAt": "2026-04-03T03:06:02.095Z",
        "id": 1444,
        "workflowId": "oMCQFip422ufnvMN",
        "versionId": "ec12e107-4eda-4388-805a-062140366731",
        "event": "activated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      },
      {
        "createdAt": "2026-04-03T03:42:44.021Z",
        "id": 1492,
        "workflowId": "oMCQFip422ufnvMN",
        "versionId": "ec12e107-4eda-4388-805a-062140366731",
        "event": "activated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      },
      {
        "createdAt": "2026-04-03T03:05:40.521Z",
        "id": 1383,
        "workflowId": "oMCQFip422ufnvMN",
        "versionId": "ec12e107-4eda-4388-805a-062140366731",
        "event": "deactivated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      },
      {
        "createdAt": "2026-04-03T03:06:02.076Z",
        "id": 1443,
        "workflowId": "oMCQFip422ufnvMN",
        "versionId": "ec12e107-4eda-4388-805a-062140366731",
        "event": "deactivated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      },
      {
        "createdAt": "2026-04-03T03:42:44.009Z",
        "id": 1491,
        "workflowId": "oMCQFip422ufnvMN",
        "versionId": "ec12e107-4eda-4388-805a-062140366731",
        "event": "deactivated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      }
    ]
  }
}
