n8n-workflows/07_reporting/SYS 07 — Internal Reporting Dashboard.json
{
  "id": "sys-09-internal-reporting-dashboard",
  "name": "SYS 07 — Internal Reporting Dashboard",
  "description": "Triggered by deal stage change webhook, contact change webhook, or every 4 hours. Pushes HubSpot pipeline and contact data into the master Google Sheet (Pipeline, Contacts, Revenue tabs) so Looker Studio or other dashboards stay up to date. Single source for internal reporting.",
  "nodes": [
    {
      "parameters": {
        "content": "## SYS 07 — Internal Reporting Dashboard\n\n**Triggers:** (1) Webhook when deal stage changes, (2) Webhook when contact changes, (3) Every 4 hours (cron).\n\n**What it does:** Pushes HubSpot pipeline and contact data into the master Google Sheet (Pipeline, Contacts, Revenue, etc.) so Looker Studio or other dashboards stay up to date. Formats deal/contact rows and appends or updates the relevant tabs. Single source for internal reporting.\n\n**Dependencies:** CONFIG, HubSpot, Google Sheets. Dashboard connects to the same sheet.",
        "height": 300,
        "width": 460,
        "color": 5
      },
      "id": "note-sys09",
      "name": "Note — About this workflow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1.3,
      "position": [
        80,
        80
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hubspot-deal-stage-change",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "sys09-deal-webhook",
      "name": "Deal Stage Change",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        200
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hubspot-contact-change",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "sys09-contact-webhook",
      "name": "Contact Change",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        500
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */4 * * *"
            }
          ]
        }
      },
      "id": "sys09-schedule",
      "name": "Every 4 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        250,
        800
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "1eTTVoSFSlSPvZV4",
          "mode": "id"
        }
      },
      "id": "sys09-config-deal",
      "name": "Get Config (Deal)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        470,
        200
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "sys09-merge-deal",
      "name": "Merge Deal Webhook + Config",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        580,
        200
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "1eTTVoSFSlSPvZV4",
          "mode": "id"
        }
      },
      "id": "sys09-config-contact",
      "name": "Get Config (Contact)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        470,
        500
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "sys09-merge-contact",
      "name": "Merge Contact Webhook + Config",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        580,
        500
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "1eTTVoSFSlSPvZV4",
          "mode": "id"
        }
      },
      "id": "sys09-config-schedule",
      "name": "Get Config (Schedule)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        470,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "// Merged item: webhook payload + CONFIG (n8n only resolves $('...') on nodes that connect to this Code node)\nconst j = $input.first().json;\nconst hub = j.body && typeof j.body === 'object' && (j.body.properties !== undefined || j.body.id !== undefined) ? j.body : j;\nconst props = hub.properties || hub;\nconst sheetId = j.google?.masterSheetId;\nif (!sheetId) throw new Error('Missing google.masterSheetId (merge webhook branch with Get Config output)');\n\nreturn [{\n  json: {\n    sheetId,\n    dealName: props.dealname || '',\n    stage: props.dealstage || '',\n    value: props.amount || 0,\n    closeDate: props.closedate || '',\n    daysInStage: 0,\n    owner: props.hubspot_owner_id || 'John'\n  }\n}];"
      },
      "id": "sys09-deal-format",
      "name": "Format Deal Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        690,
        200
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "id",
          "value": "={{ $json.sheetId }}"
        },
        "sheetName": {
          "mode": "name",
          "value": "Pipeline"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Deal Name": "={{ $json.dealName }}",
            "Stage": "={{ $json.stage }}",
            "Value": "={{ $json.value }}",
            "Close Date": "={{ $json.closeDate }}",
            "Days in Stage": "={{ $json.daysInStage }}",
            "Owner": "={{ $json.owner }}"
          }
        },
        "options": {}
      },
      "id": "sys09-deal-append",
      "name": "Append to Pipeline",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        910,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IJzDJS1jpbItegZD",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const j = $input.first().json;\nconst hub = j.body && typeof j.body === 'object' && (j.body.properties !== undefined || j.body.id !== undefined) ? j.body : j;\nconst props = hub.properties || hub;\nconst sheetId = j.google?.masterSheetId;\nif (!sheetId) throw new Error('Missing google.masterSheetId (merge webhook branch with Get Config output)');\n\nreturn [{\n  json: {\n    sheetId,\n    timestamp: new Date().toISOString(),\n    name: `${props.firstname || ''} ${props.lastname || ''}`.trim(),\n    company: props.company || '',\n    industry: props.industry || '',\n    source: props.lead_source || '',\n    leadScore: props.lead_score || 0,\n    status: props.hs_lead_status || props.lead_status || ''\n  }\n}];"
      },
      "id": "sys09-contact-format",
      "name": "Format Contact Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        690,
        500
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "id",
          "value": "={{ $json.sheetId }}"
        },
        "sheetName": {
          "mode": "name",
          "value": "Leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.timestamp }}",
            "Name": "={{ $json.name }}",
            "Company": "={{ $json.company }}",
            "Industry": "={{ $json.industry }}",
            "Source": "={{ $json.source }}",
            "Lead Score": "={{ $json.leadScore }}",
            "Status": "={{ $json.status }}"
          }
        },
        "options": {}
      },
      "id": "sys09-contact-append",
      "name": "Append to Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        910,
        500
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IJzDJS1jpbItegZD",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "deal",
        "operation": "getAll",
        "limit": 200,
        "options": {
          "properties": [
            "dealname",
            "dealstage",
            "amount",
            "closedate",
            "tier",
            "monthly_retainer",
            "client_health_score"
          ]
        }
      },
      "id": "sys09-fetch-deals",
      "name": "Fetch All Deals",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [
        690,
        800
      ],
      "credentials": {
        "hubspotApi": {
          "id": "volH6pGD5psvPC7a",
          "name": "HubSpot App Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const deals = $('Fetch All Deals').all();\n// Get Config is not a direct input; use item linking from the first deal row\nconst config = $('Get Config (Schedule)').itemMatching(0).json;\nconst now = new Date();\n\nlet openDeals = 0, openValue = 0, closedWonCount = 0, closedWonValue = 0;\nlet activeClients = 0, totalMRR = 0, totalHealthScore = 0, healthCount = 0;\n\nfor (const d of deals) {\n  const p = d.json.properties || d.json;\n  const stage = p.dealstage || '';\n  const amount = parseFloat(p.amount) || 0;\n\n  if (['closed_won', 'invoice_sent', 'paid', 'project_complete'].includes(stage)) {\n    activeClients++;\n    totalMRR += parseFloat(p.monthly_retainer) || 0;\n    const hs = parseFloat(p.client_health_score) || 0;\n    if (hs > 0) { totalHealthScore += hs; healthCount++; }\n  }\n\n  if (!['paid', 'lost', 'project_complete'].includes(stage)) {\n    openDeals++;\n    openValue += amount;\n  }\n\n  if (stage === 'closed_won' || stage === 'paid') {\n    closedWonCount++;\n    closedWonValue += amount;\n  }\n}\n\nconst avgHealth = healthCount > 0 ? Math.round(totalHealthScore / healthCount * 10) / 10 : 0;\n\n// Metric names must match Summary tab headers from create-master-sheet.gs exactly for update to find rows\nconst metrics = [\n  { metric: 'Total Active Leads', value: '' },\n  { metric: 'Hot Leads (score >= 7)', value: '' },\n  { metric: 'Warm Leads (score 4-6)', value: '' },\n  { metric: 'Open Deals Count', value: openDeals },\n  { metric: 'Open Deals Value', value: openValue },\n  { metric: 'Closed Won This Month (count)', value: closedWonCount },\n  { metric: 'Closed Won This Month (value)', value: closedWonValue },\n  { metric: 'Active Clients', value: activeClients },\n  { metric: 'Total MRR', value: totalMRR },\n  { metric: 'Average Health Score', value: avgHealth },\n  { metric: 'Overdue Invoices Count', value: '' },\n  { metric: 'Overdue Invoices Value', value: '' },\n  { metric: 'LinkedIn Posts This Month', value: '' },\n  { metric: 'Automations Executed Today', value: '' },\n  { metric: 'Automations Executed This Week', value: '' }\n];\n\nreturn metrics.map(m => ({\n  json: {\n    sheetId: config.google?.masterSheetId,\n    Metric: m.metric,\n    Value: m.value,\n    'Last Updated': now.toISOString()\n  }\n}));"
      },
      "id": "sys09-calc-summary",
      "name": "Calculate Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        910,
        800
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "mode": "id",
          "value": "={{ $json.sheetId }}"
        },
        "sheetName": {
          "mode": "name",
          "value": "Summary"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Metric": "={{ $json.Metric }}",
            "Value": "={{ $json.Value }}",
            "Last Updated": "={{ $json['Last Updated'] }}"
          },
          "matchingColumns": [
            "Metric"
          ]
        },
        "options": {}
      },
      "id": "sys09-update-summary",
      "name": "Update Summary Tab",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1130,
        800
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IJzDJS1jpbItegZD",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "connections": {
    "Deal Stage Change": {
      "main": [
        [
          {
            "node": "Get Config (Deal)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Deal Webhook + Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact Change": {
      "main": [
        [
          {
            "node": "Get Config (Contact)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Contact Webhook + Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 4 Hours": {
      "main": [
        [
          {
            "node": "Get Config (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Config (Deal)": {
      "main": [
        [
          {
            "node": "Merge Deal Webhook + Config",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Deal Webhook + Config": {
      "main": [
        [
          {
            "node": "Format Deal Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Deal Row": {
      "main": [
        [
          {
            "node": "Append to Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Config (Contact)": {
      "main": [
        [
          {
            "node": "Merge Contact Webhook + Config",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Contact Webhook + Config": {
      "main": [
        [
          {
            "node": "Format Contact Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Contact Row": {
      "main": [
        [
          {
            "node": "Append to Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Config (Schedule)": {
      "main": [
        [
          {
            "node": "Fetch All Deals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch All Deals": {
      "main": [
        [
          {
            "node": "Calculate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Summary": {
      "main": [
        [
          {
            "node": "Update Summary Tab",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "pinData": {}
}
