n8n-workflows/07_reporting/SYS 07 — Internal Reporting Dashboard.json
{
  "updatedAt": "2026-04-03T03:42:44.251Z",
  "createdAt": "2026-04-03T01:44:47.283Z",
  "id": "EZe0M0WcHC6bOsdg",
  "name": "SYS 07 — Internal Reporting Dashboard",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "9b0d4673-e9a9-4a9e-9e7d-92598dd4f161",
      "name": "Note — About this workflow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hubspot-deal-stage-change",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "ec9daf27-10b5-445d-9ead-f821dce42fa5",
      "name": "Deal Stage Change",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        176,
        128
      ],
      "webhookId": "900c0cc8-578d-4de9-bab7-a324eb953402"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hubspot-contact-change",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "8a4d3080-4c35-407b-8055-2d10f48963ea",
      "name": "Contact Change",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        176,
        432
      ],
      "webhookId": "8e1deba8-f5cf-4ca7-9226-8723d7dbe98e"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */4 * * *"
            }
          ]
        }
      },
      "id": "26b5b4b4-c9a4-4bee-a2a0-f29a4d468dd1",
      "name": "Every 4 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        176,
        720
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "1eTTVoSFSlSPvZV4",
          "mode": "list",
          "cachedResultUrl": "/workflow/1eTTVoSFSlSPvZV4",
          "cachedResultName": "CONFIG — Global Settings"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "68d55d4d-0aac-41d5-a9df-980911578ed0",
      "name": "Get Config (Deal)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        400,
        208
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "c8869d87-5411-4326-85a8-cf59b6ec68c3",
      "name": "Merge Deal Webhook + Config",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        624,
        128
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "1eTTVoSFSlSPvZV4",
          "mode": "list",
          "cachedResultUrl": "/workflow/1eTTVoSFSlSPvZV4",
          "cachedResultName": "CONFIG — Global Settings"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "642bda70-815e-4f72-b5a9-9bec99008286",
      "name": "Get Config (Contact)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        400,
        496
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "946b1440-a43c-4ac4-83aa-8f83cc914d67",
      "name": "Merge Contact Webhook + Config",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        624,
        432
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "1eTTVoSFSlSPvZV4",
          "mode": "list",
          "cachedResultUrl": "/workflow/1eTTVoSFSlSPvZV4",
          "cachedResultName": "CONFIG — Global Settings"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "65f5b60b-c616-49db-9ced-c546a677fca0",
      "name": "Get Config (Schedule)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        400,
        720
      ]
    },
    {
      "parameters": {
        "jsCode": "// Merged item: webhook payload + CONFIG (n8n only resolves $('...') on nodes that connect to this Code node)\nconst j = $input.first().json;\nconst hub = j.body && typeof j.body === 'object' && (j.body.properties !== undefined || j.body.id !== undefined) ? j.body : j;\nconst props = hub.properties || hub;\nconst sheetId = j.google?.masterSheetId;\nif (!sheetId) throw new Error('Missing google.masterSheetId (merge webhook branch with Get Config output)');\n\nreturn [{\n  json: {\n    sheetId,\n    dealName: props.dealname || '',\n    stage: props.dealstage || '',\n    value: props.amount || 0,\n    closeDate: props.closedate || '',\n    daysInStage: 0,\n    owner: props.hubspot_owner_id || 'John'\n  }\n}];"
      },
      "id": "86a016b5-a2b7-49b5-b492-78d671cbe84d",
      "name": "Format Deal Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        128
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "id",
          "value": "={{ $json.sheetId }}"
        },
        "sheetName": {
          "mode": "name",
          "value": "Pipeline"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Deal Name": "={{ $json.dealName }}",
            "Stage": "={{ $json.stage }}",
            "Value": "={{ $json.value }}",
            "Close Date": "={{ $json.closeDate }}",
            "Days in Stage": "={{ $json.daysInStage }}",
            "Owner": "={{ $json.owner }}"
          }
        },
        "options": {}
      },
      "id": "69a7742d-9811-45c2-bf4b-c53e3d3a1a73",
      "name": "Append to Pipeline",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1072,
        128
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pKS06498CxELp8nS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const j = $input.first().json;\nconst hub = j.body && typeof j.body === 'object' && (j.body.properties !== undefined || j.body.id !== undefined) ? j.body : j;\nconst props = hub.properties || hub;\nconst sheetId = j.google?.masterSheetId;\nif (!sheetId) throw new Error('Missing google.masterSheetId (merge webhook branch with Get Config output)');\n\nreturn [{\n  json: {\n    sheetId,\n    timestamp: new Date().toISOString(),\n    name: `${props.firstname || ''} ${props.lastname || ''}`.trim(),\n    company: props.company || '',\n    industry: props.industry || '',\n    source: props.lead_source || '',\n    leadScore: props.lead_score || 0,\n    status: props.hs_lead_status || props.lead_status || ''\n  }\n}];"
      },
      "id": "70a2fee8-9d18-4d34-b548-92cfc2f4ba07",
      "name": "Format Contact Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        432
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "id",
          "value": "={{ $json.sheetId }}"
        },
        "sheetName": {
          "mode": "name",
          "value": "Leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.timestamp }}",
            "Name": "={{ $json.name }}",
            "Company": "={{ $json.company }}",
            "Industry": "={{ $json.industry }}",
            "Source": "={{ $json.source }}",
            "Lead Score": "={{ $json.leadScore }}",
            "Status": "={{ $json.status }}"
          }
        },
        "options": {}
      },
      "id": "9ddb3b61-137b-4c99-af23-3f01412fbeae",
      "name": "Append to Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1072,
        432
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pKS06498CxELp8nS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "deal",
        "operation": "getAll",
        "limit": 200,
        "filters": {}
      },
      "id": "76f71777-3796-4a8b-a852-46c223fa01f5",
      "name": "Fetch All Deals",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        624,
        720
      ],
      "credentials": {
        "hubspotAppToken": {
          "id": "volH6pGD5psvPC7a",
          "name": "HubSpot App Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const deals = $('Fetch All Deals').all();\n// Get Config is not a direct input; use item linking from the first deal row\nconst config = $('Get Config (Schedule)').itemMatching(0).json;\nconst now = new Date();\n\nlet openDeals = 0, openValue = 0, closedWonCount = 0, closedWonValue = 0;\nlet activeClients = 0, totalMRR = 0, totalHealthScore = 0, healthCount = 0;\n\nfor (const d of deals) {\n  const p = d.json.properties || d.json;\n  const stage = p.dealstage || '';\n  const amount = parseFloat(p.amount) || 0;\n\n  if (['closed_won', 'invoice_sent', 'paid', 'project_complete'].includes(stage)) {\n    activeClients++;\n    totalMRR += parseFloat(p.monthly_retainer) || 0;\n    const hs = parseFloat(p.client_health_score) || 0;\n    if (hs > 0) { totalHealthScore += hs; healthCount++; }\n  }\n\n  if (!['paid', 'lost', 'project_complete'].includes(stage)) {\n    openDeals++;\n    openValue += amount;\n  }\n\n  if (stage === 'closed_won' || stage === 'paid') {\n    closedWonCount++;\n    closedWonValue += amount;\n  }\n}\n\nconst avgHealth = healthCount > 0 ? Math.round(totalHealthScore / healthCount * 10) / 10 : 0;\n\n// Metric names must match Summary tab headers from create-master-sheet.gs exactly for update to find rows\nconst metrics = [\n  { metric: 'Total Active Leads', value: '' },\n  { metric: 'Hot Leads (score >= 7)', value: '' },\n  { metric: 'Warm Leads (score 4-6)', value: '' },\n  { metric: 'Open Deals Count', value: openDeals },\n  { metric: 'Open Deals Value', value: openValue },\n  { metric: 'Closed Won This Month (count)', value: closedWonCount },\n  { metric: 'Closed Won This Month (value)', value: closedWonValue },\n  { metric: 'Active Clients', value: activeClients },\n  { metric: 'Total MRR', value: totalMRR },\n  { metric: 'Average Health Score', value: avgHealth },\n  { metric: 'Overdue Invoices Count', value: '' },\n  { metric: 'Overdue Invoices Value', value: '' },\n  { metric: 'LinkedIn Posts This Month', value: '' },\n  { metric: 'Automations Executed Today', value: '' },\n  { metric: 'Automations Executed This Week', value: '' }\n];\n\nreturn metrics.map(m => ({\n  json: {\n    sheetId: config.google?.masterSheetId,\n    Metric: m.metric,\n    Value: m.value,\n    'Last Updated': now.toISOString()\n  }\n}));"
      },
      "id": "814c4627-dcaa-40d7-b1dc-c5bedf4d600c",
      "name": "Calculate Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        720
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "mode": "id",
          "value": "={{ $json.sheetId }}"
        },
        "sheetName": {
          "mode": "name",
          "value": "Summary"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 0,
            "Metric": "={{ $json.Metric }}",
            "Value": "={{ $json.Value }}",
            "Last Updated": "={{ $json['Last Updated'] }}"
          },
          "matchingColumns": [
            "Metric"
          ],
          "schema": [
            {
              "id": "Metric",
              "displayName": "Metric",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Value",
              "displayName": "Value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Updated",
              "displayName": "Last Updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "37ff83d2-5fcb-41a2-9abf-179f119229f1",
      "name": "Update Summary Tab",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1072,
        720
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pKS06498CxELp8nS",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Deal Stage Change": {
      "main": [
        [
          {
            "node": "Get Config (Deal)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Deal Webhook + Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact Change": {
      "main": [
        [
          {
            "node": "Get Config (Contact)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Contact Webhook + Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 4 Hours": {
      "main": [
        [
          {
            "node": "Get Config (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Config (Deal)": {
      "main": [
        [
          {
            "node": "Merge Deal Webhook + Config",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Deal Webhook + Config": {
      "main": [
        [
          {
            "node": "Format Deal Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Deal Row": {
      "main": [
        [
          {
            "node": "Append to Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Config (Contact)": {
      "main": [
        [
          {
            "node": "Merge Contact Webhook + Config",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Contact Webhook + Config": {
      "main": [
        [
          {
            "node": "Format Contact Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Contact Row": {
      "main": [
        [
          {
            "node": "Append to Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Config (Schedule)": {
      "main": [
        [
          {
            "node": "Fetch All Deals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch All Deals": {
      "main": [
        [
          {
            "node": "Calculate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Summary": {
      "main": [
        [
          {
            "node": "Update Summary Tab",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Every 4 Hours": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "70f22fc5-cb56-45c0-be69-dd57cdfd5efc",
  "activeVersionId": "70f22fc5-cb56-45c0-be69-dd57cdfd5efc",
  "versionCounter": 75,
  "triggerCount": 3,
  "shared": [
    {
      "updatedAt": "2026-04-03T01:44:47.286Z",
      "createdAt": "2026-04-03T01:44:47.286Z",
      "role": "workflow:owner",
      "workflowId": "EZe0M0WcHC6bOsdg",
      "projectId": "o5dYIcHW2mxs82d6",
      "project": {
        "updatedAt": "2026-02-23T01:06:36.093Z",
        "createdAt": "2026-02-23T00:59:28.616Z",
        "id": "o5dYIcHW2mxs82d6",
        "name": "John Schibelli <john.schibelli@intrawebtech.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-03T03:05:40.762Z",
    "createdAt": "2026-04-03T03:05:40.762Z",
    "versionId": "70f22fc5-cb56-45c0-be69-dd57cdfd5efc",
    "workflowId": "EZe0M0WcHC6bOsdg",
    "nodes": [
      {
        "parameters": {},
        "id": "9b0d4673-e9a9-4a9e-9e7d-92598dd4f161",
        "name": "Note — About this workflow",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1.3,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "hubspot-deal-stage-change",
          "responseMode": "lastNode",
          "options": {}
        },
        "id": "ec9daf27-10b5-445d-9ead-f821dce42fa5",
        "name": "Deal Stage Change",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          176,
          128
        ],
        "webhookId": "900c0cc8-578d-4de9-bab7-a324eb953402"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "hubspot-contact-change",
          "responseMode": "lastNode",
          "options": {}
        },
        "id": "8a4d3080-4c35-407b-8055-2d10f48963ea",
        "name": "Contact Change",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          176,
          432
        ],
        "webhookId": "8e1deba8-f5cf-4ca7-9226-8723d7dbe98e"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 */4 * * *"
              }
            ]
          }
        },
        "id": "26b5b4b4-c9a4-4bee-a2a0-f29a4d468dd1",
        "name": "Every 4 Hours",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          176,
          720
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "1eTTVoSFSlSPvZV4",
            "mode": "list",
            "cachedResultUrl": "/workflow/1eTTVoSFSlSPvZV4",
            "cachedResultName": "CONFIG — Global Settings"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "68d55d4d-0aac-41d5-a9df-980911578ed0",
        "name": "Get Config (Deal)",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          400,
          208
        ]
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "id": "c8869d87-5411-4326-85a8-cf59b6ec68c3",
        "name": "Merge Deal Webhook + Config",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          624,
          128
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "1eTTVoSFSlSPvZV4",
            "mode": "list",
            "cachedResultUrl": "/workflow/1eTTVoSFSlSPvZV4",
            "cachedResultName": "CONFIG — Global Settings"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "642bda70-815e-4f72-b5a9-9bec99008286",
        "name": "Get Config (Contact)",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          400,
          496
        ]
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "id": "946b1440-a43c-4ac4-83aa-8f83cc914d67",
        "name": "Merge Contact Webhook + Config",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          624,
          432
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "1eTTVoSFSlSPvZV4",
            "mode": "list",
            "cachedResultUrl": "/workflow/1eTTVoSFSlSPvZV4",
            "cachedResultName": "CONFIG — Global Settings"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "65f5b60b-c616-49db-9ced-c546a677fca0",
        "name": "Get Config (Schedule)",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          400,
          720
        ]
      },
      {
        "parameters": {
          "jsCode": "// Merged item: webhook payload + CONFIG (n8n only resolves $('...') on nodes that connect to this Code node)\nconst j = $input.first().json;\nconst hub = j.body && typeof j.body === 'object' && (j.body.properties !== undefined || j.body.id !== undefined) ? j.body : j;\nconst props = hub.properties || hub;\nconst sheetId = j.google?.masterSheetId;\nif (!sheetId) throw new Error('Missing google.masterSheetId (merge webhook branch with Get Config output)');\n\nreturn [{\n  json: {\n    sheetId,\n    dealName: props.dealname || '',\n    stage: props.dealstage || '',\n    value: props.amount || 0,\n    closeDate: props.closedate || '',\n    daysInStage: 0,\n    owner: props.hubspot_owner_id || 'John'\n  }\n}];"
        },
        "id": "86a016b5-a2b7-49b5-b492-78d671cbe84d",
        "name": "Format Deal Row",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          848,
          128
        ]
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "mode": "id",
            "value": "={{ $json.sheetId }}"
          },
          "sheetName": {
            "mode": "name",
            "value": "Pipeline"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Deal Name": "={{ $json.dealName }}",
              "Stage": "={{ $json.stage }}",
              "Value": "={{ $json.value }}",
              "Close Date": "={{ $json.closeDate }}",
              "Days in Stage": "={{ $json.daysInStage }}",
              "Owner": "={{ $json.owner }}"
            }
          },
          "options": {}
        },
        "id": "69a7742d-9811-45c2-bf4b-c53e3d3a1a73",
        "name": "Append to Pipeline",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          1072,
          128
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "pKS06498CxELp8nS",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const j = $input.first().json;\nconst hub = j.body && typeof j.body === 'object' && (j.body.properties !== undefined || j.body.id !== undefined) ? j.body : j;\nconst props = hub.properties || hub;\nconst sheetId = j.google?.masterSheetId;\nif (!sheetId) throw new Error('Missing google.masterSheetId (merge webhook branch with Get Config output)');\n\nreturn [{\n  json: {\n    sheetId,\n    timestamp: new Date().toISOString(),\n    name: `${props.firstname || ''} ${props.lastname || ''}`.trim(),\n    company: props.company || '',\n    industry: props.industry || '',\n    source: props.lead_source || '',\n    leadScore: props.lead_score || 0,\n    status: props.hs_lead_status || props.lead_status || ''\n  }\n}];"
        },
        "id": "70a2fee8-9d18-4d34-b548-92cfc2f4ba07",
        "name": "Format Contact Row",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          848,
          432
        ]
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "mode": "id",
            "value": "={{ $json.sheetId }}"
          },
          "sheetName": {
            "mode": "name",
            "value": "Leads"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Timestamp": "={{ $json.timestamp }}",
              "Name": "={{ $json.name }}",
              "Company": "={{ $json.company }}",
              "Industry": "={{ $json.industry }}",
              "Source": "={{ $json.source }}",
              "Lead Score": "={{ $json.leadScore }}",
              "Status": "={{ $json.status }}"
            }
          },
          "options": {}
        },
        "id": "9ddb3b61-137b-4c99-af23-3f01412fbeae",
        "name": "Append to Leads",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          1072,
          432
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "pKS06498CxELp8nS",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "appToken",
          "resource": "deal",
          "operation": "getAll",
          "limit": 200,
          "filters": {}
        },
        "id": "76f71777-3796-4a8b-a852-46c223fa01f5",
        "name": "Fetch All Deals",
        "type": "n8n-nodes-base.hubspot",
        "typeVersion": 2.2,
        "position": [
          624,
          720
        ],
        "credentials": {
          "hubspotAppToken": {
            "id": "volH6pGD5psvPC7a",
            "name": "HubSpot App Token account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const deals = $('Fetch All Deals').all();\n// Get Config is not a direct input; use item linking from the first deal row\nconst config = $('Get Config (Schedule)').itemMatching(0).json;\nconst now = new Date();\n\nlet openDeals = 0, openValue = 0, closedWonCount = 0, closedWonValue = 0;\nlet activeClients = 0, totalMRR = 0, totalHealthScore = 0, healthCount = 0;\n\nfor (const d of deals) {\n  const p = d.json.properties || d.json;\n  const stage = p.dealstage || '';\n  const amount = parseFloat(p.amount) || 0;\n\n  if (['closed_won', 'invoice_sent', 'paid', 'project_complete'].includes(stage)) {\n    activeClients++;\n    totalMRR += parseFloat(p.monthly_retainer) || 0;\n    const hs = parseFloat(p.client_health_score) || 0;\n    if (hs > 0) { totalHealthScore += hs; healthCount++; }\n  }\n\n  if (!['paid', 'lost', 'project_complete'].includes(stage)) {\n    openDeals++;\n    openValue += amount;\n  }\n\n  if (stage === 'closed_won' || stage === 'paid') {\n    closedWonCount++;\n    closedWonValue += amount;\n  }\n}\n\nconst avgHealth = healthCount > 0 ? Math.round(totalHealthScore / healthCount * 10) / 10 : 0;\n\n// Metric names must match Summary tab headers from create-master-sheet.gs exactly for update to find rows\nconst metrics = [\n  { metric: 'Total Active Leads', value: '' },\n  { metric: 'Hot Leads (score >= 7)', value: '' },\n  { metric: 'Warm Leads (score 4-6)', value: '' },\n  { metric: 'Open Deals Count', value: openDeals },\n  { metric: 'Open Deals Value', value: openValue },\n  { metric: 'Closed Won This Month (count)', value: closedWonCount },\n  { metric: 'Closed Won This Month (value)', value: closedWonValue },\n  { metric: 'Active Clients', value: activeClients },\n  { metric: 'Total MRR', value: totalMRR },\n  { metric: 'Average Health Score', value: avgHealth },\n  { metric: 'Overdue Invoices Count', value: '' },\n  { metric: 'Overdue Invoices Value', value: '' },\n  { metric: 'LinkedIn Posts This Month', value: '' },\n  { metric: 'Automations Executed Today', value: '' },\n  { metric: 'Automations Executed This Week', value: '' }\n];\n\nreturn metrics.map(m => ({\n  json: {\n    sheetId: config.google?.masterSheetId,\n    Metric: m.metric,\n    Value: m.value,\n    'Last Updated': now.toISOString()\n  }\n}));"
        },
        "id": "814c4627-dcaa-40d7-b1dc-c5bedf4d600c",
        "name": "Calculate Summary",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          848,
          720
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "mode": "id",
            "value": "={{ $json.sheetId }}"
          },
          "sheetName": {
            "mode": "name",
            "value": "Summary"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "row_number": 0,
              "Metric": "={{ $json.Metric }}",
              "Value": "={{ $json.Value }}",
              "Last Updated": "={{ $json['Last Updated'] }}"
            },
            "matchingColumns": [
              "Metric"
            ],
            "schema": [
              {
                "id": "Metric",
                "displayName": "Metric",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Value",
                "displayName": "Value",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Last Updated",
                "displayName": "Last Updated",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "37ff83d2-5fcb-41a2-9abf-179f119229f1",
        "name": "Update Summary Tab",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          1072,
          720
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "pKS06498CxELp8nS",
            "name": "Google Sheets account"
          }
        }
      }
    ],
    "connections": {
      "Deal Stage Change": {
        "main": [
          [
            {
              "node": "Get Config (Deal)",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge Deal Webhook + Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Contact Change": {
        "main": [
          [
            {
              "node": "Get Config (Contact)",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge Contact Webhook + Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Every 4 Hours": {
        "main": [
          [
            {
              "node": "Get Config (Schedule)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Config (Deal)": {
        "main": [
          [
            {
              "node": "Merge Deal Webhook + Config",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge Deal Webhook + Config": {
        "main": [
          [
            {
              "node": "Format Deal Row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Deal Row": {
        "main": [
          [
            {
              "node": "Append to Pipeline",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Config (Contact)": {
        "main": [
          [
            {
              "node": "Merge Contact Webhook + Config",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge Contact Webhook + Config": {
        "main": [
          [
            {
              "node": "Format Contact Row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Contact Row": {
        "main": [
          [
            {
              "node": "Append to Leads",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Config (Schedule)": {
        "main": [
          [
            {
              "node": "Fetch All Deals",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch All Deals": {
        "main": [
          [
            {
              "node": "Calculate Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Calculate Summary": {
        "main": [
          [
            {
              "node": "Update Summary Tab",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "John Schibelli",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-03T03:05:40.808Z",
        "id": 1388,
        "workflowId": "EZe0M0WcHC6bOsdg",
        "versionId": "70f22fc5-cb56-45c0-be69-dd57cdfd5efc",
        "event": "activated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      },
      {
        "createdAt": "2026-04-03T03:06:02.390Z",
        "id": 1448,
        "workflowId": "EZe0M0WcHC6bOsdg",
        "versionId": "70f22fc5-cb56-45c0-be69-dd57cdfd5efc",
        "event": "activated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      },
      {
        "createdAt": "2026-04-03T03:42:44.311Z",
        "id": 1496,
        "workflowId": "EZe0M0WcHC6bOsdg",
        "versionId": "70f22fc5-cb56-45c0-be69-dd57cdfd5efc",
        "event": "activated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      },
      {
        "createdAt": "2026-04-03T03:05:40.793Z",
        "id": 1387,
        "workflowId": "EZe0M0WcHC6bOsdg",
        "versionId": "70f22fc5-cb56-45c0-be69-dd57cdfd5efc",
        "event": "deactivated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      },
      {
        "createdAt": "2026-04-03T03:06:02.369Z",
        "id": 1447,
        "workflowId": "EZe0M0WcHC6bOsdg",
        "versionId": "70f22fc5-cb56-45c0-be69-dd57cdfd5efc",
        "event": "deactivated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      },
      {
        "createdAt": "2026-04-03T03:42:44.296Z",
        "id": 1495,
        "workflowId": "EZe0M0WcHC6bOsdg",
        "versionId": "70f22fc5-cb56-45c0-be69-dd57cdfd5efc",
        "event": "deactivated",
        "userId": "02df643b-02ab-400b-8f54-77d37b6149c4"
      }
    ]
  }
}
